
// TRANSITIONS
.processNodeTransition-enter-active,
.processNodeTransition-leave-active {
  transition: all 0.3s !important;
}

.processNodeTransition-enter {
  opacity: 0;
  background-color: $success;
}

.processNodeTransition-leave-to {
  opacity: 0;
  background-color: $danger;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// START STATE OF ANIMATION
.list-enter{
  opacity: 0;
  background-color: $success !important;
}
// END STATE OF ANIMATION
.list-enter-to {
  opacity: 1;
}
// DURING STATE OF ANIMATION
.list-enter-active{
  transition-duration: 0.5s;
  transition-property: opacity, background-color;
  transition-timing-function: ease; 
}

.list-leave-active {
  background-color: $danger !important;
}

.list-leave-to {
  opacity: 0;
  
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }

  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}