.form-control {
  // underline animation color on focus
  $underline-background-image: linear-gradient(to top,
      $success 1px,
      fade-out($success, 1) 2px),
    linear-gradient(to top,
      $border-color 1px,
      fade-out($border-color, 1) 1px);

  $underline-background-image-invalid: linear-gradient(to top,
      $danger 1px,
      fade-out($danger, 1) 2px),
    linear-gradient(to top,
      $border-color 1px,
      fade-out($border-color, 1) 1px);

  $underline-background-image-readonly: linear-gradient(to top,
      $input-border-color-readonly 1px,
      fade-out($input-border-color-readonly, 1) 1px),
    linear-gradient(to top,
      $border-color 1px,
      fade-out($border-color, 1) 1px);

  $underline-background-image-disabled: linear-gradient(to right,
      $border-color 0%,
      $border-color 30%,
      transparent 30%,
      transparent 100%);

  background: $form-control-bg-repeat-y $form-control-bg-position;
  background-size: $form-control-bg-size;
  
  border: 0px !important;
  border-radius: 0px !important;
  transition: background 0s ease-out!important;
  background-image: $underline-background-image;

  // bg image is always there, we just need to reveal it
  &:focus {
    background-image: $underline-background-image;
    outline: none;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s!important;
    box-shadow: none!important;
  }
  &:required{
    background-image: $underline-background-image-invalid;
  }
  &:required:valid{
    background-image: $underline-background-image;
  }
  &[aria-invalid="true"] {
    background-image: $underline-background-image-invalid;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
  }

  &:read-only {
    // background-image: $underline-background-image-readonly;
  }
  &.light{
    color:$light;
    &:focus{
      color:$dark;
    }
  }
}

select.form-control {
  -moz-appearance: none;
}

input[type='checkbox'].form-control {
  height: unset;
  width: auto !important;
}

/* Form group label */
.form-group {
  margin-left: 0px;
  margin-right: 0px;
  
  position: relative;


  .hint {
    font-style: italic;
    font-size: 0.8em;
  }

  label {
    color: $input-label-color;
    // position: absolute;
    // pointer-events: none;

    // left: $input-padding-x;
    // top: $input-padding-y;

    // @include transition(all .2s ease-out);
  }

  textarea~label {
    // top: -$input-padding-y*2;
    // left: 0px;
    // font-size: 10px;
    color: $input-label-color-valid;
  }

  select~label {
    // top: -$input-padding-y*2;
    // left: 0px;
    // font-size: 10px;
    color: $input-label-color-valid;
  }

  input:-moz-read-only~label {
    // top: -$input-padding-y*2;
    // left: 0px;
    // font-size: 10px;
    color: $input-label-color-valid;
  }

  input:read-only~label {
    // top: -$input-padding-y*2;
    // left: 0px;
    // font-size: 10px;
    color: $input-label-color-valid;
  }

  input:focus~label,
  input:valid~label,
  input:disabled~label,
  input[aria-invalid="true"]~label {
    // top: -$input-padding-y*2;
    // left: 0px;
    // font-size: 10px;
    color: $input-label-color-valid;
  }

  input:optional~label {
    // left: $input-padding-x;
    // top: $input-padding-y;
  }

  input:optional:focus~label,
  input:optional:not([value=""])~label {
    // top: -$input-padding-y*2;
    // left: 0px;
    // font-size: 10px;
    color: $input-label-color-valid;
  }

}
.input-group-prepend {
  margin-right: 2px;
  .btn{
    border-radius: 50px!important;
    &.round{
      max-width: 35px;
      width: 35px;
      height: 35px;
      padding:0px;
      text-align: center;
      .b-icon{
        margin-left:0px;
      }
    }
  }
}
.input-group-append{
  margin-left: 2px;
  .btn{
    border-radius: 50px!important;
    &.round{
      max-width: 35px;
      width: 35px;
      height: 35px;
      padding:0px;
      text-align: center;
      .b-icon{
        margin-left:0px;
      }
    }
  }
  
}

// input type color
.liColor{
  border-radius: 30px!important;
  height: 30px!important;
  width: 30px!important;
  border: 1px solid  $gray-400!important;
  outline: none;
  padding: 5px!important;
  -webkit-appearance: none!important;
  background: none!important;
  cursor: pointer;
  &::-webkit-color-swatch-wrapper {
    padding: 0!important;	
    cursor: pointer;
  }
  &::-webkit-color-swatch {
    border: none;
    cursor: pointer;
    border-radius: 100%;
  }
}