#liModal___BV_modal_outer_{
  // z-index:2000!important;
}
.modal-header{
  border-bottom: none;
}
.modal-backdrop{
  opacity: 1;
  background-color:rgba($primary, .5);
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($primary, 0.6);
  }
}