body {
  &.--apcAsideOpen {
    overflow: hidden;
  }
}

.apcDefaultPresentation {
  .table {
    table{
      width: 100%;
    }
  }
  // CUSTOM SLIDE STYLING
  #customSlide {
    // margin-top: 60px;
    min-height:calc(100vh - 180px);
    // margin-bottom: 100px;
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .grid-stack-item{
    border:0px;
    .grid-stack-item-content{
      display:flex;
      inset:0px!important;
    }
  }
  .apcGrid {
    // margin-top: 50px;
    margin-bottom: 100px;
    .builderWidget{
      display: flex;
      // height: 100%;
      // width: 100%;
      width: 100%;
      // overflow: hidden;
    }
    .ck .ck-editor__top {
      display: none;
    }

    .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected,
    .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover {
      outline-color: transparent;
    }

    .ck .ck-widget.ck-widget_with-selection-handle .ck-widget__selection-handle {
      display: none;
    }

    .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
    .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
      border-radius: 0px;
      border: 0px transparent;
    }
  }
  // WIDGETS
  .liBuilderButtonLive {
    .btn{
      height: fit-content;
    }
  }
  .liBuilderButtonsLive {
    .liButton{
      min-width: 110px;
      margin: 1px;
    }
    &.group{
      .liButton{
        margin-top:0px ;
        margin-left:0px;
        border-radius: 0;
        &:first-child{
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:last-child{
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
    &.vertical{
      .liButton{
        margin-top:10px ;
        margin-left:0px;
        display: block;
        width: 100%;
      }
      &.group{
        .liButton{
          margin-top:0px ;
          margin-left:0px;
          display: block;
          width: 100%;
          border-radius: 0;
          &:first-child{
            border-top-left-radius: 5px;
              border-top-right-radius: 5px;
          }
          &:last-child{
            border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
  .liBuilderFormLive{
    // flex-wrap: wrap;
    display: block;
    .liBuilderListItem{
      display: inline-block;
      width: 100%;
    }
    .form-control{
      background-color: $white;
    }
  }
  // DEFAULT SLIDE STYLING
  #defaultSlide {
    min-height: calc(100vh - 60px);

    .defaultSlideContent {
      .inner {
        margin: 25px 0px;
        position: relative;

        #defaultSlideIcon {
          /* width: 50px; */
          /* height: 50px; */
          border-radius: 25px;
          padding: 4px;
          /* z-index: 10; */
          text-align: center;
          font-size: 21px;
          border: 1px solid $white;
          background-color: $white;
        }

        #defaultHeader {}

        #defaultDescription {}

      }
    }
  }
  #showMore {
    position: absolute;
    bottom: -20px;
    z-index: 502;
    left: 50%;
    transform: translateX(-50%);
    background-color:$white;
  }
  #defaultButtonsInContent {
    position: fixed;
    bottom: 15px;
    z-index: 502;
    background-color: rgba($white, 0.8);
    left: 50%;
    transform: translateX(-50%);

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba($white, 0.5);
    }
    .defaultBtn{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .defaultBtn:not(:last-child) {
      margin-right: 5px;
    }
  }
  #defaultNavigationButtons{
    position: fixed;
    bottom: 15px;
    z-index: 502;
    background-color: rgba($white, 0.8);
    right:15px;
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba($white, 0.5);
    }

    .defaultBtn:not(:last-child) {
      margin-right: 5px;
    }
  }
  
  .btn {
    &.control-btn {
      border-radius: 50%;
      font-size: 12px;
      padding: 5px 0;
      height: 30px;
      width: 30px;

      &.record {
        padding: 7px 0;
        font-size: 8px;
      }

      &.back {
        font-size: 10px;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  // ASIDE CONTAINERS 
  .asideContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1010;
    background-color: $white;
    box-shadow: $box-shadow;
    height: 100vh;
    transition: transform .3s ease-in-out;
    transform: translateX(100%);
    will-change: transform;

    main {
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      /* Lets it scroll lazy */
      height: calc(100% - 66px);
    }
  }

  // PAUSE
  #pauseContainer {
    z-index: 1011;
    box-shadow:unset;
    header,main{
      background-color: $white;
      position: relative;
      z-index: 1;
      
    }
    &.animating {
      width: 50%;
    }
    &.active {
      width: 50%;
      transform: translateX(0px);

    }
    // BREADCRUMBS
  #breadCrumbsContainer {
    position: absolute;
    height: 100vh;
    width: 300px;
    transition-delay: .5s;
    will-change: transform;
    left:0;
    top: 0;
    box-shadow: -15px 0 14px 1px rgba(52, 58, 64, 0.2);
    z-index: -1;
    background-color: $light;
    transition: transform .3s ease-in-out;
    transform: translateX(0);
    &.animating {
      transform: translateX(0);
      width: 300px;
      
    }
    &.active {
      transform: translateX(-300px);
    }
  }
  }
  
  // COMMENTS
  #commentsContainer {
    &.animating {
      width: 400px;
    }

    &.active {
      width: 400px;
      transform: translateX(0px);
    }
  }

  // BACKDROP
  .asideBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1009;
    width: 100vw;
    height: 100vh;
    background-color: rgba($primary, 0.5);

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba($primary, 0.5);
    }

    transition: opacity .3s ease-in-out;
    opacity: 0;
    will-change: opacity;

    &.active {
      opacity: 1;
    }

  }

  // PROCESS
  .liProcessContainer {

    .node-current {
      position: absolute;
      width: #{$nodePortSize*2}px;
      height: #{$nodePortSize*2}px;
      right: - #{$nodePortSize}px;
      top: - #{$nodePortSize}px;
      text-align: center;
      border-radius: 100px;
      display: block;
    }
    .liProcessNode{
      &.note{
        cursor: default!important;
      }
    }
  }

  // CONTROLS
  .liControlContainer {
    &.right {
      right: 15px;
    }
  }

}