.nav-tabs {
    .nav-link{
        &.active{
            background-color: transparent;
            border-color: transparent transparent black transparent;
            font-weight: bold;
        }
        &:hover{
            border-color: transparent transparent black transparent;
        }
    }
}