// CUSTOM FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// BOOTSTRAP VARIABLES
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #3B5A9E !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Body
$body-bg:                   $light;
$body-color:                $gray-900 !default;

// FONTS
$font-family-sans-serif:      'Roboto', sans-serif;
$font-size-base: 0.87rem !default; // Assumes the browser default, typically `16px`
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 300 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// HEADINGS
$headings-font-weight: 100 !default;

// BORDERS
$border-color: $gray-300 !default;

// MODALS


// FORMS


// CUSTOM VARIABLES
$liBuildertoolbarWidth: 150px;
$nodePortSize: 16;

// Forms
$form-control-bg-repeat-y: no-repeat !default;
$form-control-bg-position: left bottom,left calc(100% - 1px) !default;
$form-control-bg-size: 0 100%,100% 100% !default;
$form-control-bg-size-active: 100% 100%,100% 100% !default;
$input-border-color-readonly: $gray-400 !default;
$input-label-color: $gray-900 !default;
$input-label-color-valid: $gray-900 !default;
$input-label-color-focus: $gray-900 !default;

// SHADOW
$box-shadow:                    0px 0px 14px 1px rgba(52, 58, 64, 0.2);