<template>
  <div class="textAreaWithBuilder">
    <textarea class="form-control" v-model="builderContent" @input="emitter" />
    <b-button variant="dark"  @click.prevent="openBuilder">Open builder</b-button>
    <portal to="asidePortal">
      <template v-if="showBuilder">
        <aside class="liBuilderContainer">
          <div class="d-flex h-100 w-100 bg-dark position-absolute loader" v-if="showBuilder && builderContentJSON ===null" style="z-index: 1021">
            <b-spinner class="m-auto" variant="light" type="grow" label="Spinning" ></b-spinner>
          </div>
          <liGridStack v-model="builderContentJSON" v-if="builderContentJSON !=null" @closeBuilder="closeBuilder" />
        </aside>
      </template>
    </portal>
  </div>
</template>
<script>
import { abstractField } from "vue-form-generator";
export default {
  name: "textAreaWithBuilder",
  mixins: [abstractField],
  data() {
    return {
      showBuilder: false,
      builderContent: null,
      builderContentJSON: null,
    };
  },
  mounted() {
    this.builderContent =
      this.value != ""
        ? this._.cloneDeep(this.value)
        : JSON.stringify([]);
  },
  methods: {
    openBuilder() {
      this.showBuilder = !this.showBuilder;
      setTimeout(() => {
        
        this.loadBuilderContent();
      }, 100);
    },
    loadBuilderContent(){
      this.builderContentJSON =
        this._.isEmpty(this.builderContent)
          ? this.builderContent
          : JSON.parse(this.builderContent);
    },
    closeBuilder(commit) {
      if(commit === true){
        this.builderContent = this._.cloneDeep(this.builderContentJSON);
      }
      this.builderContentJSON = null;
      this.emitter();
      this.showBuilder = !this.showBuilder;
    },
    emitter() {
      this.$emit("input", this.builderContent);
    },
  },
  watch: {
    builderContent: function (newValue) {
      this.value = newValue;
    },
    showBuilder() {
      document.body.style.overflow = this.showBuilder ? "hidden" : "";
    },
  },
};
</script>

