<template>
  <b-tab title="Widget settings" class="liWidgetTab liWidgetTabSettings bg-light" v-if=" !_.isEmpty(localValue)" :key="'liWidgetTab'+componentId">
    <b-row>
      <div class="my-2 mx-4 inner">
        <!-- BACKGROUND COLOR -->
        <div class="w-100 d-inline-block p-2 bg-white">
          <div class="w-50 d-inline-block small">
            <b>Background colour</b>
          </div>
          <div class="w-50 d-inline-block text-right">
            <liColorFieldSmall type="sketch" :initialValue="'transparent'" :key="'bgc'+componentId" :size="'xs'" :presetColors="DEFAULT_COLORS" containerClass="" showRemove="0" v-model="localValue.inlineStyles.backgroundColor" class="d-inline-block mr-2" />
          </div>
          <hr class="mt-1">
        </div>
        <!-- /.END BACKGROUND COLOR -->
        <!-- BORDER -->
        <div class="w-100 p-2 mt-3 bg-white">
          <div class="w-100 d-inline-block small">
            <b>Border</b>
            <hr class="mt-1">
          </div>
          <!-- STYLE -->
          <div class="w-50 d-inline-block ">
            <div class="d-inline-block mb-3">
              <label class="small">Style</label>
            </div>
            <div class="d-inline-block mb-3">
              <b-form-select size="sm" v-model="localValue.inlineStyles.borderStyle" :options="borderTypes" @change="widgetSettingsEmitter" :key="'bs'+componentId" class="d-inline-block ml-2" style="max-width: 90px;"/>
            </div>
          </div>
          <div class="w-50 d-inline-block ">
            <!-- COLOUR -->
            <div class="w-50 pr-3  d-inline-block mb-3 text-right">
              <label class="small">Colour</label>
            </div>
            <div class="w-50 d-inline-block mb-3  text-right">
              <liColorFieldSmall type="sketch" :initialValue="'transparent'" :key="'bc'+componentId" :size="'xs'" :presetColors="DEFAULT_COLORS" containerClass="" showRemove="0" v-model="localValue.inlineStyles.borderColor" class="d-inline-block mr-2" />
            </div>
          </div>
          <div class="w-25 d-inline-block mb-2">
            <label class="small">Width</label>
            <div class="d-inline-block cursor-pointer ml-1" @click.prevent="borderSizeLinked">
              <b-iconstack>
                <b-icon stacked icon="link" />
                <b-icon :icon="localValue.settings.borderSizeLinked ? '':'slash-circle'" font-scale="2" variant="danger" shift-h="-3" shift-v="1.5" />
              </b-iconstack>
            </div>
          </div>
          <div class="w-75 d-inline-block mb-2 btn-group-xs text-right">
            <!-- WIDTH -->
            <template v-if="!localValue.settings.borderSizeLinked">
              <b-form-input v-model="localValue.inlineStyles.borderTopWidth" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block mr-2" :key="'bwtop'+componentId" />
              <b-form-input v-model="localValue.inlineStyles.borderRightWidth" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block mr-2" :key="'bwright'+componentId" />
              <b-form-input v-model="localValue.inlineStyles.borderBottomWidth" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block mr-2" :key="'bwbottom'+componentId" />
              <b-form-input v-model="localValue.inlineStyles.borderLeftWidth" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block" :key="'bwleft'+componentId" />
            </template>
            <template v-else>
              <b-form-input v-model="localValue.inlineStyles.borderWidth" @input="widgetSettingsEmitter" size="sm" class="bg-light w-25 d-inline" :key="'bw'+componentId" />
            </template>
          </div>
          <!-- RADIUS -->
          <div class="w-25 d-inline-block mb-2">
            <label class="small">Radius</label>
            <div class="d-inline-block cursor-pointer ml-1" @click.prevent="borderRadiusLinked">
              <b-iconstack>
                <b-icon stacked icon="link" />
                <b-icon :icon="localValue.settings.borderRadiusLinked ? '':'slash-circle'" variant="danger" font-scale="2" shift-h="-3" shift-v="1.5" />
              </b-iconstack>
            </div>
          </div>
          <div class="w-75 d-inline-block mb-2 btn-group-xs text-right">
            <template v-if="!localValue.settings.borderRadiusLinked">
              <b-form-input v-model="localValue.inlineStyles.borderTopLeftRadius" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block mr-2" :key="'brtop'+componentId" />
              <b-form-input v-model="localValue.inlineStyles.borderTopRightRadius" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block mr-2" :key="'brright'+componentId" />
              <b-form-input v-model="localValue.inlineStyles.borderBottomRightRadius" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light d-inline-block mr-2" :key="'brbottom'+componentId" />
              <b-form-input v-model="localValue.inlineStyles.borderBottomLeftRadius" @input="widgetSettingsEmitter" size="sm" style="width:20%;" class="bg-light  d-inline-block" :key="'brleft'+componentId" />
            </template>
            <template v-else>
              <b-form-input v-model="localValue.inlineStyles.borderRadius" @input="widgetSettingsEmitter" size="sm" class="bg-light w-25 d-inline" :key="'br'+componentId" />
            </template>
          </div>
        </div>
        <!-- /.END BORDER -->
        <!-- ALIGN -->
        <div class="w-100 p-2 mt-3 bg-white">
          <div class="w-100 d-inline-block small">
            <b>Align</b>
            <hr class="mt-1">
          </div>
          <div class="w-25 d-inline-block mb-2">
            <label class="small">Horizontal</label>
          </div>
          <div class="w-75 d-inline-block mb-2 btn-group-xs text-right">
            <b-button-group>
              <b-button :class="localValue.classes.horizontalAlign == horizontalAlignTypes[1]? 'active' :'' " @click.prevent="horizontalAlign(1)">
                <b-icon icon="align-start" />
              </b-button>
              <b-button :class="localValue.classes.horizontalAlign == horizontalAlignTypes[2]? 'active' :'' " @click.prevent="horizontalAlign(2)">
                <b-icon icon="align-center" />
              </b-button>
              <b-button :class="localValue.classes.horizontalAlign == horizontalAlignTypes[3]? 'active' :'' " @click.prevent="horizontalAlign(3)">
                <b-icon icon="align-end" />
              </b-button>
              <b-button variant="outline-none" @click.prevent="horizontalAlign(horizontalAlignTypes[0])">
                <b-icon icon="x" />
              </b-button>
            </b-button-group>
          </div>
          <div class="w-25 d-inline-block mb-2">
            <label class="small">Vertical</label>
          </div>
          <div class="w-75 d-inline-block mb-2 btn-group-xs text-right">
            <b-button-group>
              <b-button :class="localValue.classes.verticalAlign == verticalAlignTypes[1]? 'active' :'' " @click.prevent="verticalAlign(1)">
                <b-icon icon="align-top" />
              </b-button>
              <b-button :class="localValue.classes.verticalAlign == verticalAlignTypes[2]? 'active' :'' " @click.prevent="verticalAlign(2)">
                <b-icon icon="align-middle" />
              </b-button>
              <b-button :class="localValue.classes.verticalAlign == verticalAlignTypes[3]? 'active' :'' " @click.prevent="verticalAlign(3)">
                <b-icon icon="align-bottom" />
              </b-button>
              <b-button variant="outline-none" @click.prevent="verticalAlign(verticalAlignTypes[0])">
                <b-icon icon="x" />
              </b-button>
            </b-button-group>
          </div>
        </div>
        <!-- /. END ALIGN -->
        <!-- BOX MODEL -->
        <div class="w-100 p-2 mt-3 bg-white">
          <div class="w-100 d-inline-block small">
            <b>Box model</b>
            <hr class="mt-1">
          </div>
          <div class="grid-container  w-100">
            <!-- POSITION -->
            <div class="c p p-top">
              <b-form-input v-model="localValue.inlineStyles.top" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'top'+componentId" />
            </div>
            <div class="c p p-right d-flex">
              <b-form-input v-model="localValue.inlineStyles.right" @input="widgetSettingsEmitter" size="sm" class="bg-white my-auto" :key="'right'+componentId" />
            </div>
            <div class="c p p-bottom">
              <b-form-input v-model="localValue.inlineStyles.bottom" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'bottom'+componentId" />
            </div>
            <div class="c p p-left d-flex">
              <b-form-input v-model="localValue.inlineStyles.left" @input="widgetSettingsEmitter" size="sm" class="bg-white my-auto" :key="'left'+componentId" />
            </div>
            <!-- MARGIN -->
            <div class="c m m-top">
              <template v-if="!localValue.settings.marginLinked">
                <b-form-input v-model="localValue.inlineStyles.marginTop" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'mtop'+componentId" />
              </template>
              <template v-else>
                <b-form-input v-model="localValue.inlineStyles.margin" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'m'+componentId" />
              </template>
            </div>
            <div class="c m m-right d-flex">
              <template v-if="!localValue.settings.marginLinked">
                <b-form-input v-model="localValue.inlineStyles.marginRight" @input="widgetSettingsEmitter" size="sm" class="bg-white my-auto" :key="'mright'+componentId" />
              </template>
            </div>
            <div class="c m m-bottom">
              <template v-if="!localValue.settings.marginLinked">
                <b-form-input v-model="localValue.inlineStyles.marginBottom" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'mbottom'+componentId" />
              </template>
            </div>
            <div class="c m m-left d-flex">
              <template v-if="!localValue.settings.marginLinked">
                <b-form-input v-model="localValue.inlineStyles.marginLeft" @input="widgetSettingsEmitter" size="sm" class="bg-white my-auto" :key="'mleft'+componentId" />
              </template>
            </div>
            <!-- PADDING -->
            <div class="c pa pa-top">
              <template v-if="!localValue.settings.paddingLinked">
                <b-form-input v-model="localValue.inlineStyles.paddingTop" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'patop'+componentId" />
              </template>
              <template v-else>
                <b-form-input v-model="localValue.inlineStyles.padding" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'pa'+componentId" />
              </template>
            </div>
            <div class="c pa pa-right d-flex">
              <template v-if="!localValue.settings.paddingLinked">
                <b-form-input v-model="localValue.inlineStyles.paddingRight" @input="widgetSettingsEmitter" size="sm" class="bg-white my-auto" :key="'paRight'+componentId" />
              </template>
            </div>
            <div class="c pa pa-bottom">
              <template v-if="!localValue.settings.paddingLinked">
                <b-form-input v-model="localValue.inlineStyles.paddingBottom" @input="widgetSettingsEmitter" size="sm" class="bg-white" :key="'pbottom'+componentId" />
              </template>
            </div>
            <div class="c pa pa-left d-flex">
              <template v-if="!localValue.settings.paddingLinked">
                <b-form-input v-model="localValue.inlineStyles.paddingLeft" @input="widgetSettingsEmitter" size="sm" class="bg-white my-auto" :key="'pleft'+componentId" />
              </template>
            </div>
            <div class="c p label p-name">Position</div>
            <div class="c m label m-name">Margin</div>
            <div class="c pa label  pa-name">Padding</div>
            <div class="c p p-fill-1"></div>
            <div class="c p p-fill-2"></div>
            <div class="c p p-fill-3"></div>
            <div class="c p p-fill-4"></div>
            <div class="c p p-fill-5"></div>
            <div class="c p p-fill-6"></div>
            <div class="c p p-fill-7"></div>
            <div class="c m m-fill-1"></div>
            <div class="c m m-fill-2">
              <div class="d-inline-block cursor-pointer ml-1" @click.prevent="marginLinked">
                <b-iconstack>
                  <b-icon stacked icon="link" />
                  <b-icon :icon="localValue.settings.marginLinked ? '':'slash-circle'" font-scale="2" variant="danger" shift-h="-3" shift-v="1.5" />
                </b-iconstack>
              </div>

            </div>
            <div class="c m m-fill-3"></div>
            <div class="c m m-fill-4"></div>
            <div class="c m m-fill-5"></div>
            <div class="c m m-fill-6"></div>
            <div class="c m m-fill-7"></div>
            <div class="c pa pa-fill-1">
              <div class="d-inline-block cursor-pointer ml-1" @click.prevent="paddingLinked">
                <b-iconstack>
                  <b-icon stacked icon="link" />
                  <b-icon :icon="localValue.settings.paddingLinked ? '':'slash-circle'" variant="danger" font-scale="2" shift-h="-3" shift-v="1.5" />
                </b-iconstack>
              </div>
            </div>
            <div class="c pa pa-fill-2"></div>
            <div class="c pa pa-fill-3"></div>
            <div class="center"></div>
          </div>
        </div>
        <!-- /. END BOX MODEL -->
      </div>
    </b-row>
  </b-tab>
</template>
<script>
export default {
  name: "liWidgetTabSettings",
  data() {
    return {
      localValue: null,
      popoverID: this.generateUUID(),
      borderTypes: [
        { value: null, text: "None" },
        { value: "solid", text: "Solid" },
        { value: "dotted", text: "Dotted" },
        { value: "dashed", text: "Dashed" },
      ],
      horizontalAlignTypes: [
        false,
        "justify-content-start",
        "justify-content-center",
        "justify-content-end",
      ],
      verticalAlignTypes: [
        false,
        "align-items-start",
        "align-items-center",
        "align-items-end",
      ],
    };
  },
  props: {
    value: null,
    componentId: null,
  },
  mounted() {
    this.localValue = this.value;
  },
  activated() {
    this.localValue = this.value;
  },
  methods: {
    computeBorderStyle() {
      return (
        "height:1px; width:30px; border-top:1px " +
        this.localValue.inlineStyles.borderStyle +
        " #ffffff;"
      );
    },
    paddingLinked() {
      this.localValue.settings.paddingLinked = !this.localValue.settings
        .paddingLinked;
      if (this.localValue.settings.paddingLinked) {
        this.localValue.inlineStyles.paddingTop = "";
        this.localValue.inlineStyles.paddingRight = "";
        this.localValue.inlineStyles.paddingBottom = "";
        this.localValue.inlineStyles.paddingLeft = "";
      } else {
        this.localValue.inlineStyles.padding = "";
      }
      this.widgetSettingsEmitter();
    },
    marginLinked() {
      this.localValue.settings.marginLinked = !this.localValue.settings
        .marginLinked;
      if (this.localValue.settings.marginLinked) {
        this.localValue.inlineStyles.marginTop = "";
        this.localValue.inlineStyles.marginRight = "";
        this.localValue.inlineStyles.marginBottom = "";
        this.localValue.inlineStyles.marginLeft = "";
      } else {
        this.localValue.inlineStyles.margin = "";
      }
      this.widgetSettingsEmitter();
    },
    borderRadiusLinked() {
      this.localValue.settings.borderRadiusLinked = !this.localValue.settings
        .borderRadiusLinked;
      if (this.localValue.settings.borderRadiusLinked) {
        this.localValue.inlineStyles.borderTopLeftRadius = "";
        this.localValue.inlineStyles.borderTopRightRadius = "";
        this.localValue.inlineStyles.borderBottomRightRadius = "";
        this.localValue.inlineStyles.borderBottomLeftRadius = "";
      } else {
        this.localValue.inlineStyles.borderRadius = "";
      }
      this.widgetSettingsEmitter();
    },
    borderSizeLinked() {
      this.localValue.settings.borderSizeLinked = !this.localValue.settings
        .borderSizeLinked;
      if (this.localValue.settings.borderSizeLinked) {
        this.localValue.inlineStyles.borderTopWidth = "";
        this.localValue.inlineStyles.borderRightWidth = "";
        this.localValue.inlineStyles.borderBottomWidth = "";
        this.localValue.inlineStyles.borderBottomWidth = "";
      } else {
        this.localValue.inlineStyles.borderWidth = "";
      }
      this.widgetSettingsEmitter();
    },
    horizontalAlign(index) {
      this.localValue.classes.horizontalAlign = this.horizontalAlignTypes[
        index
      ];
      this.widgetSettingsEmitter();
    },
    verticalAlign(index) {
      this.localValue.classes.verticalAlign = this.verticalAlignTypes[index];
      this.widgetSettingsEmitter();
    },
    widgetSettingsEmitter() {
      console.log("WidgetSettings, emitter", this.localValue);
      this.$emit("widgetSettingsChange", this.localValue);
    },
  },
};
</script>
<style >
.grid-stack-item.active {
  box-shadow: 0 0 0 5px rgba(59, 90, 158, 0.4);
}
.liWidgetTab .inner {
  height: calc(100vh - 92px);
  overflow: auto;
  padding-bottom: 50px;
}
.btn-group-xs .btn-group .btn {
  padding: 5px;
  font-size: 9px;
}
.liBuilderContainer .liBuilderGridStack {
  width: calc(100% - 360px);
  margin-top: 55px;
  margin-left: 50px;
  max-width: 1140px;
}
@media (min-width: 1600px) {
  .liBuilderContainer .liBuilderGridStack {
    width: 1140px;
    margin-left: calc(50% - 150px);
    transform: translateX(-50%);
    min-width: 1140px;
  }
}
.liBuilderGridStackWidgetSettings {
  position: fixed;
  top: 44px;
  right: 0px;
  padding-top: 15px;
  background: #fff;
  min-height: calc(100vh - 50px);
  width: 300px;
  box-shadow: 0px 12px 14px -1px rgba(52, 58, 64, 0.2) !important;
}

</style>