<template>
  <div
    class="liProcessNode"
    :style="nodeStyle"
    :class="{
      selected:
        options.selected != null &&
        options.selected.properties.id === node.properties.id,
      start: node.properties.start == 1,
      icon: node.properties.icon != null && node.properties.icon != '',
      portal: node.properties.type == 1,
      note: node.properties.type == 2,
      ifelse: node.properties.type == 4,
      higlightedBg:
        highlightedNodes.index1 != null &&
        highlightedNodes.index1.includes(node.properties.identifier),
      higlightedText:
        highlightedNodes.index2 != null &&
        highlightedNodes.index2.includes(node.properties.identifier),
      higlightedIcon:
        highlightedNodes.index3 != null &&
        highlightedNodes.index3.includes(node.properties.identifier),
    }"
    @mousedown.exact.prevent="handleMousedown"
    @mousedown.alt.prevent="handleMousedownalt"
    @mouseover="handleMouseOver"
    @mouseleave="handleMouseLeave"
    @mouseup.prevent="inputMouseUp"
  >
    <div
      class="node-main"
      :style="node.properties.type == 4 ? borderColorStyle : ''"
    >
    
      <!-- icon -->
      <!-- type: {{node.properties.type}} -->
      <span
        v-if="
          (node.properties.type == 0 || node.properties.type == 3) &&
            node.properties.icon != null &&
            node.properties.icon != ''
        "
        :class="node.properties.icon"
        class="node-icon"
        :style="'color:' + node.properties.colour"
      />
      <!-- IF ELSE NODE -->
      <span
        v-if="node.properties.type == 4"
        :class="
          node.properties.icon != null && node.properties.icon != ''
            ? node.properties.icon
            : 'fas fa-question'
        "
        class="node-icon"
        :style="'color:' + node.properties.colour"
      />
      <!-- label -->
      <div
        class="node-label"
        v-if="node.properties.type != 2"
        :style="'color:' + node.properties.textcolour"
      >
        <!-- DEFAULT OR CUSTOM -->
        <template
          v-if="
            (node.properties.type == 0 || node.properties.type == 3) &&
              !_.isEmpty(node.properties.name)
          "
        >
          
          {{ truncateString(node.properties.name, 30) }}
        </template>
        <!-- PORTAL -->
        <template
          v-else-if="
            node.properties.type == 1 && !_.isEmpty(node.properties.name)
          "
        >
        
          {{ truncateString(node.properties.name, 15) }}
        </template>
      </div>
      <!-- NOTE -->
      <div v-if="node.properties.type == 2" class="node-description">
        <div class="inner" v-html="node.properties.description"></div>
      </div>
    </div>
    <!-- CURRENT SLIDE? -->
    <b-icon
      icon="circle-fill"
      variant="success"
      class="node-current"
      animation="throb"
      v-if="
        options.selected != null &&
          options.selected.properties.id === node.properties.id
      "
    />
    <!-- link output -->
      
    <div
      v-if="show.port" 
      class="node-port node-output"
      @mousedown.prevent="outputMouseDown"
      @mouseover="handleMouseOver"
    >
      <b-icon-caret-down-fill variant="primary" class="node-port-icon" />
    </div>
     <div v-if="notes.length >= 1" class="node-notes">
       {{notes.length}}
     </div>
    <div
      v-if="node.properties.type == 3"
      class="node-custom-content"
      :style="{ 
        color: `${node.properties.colour}!important`,
        borderColor: `${node.properties.colour}!important`}"
      >
      <b-icon
        :icon="node.properties.content == '[]' ? 'square' : 'columns'"
        class="custom-content-icon"
      />
    </div>
    <!-- start? -->
    <div v-if="node.properties.start == 1" class="node-start">
      <b-icon-circle-fill variant="primary" class="start-icon" />
    </div>
    <!-- portal? -->
    <div v-if="node.properties.type == 1" class="node-portal">
      <b-icon-signpost-fill variant="primary" class="portal-icon" />
    </div>
    <!-- note? -->
    <div v-if="node.properties.type == 2" class="node-note">
      <b-icon-pencil-fill class="note-icon" />
    </div>
  </div>
</template>
<script>
export default {
  name: "liProcessNode",
  props: {
    node: null,
    options: null,
    selected: null,
    highlightedNodes: null,
  },
  data() {
    return {
      show: {
        port: false,
      },
    };
  },
  computed: {
    notes(){
      
        return this.$store.getters["liDynamic/getFilteredNotes"](
          this.node.properties.identifier
        );
    },
    nodeStyle() {
      return {
        top:
          this.options.centerY +
          Number(this.node.properties.y) * this.options.scale +
          "px",
        left:
          this.options.centerX +
          Number(this.node.properties.x) * this.options.scale +
          "px",
        transform:
          this.node.properties.type == 1
            ? `translateX(${this.options.scale * 40}px) scale(${
                this.options.scale
              })`
            : `scale(${this.options.scale})`,
        borderColor: `${this.node.properties.colour}!important`,
      };
    },
    borderColorStyle() {
      return {
        border: `1px solid`,
        borderColor: `${this.node.properties.colour}!important`,
      };
    },
  },
  methods: {
    // editNode() {
    //   this.$emit("editNode");
    // },
    handleMousedownalt(e) {
      this.$emit("nodeClone", e);
    },
    handleMousedown(e) {
      const target = e.target || e.srcElement;
      if (
        target.className.indexOf("node-input") < 0 &&
        target.className.indexOf("node-output") < 0
      ) {
        this.$emit("nodeSelect", e);
      }
    },
    handleMouseOver() {
      this.show.port = true;
    },
    handleMouseLeave() {
      
      this._.delay(()=> {
        this.show.port = false;
      }, 500);
      
    },
    outputMouseDown() {
      this.$emit("linkingStart");
    },
    inputMouseUp() {
      if (this.node.type != 2) {
        this.$emit("linkingStop");
      }
    },
  },
};
</script>
<style lang="css">
.higlightedBg {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(59, 90, 158, 0.1) 10px,
    rgba(59, 90, 158, 0.1) 20px
  ) !important;
  background-size: 200% 200%;
  animation: barberpole 8s linear infinite;
  -webkit-animation: barberpole 8s linear infinite;
}
.higlightedText {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(59, 90, 158, 0.1) 10px,
    rgba(59, 90, 158, 0.1) 20px
  ) !important;
  background-size: 200% 200%;
  animation: barberpole 8s linear infinite;
  -webkit-animation: barberpole 8s linear infinite;
}
.higlightedIcon {
  background-image: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 10px,
    rgba(59, 90, 158, 0.1) 10px,
    rgba(59, 90, 158, 0.1) 20px
  ) !important;
  background-size: 200% 200%;
  animation: barberpole 8s linear infinite;
  -webkit-animation: barberpole 8s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
</style>
