<template>
  <div
    class="liProcessContainer"
    @mousemove="handleMove"
    @mouseup="handleUp"
    @mousedown="handleDown"
  >
    <!-- @touchstart="touchStartAction"
    @touchmove="touchMoveAction"
    @touchend="touchEndAction"
    @touchcancel="touchEndAction" -->
    <!-- <template v-if="showNodeLinks == '1'">
        <template   v-for="(link, index) in lines">
        <pre :key="index">
        {{link}}
        </pre>
        </template>
        </template> -->
    <!-- // LINKS -->
    <svg width="100%" :height="`${height}px`" class="liProcessLinks">
      <defs>
        <!-- arrowhead marker definition -->
        <marker
          id="arrow"
          viewBox="0 0 10 10"
          refX="5"
          refY="5"
          markerWidth="10"
          markerHeight="10"
          orient="auto-start-reverse"
        >
          <path d="M 0 0 L 10 5 L 0 10 z" class="liSvgFillDark" />
        </marker>
        <!-- dot marker definition -->
        <marker
          id="dot"
          viewBox="0 0 20 20"
          refX="5"
          refY="5"
          markerWidth="15"
          markerHeight="15"
        >
          <g>
            <path
              fill-rule="evenodd"
              class="liSvgFillDanger"
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            ></path>
          </g>
        </marker>
        <!-- background color for text -->
        <filter x="0" y="0" width="1" height="1" id="textBg">
          <feFlood flood-color="#f8f9fa" />
          <feComposite in="SourceGraphic" operator="atop" />
        </filter>
      </defs>
      <!--  -->
      <template v-if="showNodeLinks == '1'">
        <liProcessLink
          v-for="(link, index) in lines"
          :showNodeLinkLabels="showNodeLinkLabels"
          :key="`link${index}`"
          :options="linkOptions"
          :link="link"
          :ref="'link' + link.id"
          @deleteLink="linkDelete(link)"
          @editLink="linkEdit(link)"
        />
      </template>

      <template v-if="showNodeContentLinks == '1' && linesInContent != null">
        <liProcessLink
          v-for="(linkInContent, index) in linesInContent"
          :showNodeContentLinkLabels="showNodeContentLinkLabels"
          :key="`linkInContent${index}`"
          :options="linkOptions"
          :link="linkInContent"
          :ref="'linkInContent' + linkInContent.id"
          @deleteLink="linkDelete(linkInContent)"
          @editLink="linkEdit(linkInContent)"
        />
      </template>
    </svg>
    <!-- // NODES -->
    <transition-group name="processNodeTransition">
      <liProcessNode
        v-for="node in process.nodes"
        :ref="`node${node.properties.id}`"
        :options="nodeOptions"
        :node="node"
        :key="`node${node.properties.id}`"
        :selected="node.selected"
        :highlightedNodes="highlightedNodes"
        @linkingStart="linkingStart(node)"
        @linkingStop="linkingStop(node)"
        @nodeSelect="nodeSelect(node, $event)"
        @nodeClone="nodeClone(node, $event)"
      />
    </transition-group>
  </div>
</template>
<script>
import { getMousePosition } from "./liPositions.js";

export default {
  name: "liProcess",
  props: {
    highlightedNodes: null,
    showNodeContentLinks: null,
    showNodeContentLinkLabels: null,
    showNodeLinks: null,
    showNodeLinkLabels: null,
    process: null,
    canvasDefault: null,
    nodesAdditionalName: null,
    nodesObject: null,
    nodeSelected: null,
    linksObject: null,
    linksAdditionalName: null,
    linkSelected: null,
    parentIdentifier: null,
    parentIdentifierValue: null,
    linksInContent: null,
    height: {
      type: Number,
      default: 400,
    },
  },
  data() {
    return {
      action: {
        linking: false,
        dragging: false,
        scrolling: false,
        selected: null,
      },
      mouse: {
        x: 0,
        y: 0,
        lastX: 0,
        lastY: 0,
      },
      draggingLink: null,
      rootDivOffset: {
        top: 0,
        left: 0,
      },
      fromToLinks: [],
      fromToLinksInContent: [],
    };
  },
  computed: {
    nodeOptions() {
      return {
        centerY: this.canvasDefault.centerY,
        centerX: this.canvasDefault.centerX,
        scale: this.canvasDefault.scale,
        offsetTop: this.rootDivOffset.top,
        offsetLeft: this.rootDivOffset.left,
        selected: this.action.selected,
        // simulation: this.simulation,
      };
    },
    linkOptions() {
      return {
        centerY: this.canvasDefault.centerY,
        centerX: this.canvasDefault.centerX,
        scale: this.canvasDefault.scale,
        // simulation: this.simulation,
        linkSelected: this.linkSelected,
      };
    },
    svgOption() {
      return "transform: scale(" + this.canvasDefault.scale + ");";
    },
    lines() {
      const lines = this.process.links.map((link) => {
        const fromNode = this.findNodeWithID(link.properties.from);
        const toNode = this.findNodeWithID(link.properties.to);
        const toSelf =
          link.properties.from == link.properties.to ? true : false;

        let fromTo = false;
        if (
          !this.fromToLinks.includes(
            link.properties.from + "=>" + link.properties.to
          )
        ) {
          let node = this.process.links.find((link_item) => {
            return (
              link_item.properties.to === link.properties.from &&
              link_item.properties.from === link.properties.to
            );
          });
          if (node != undefined) {
            this.fromToLinks.push(
              link.properties.to + "=>" + link.properties.from
            );
            fromTo = true;
          }
        }
        let x, y, cy, cx, ex, ey, anchorFrom, anchorTo;
        if (!this._.isEmpty(toNode) && !this._.isEmpty(fromNode)) {
          if (Number(fromNode.properties.y) > Number(toNode.properties.y)) {
            anchorTo = "bottom";
            anchorFrom = "top";
          } else {
            anchorTo = "top";
            anchorFrom = "bottom";
          }
          x = Number(
            this.canvasDefault.centerX +
              Number(fromNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(fromNode.properties.y) * this.canvasDefault.scale
          );
          [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
          x = Number(
            this.canvasDefault.centerX +
              Number(toNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(toNode.properties.y) * this.canvasDefault.scale
          );
          [ex, ey] = this.getPortPosition(anchorTo, Number(x), Number(y));
          return {
            id: link.properties.id,
            start: [cx, cy],
            end: [ex, ey],
            self: toSelf,
            bgColour: link.properties.bgColour,
            textColour: link.properties.textColour,
            toNodeType: toNode.properties.type,
            fromNodeType: fromNode.properties.type,
            type: "link",
            contentLink: false,
            target: link.properties.target,
            fromTo: fromTo,
            name: link.properties.name,
            anchorPositions: [anchorTo, anchorFrom],
          };
        } else if (this._.isEmpty(toNode) && !this._.isEmpty(fromNode)) {
          // console.log(
          //   "Problem with To",
          //   link.properties.id,
          //   link.properties.to
          // );
          anchorTo = "top";
          anchorFrom = "bottom";

          x = Number(
            this.canvasDefault.centerX +
              Number(fromNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(fromNode.properties.y) * this.canvasDefault.scale
          );
          [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
          [ex, ey] = this.getPortPosition(
            anchorTo,
            Number(x + 100),
            Number(y + 100)
          );
          return {
            id: link.properties.id,
            start: [cx, cy],
            end: [ex, ey],
            self: toSelf,
            bgColour: "#dc3545",
            textColour: "#dc3545",
            toNodeType: 0,
            fromNodeType: 0,
            type: "deadlink",
            contentLink: false,
            target: null,
            fromTo: false,
            name: "deadlink",
            anchorPositions: [anchorTo, anchorFrom],
          };
        } else if (this._.isEmpty(fromNode) && !this._.isEmpty(toNode)) {
          // console.log('Problem with From',link.properties.id,link.properties.from);
          this.badLinkDelete(link);
        } else {
          console.log(
            "Problem with From and To",
            link.properties.id,
            "from " + link.properties.from,
            "to " + link.properties.to
          );
          this.badLinkDelete(link);
        }
      });
      // console.log('END -----');
      if (this.draggingLink) {
        let x, y, cy, cx;
        const fromNode = this.draggingLink.node.properties;
        x = Number(
          this.canvasDefault.centerX +
            Number(fromNode.x) * this.canvasDefault.scale
        );
        y = Number(
          this.canvasDefault.centerY +
            Number(fromNode.y) * this.canvasDefault.scale
        );
        [cx, cy] = this.getPortPosition("bottom", x, y);
        // push temp dragging link, mouse cursor postion = link end postion
        lines.push({
          start: [cx, cy],
          end: [this.draggingLink.mx, this.draggingLink.my],
          fromNodeType: 0,
          toNodeType: 0,
        });
        // console.log(link);
      }
      return lines;
    },
    linesInContent() {
      // console.log(this.linksInContent);
      const lines = this.linksInContent.map((link) => {
        const fromNode = this.findNodeWithID(link.from);
        const toNode = this.findNodeWithID(link.to);
        // console.log(link);
        if (!this._.isEmpty(link.to) && !this._.isEmpty(toNode)) {
          const toSelf = link.from == link.to ? true : false;
          let fromTo = false;
          if (!this.fromToLinksInContent.includes(link.from + "=>" + link.to)) {
            let node = this.process.links.find((link_item) => {
              return link_item.to === link.from && link_item.from === link.to;
            });
            if (node != undefined) {
              this.fromToLinksInContent.push(link.to + "=>" + link.from);
              fromTo = true;
            }
          }
          let x, y, cy, cx, ex, ey, anchorFrom, anchorTo;
          if (Number(fromNode.y) > Number(toNode.y)) {
            anchorTo = "bottom";
            anchorFrom = "top";
          } else {
            anchorTo = "top";
            anchorFrom = "bottom";
          }
          x = Number(
            this.canvasDefault.centerX +
              Number(fromNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(fromNode.properties.y) * this.canvasDefault.scale
          );
          [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
          x = Number(
            this.canvasDefault.centerX +
              Number(toNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(toNode.properties.y) * this.canvasDefault.scale
          );
          [ex, ey] = this.getPortPosition(anchorTo, Number(x), Number(y));
          let offsetCalc = (180 / 100) * (37 * this.canvasDefault.scale);
          return {
            id: link.id,
            start: [cx + offsetCalc, cy],
            end: [ex, ey],
            self: toSelf,
            bgColour: link.bgColour,
            textColour: link.textColour,
            type: "linkInContent",
            toNodeType: toNode.properties.type,
            fromNodeType: fromNode.properties.type,
            contentLink: true,
            target: link.target,
            fromTo: fromTo,
            name: link.name,
            anchorPositions: [anchorTo, anchorFrom],
          };
        } else {
          let x, y, cy, cx, anchorFrom, ey;
          anchorFrom = "bottom";
          x = Number(
            this.canvasDefault.centerX +
              Number(fromNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(fromNode.properties.y) * this.canvasDefault.scale
          );
          [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
          ey = y;
          let offsetCalc = (180 / 100) * (37 * this.canvasDefault.scale);

          return {
            id: link.id,
            start: [cx + offsetCalc, cy],
            end: [cx + offsetCalc, ey - offsetCalc],
            self: false,
            bgColour: "#ff0000",
            textColour: link.textColour,
            type: "deadlink",
            toNodeType: null,
            fromNodeType: fromNode.properties.type,
            contentLink: true,
            target: link.target,
            fromTo: false,
            name: link.name,
            anchorPositions: [0, anchorFrom],
          };
        }
      });
      if (this.draggingLink) {
        let x, y, cy, cx;
        const fromNode = this.draggingLink.node;
        x = Number(
          this.canvasDefault.centerX +
            Number(fromNode.x) * this.canvasDefault.scale
        );
        y = Number(
          this.canvasDefault.centerY +
            Number(fromNode.y) * this.canvasDefault.scale
        );
        [cx, cy] = this.getPortPosition("bottom", x, y);
        // push temp dragging link, mouse cursor postion = link end postion
        lines.push({
          start: [cx, cy],
          end: [this.draggingLink.mx, this.draggingLink.my],
        });
      }
      return lines;
      // return false;
    },
  },
  mounted() {
    this.rootDivOffset.top = this.$el ? this.$el.offsetTop : 0;
    this.rootDivOffset.left = this.$el ? this.$el.offsetLeft : 0;
  },
  methods: {
    touchEndAction(e) {
      console.debug("end", e);
    },
    findNodeWithID(id) {
      return this.process.nodes.find((item) => {
        return id === item.properties.identifier;
      });
    },
    getPortPosition(type, x, y) {
      if (type === "top") {
        return [
          Number(x + this.canvasDefault.linkPosTopX * this.canvasDefault.scale),
          Number(y + this.canvasDefault.linkPosTopY * this.canvasDefault.scale),
        ];
      } else if (type === "bottom") {
        return [
          Number(
            x + this.canvasDefault.linkPosBottomX * this.canvasDefault.scale
          ),
          Number(
            y + this.canvasDefault.linkPosBottomY * this.canvasDefault.scale
          ),
        ];
      }
    },
    // LINK FUNCTIONS
    linkingStart(node) {
      document.body.classList.add("--liNodeLinking");
      this.action.linking = true;
      this.draggingLink = {
        id: "newLink",
        node: node,
        from: node.properties.identifier,
        anchorPositions: ["bottom", "bottom"],
        mx:
          this.canvasDefault.centerX +
          Number(node.properties.x) +
          20 * this.canvasDefault.scale,
        my:
          this.canvasDefault.centerY +
          Number(node.properties.y) +
          20 * this.canvasDefault.scale,
      };
    },
    linkingStop(node) {
      document.body.classList.remove("--liNodeLinking");
      // add new Link
      if (this.draggingLink) {
        // check link existence
        const existed = this.process.links.find((link) => {
          return (
            link.properties.from === this.draggingLink.from &&
            link.properties.identifier === node.properties.identifier
          );
        });

        // check if node is start?
        // if (!existed && node.start != 1 && node.start != "1") {
        if (!existed) {
          let newLink = {
            name: node.properties.name,
            from: this.draggingLink.from,
            to: node.properties.identifier,
            target: "_self",
            [this.parentIdentifier]: this.parentIdentifierValue,
          };
          newLink.identifier = this.generateUUID();

          // INSERT ITEM - VIA STORE
          this.$store
            .dispatch("liDynamic/CREATE_COLLECTION_ITEM", {
              vm: this,
              object: this.linksObject,
              item: newLink,
              user: this.app_user.username,
              options: {
                update: "store",
                additionalName: this.linksAdditionalName,
              },
            })
            .then(() => {
              this.$emit("linkAdded", newLink);
            });
        } else {
          let reason = existed
            ? "Link already exsist"
            : "Can't link to a start activity";
          this.$bvToast.toast(reason, {
            title: "Info",
            variant: "info",
            solid: true,
            toaster: "b-toaster-bottom-right",
            appendToast: true,
          });
        }
        this.draggingLink = null;
      }
    },
    badLinkDelete(link) {
      const linkToBeDeleted = {
        entity: this.linksObject,
        properties: {
          identifier: link.properties.identifier,
        },
      };
      this.$store
        .dispatch("liDynamic/REMOVE_COLLECTION_ITEM", {
          vm: this,
          item: linkToBeDeleted,
          options: {
            additionalName: this.linksAdditionalName,
            silent: true,
            itemName: "link",
            update: "store",
          },
        })
        .then(() => {
          this.$emit("linkBreak", linkToBeDeleted);
        });
    },
    linkDelete(link) {
      const linkToBeDeleted = {
        entity: this.linksObject,
        properties: {
          identifier: link.properties.identifier,
        },
      };
      this.$store
        .dispatch("liDynamic/REMOVE_COLLECTION_ITEM", {
          vm: this,
          item: linkToBeDeleted,
          options: {
            additionalName: this.linksAdditionalName,
            silent: false,
            itemName: "link",
            update: "store",
          },
        })
        .then(() => {
          this.$emit("linkBreak", linkToBeDeleted);
        });
    },
    linkEdit(link) {
      const editedLink = this.process.links.find((item) => {
        return item.id === link.id;
      });
      if (editedLink) {
        this.$emit("linkEditing", editedLink);
      }
    },
    // NODE FUNCCTIONS
    nodeSelect(node, e) {
      // console.log('nodeselect',node)
      // if (!this.simulation) {
      this.action.selected = node;
      this.action.dragging = node;
      this.mouse.lastX =
        e.pageX || e.clientX + document.documentElement.scrollLeft;
      this.mouse.lastY =
        e.pageY || e.clientY + document.documentElement.scrollTop;
      // } else {
      //   this.action.selected = node;
      // }
    },
    //eslint-disable-next-line
    nodeClone(node, e) {
      this.$emit("nodeClone", node);
    },
    touchMoveAction(e) {
      //  console.log('this.action.dragging',this.action.dragging);
      this.handleMove(e);
    },
    handleMove(e) {
      if (this.action.linking) {
        [this.mouse.x, this.mouse.y] = getMousePosition(this.$el, e);
        [this.draggingLink.mx, this.draggingLink.my] = [
          this.mouse.x,
          this.mouse.y,
        ];
      }
      // console.log('this.action.dragging',this.action.dragging);
      if (this.action.dragging) {
        this.mouse.x =
          e.pageX || e.clientX + document.documentElement.scrollLeft;
        this.mouse.y =
          e.pageY || e.clientY + document.documentElement.scrollTop;
        let diffX = this.mouse.x - this.mouse.lastX;
        let diffY = this.mouse.y - this.mouse.lastY;

        this.mouse.lastX = this.mouse.x;
        this.mouse.lastY = this.mouse.y;
        this.moveSelectedNode(diffX, diffY);
      }
      if (this.action.scrolling) {
        [this.mouse.x, this.mouse.y] = getMousePosition(this.$el, e);
        let diffX = this.mouse.x - Number(this.mouse.lastX);
        let diffY = this.mouse.y - Number(this.mouse.lastY);
        this.mouse.lastX = this.mouse.x;
        this.mouse.lastY = this.mouse.y;

        this.canvasDefault.centerX += diffX;
        this.canvasDefault.centerY += diffY;
      }
    },
    handleUp(e) {
      const target = e.target || e.srcElement;
      if (this.$el.contains(target)) {
        if (
          typeof target.className !== "string" ||
          target.className.indexOf("node-input") < 0
        ) {
          this.draggingLink = null;
          let item = this.action.dragging;
          if (!this._.isEmpty(item)) {
            this.nodeUpdate(item);
            this.$emit("nodeClick", item);
          }
        }
        if (
          typeof target.className === "string" &&
          target.className.indexOf("node-delete") > -1
        ) {
          this.nodeDelete(this.action.dragging);
        }

        if (
          typeof target.className === "string" &&
          target.className.indexOf("node-edit") > -1
        ) {
          let item = this.action.dragging;
          this.action.linking = false;
          this.action.scrolling = false;
          this.action.dragging = null;
          this.nodeEdit(item);
        }
      }
      this.action.linking = false;
      this.action.dragging = null;
      this.action.scrolling = false;
    },
    touchStartAction(e) {
      const target = e.target || e.srcElement;
      // console.log(e);
      // console.log(target);
      if (this.$el.contains(target)) {
        this.action.scrolling = true;
        [this.mouse.lastX, this.mouse.lastY] = getMousePosition(this.$el, e);
      }

      this.$emit("canvasClick", e);
    },
    handleDown(e) {
      const target = e.target || e.srcElement;
      if (
        (target === this.$el || target.matches("svg, svg *")) &&
        e.which === 1
      ) {
        this.action.scrolling = true;
        [this.mouse.lastX, this.mouse.lastY] = getMousePosition(this.$el, e);
      }

      this.$emit("canvasClick", e);
    },
    moveSelectedNode(dx, dy) {
      let left =
        Number(this.action.dragging.properties.x) +
        Number(dx) / this.canvasDefault.scale;
      let top =
        Number(this.action.dragging.properties.y) +
        Number(dy) / this.canvasDefault.scale;
      Object.assign(this.action.dragging.properties, {
        x: left,
        y: top,
      });
    },
    nodeDelete(node) {
      const fromLinks = this.process.links.filter((item) => {
        return node.id === item.from;
      });
      const toLinks = this.process.links.filter((item) => {
        return node.id === item.to;
      });
      const links = fromLinks.concat(toLinks);
      this.$emit("nodeDelete", node, links);
    },
    nodeUpdate(node) {
      this.$emit("nodeUpdate", node.properties);
    },
    nodeEdit(nodeItem) {
      if (nodeItem) {
        this.$emit("nodeEdit", nodeItem);
      }
    },
  },
};
</script>
