<template>
  <draggable tag="ul" class="list-group list-group-flush" :list.sync="realValue" v-bind="treeOptions.options" @input="emitter" @change="onChange">
    <transition-group v-bind:name="transition">
      <b-list-group-item class="liListItem pr-2 py-3 rounded my-3 hover-shadow" v-for="(item, itemIndex) in realValue" :key="item.properties.id" :class="item.properties.isFolder ? 'liFolder' : ''" :style="(_.has(item.properties, 'colour'))?'border-color:'+item.properties.colour+'!important;':''">
        <!-- EXPIRIMENTAL _li_api_presentations -->
        <template v-if="treeOptions.object =='_li_api_presentations' && item._additional">
          <div class="position-absolute top left " style="margin-top:-10px;">
            <!-- TOTAL SLIDES -->
            <b-badge v-if="item._additional.slides" variant="light" class="mr-1 ml-2"><b-icon icon="window" class="mr-1"/>{{item._additional.slides}}</b-badge>
            <b-badge v-else class="mr-1 ml-2" variant="light"><b-icon icon="window" class="mr-1"/>0</b-badge>
            <!-- TOTAL COMMENTS -->
            <b-badge v-if="item._additional.notes" class="mr-1" variant="light"><b-icon icon="chat" class="mr-1"/>
              <span class="total mr-1">{{item._additional.notes.all}}</span>
              <!-- <span class=" text-success done" v-if="item._additional.notes.new != 0"><b-icon icon="check" class="mr-1"/>{{item._additional.notes.new}}</span> -->
              <span class=" text-warning open mr-2"  v-if="item._additional.notes.new != 0 && (item._additional.notes.all - item._additional.notes.new) != 0"><b-icon icon="dot" class="mr-1"/>{{item._additional.notes.all - item._additional.notes.new}}</span>
            </b-badge>
            <!-- TOTAL SHARS -->
            <b-badge v-if="item._additional.shares" class="mr-1" variant="light"><span class="far fa-paper-plane mr-1"/>
              <span class="total mr-1">{{item._additional.shares.all}}</span>
            </b-badge>
          </div>
        </template>
        <div class="d-flex justify-content-between">
          <div class="handle mr-2 cursor-grab" v-if="treeOptions.options.disabled == false">
            <b-icon-grip-vertical />
          </div>
          <!-- colour field -->
          <liColorFieldSmall v-if="treeOptions.listSettings.fieldsActions.includes('colour') && _.has(item.properties, 'colour')" @changeColor="updateItem(item)" class="d-inline-block mr-2 align-bottom" :size="'xs'" containerClass="" showRemove="1" v-model="item.properties.colour"/>
          <div class="ml-2 fields d-flex justify-content-between w-75">
            <div v-for="(field, fieldIndex) in treeOptions.listSettings.fields" :key="field" :class="field + ' d-inline-block w-100'">
              <span :ref="'orgiginal_text_' + itemIndex + '' + fieldIndex" @click.prevent="startInput(itemIndex + '' + fieldIndex)">
                {{ (!_.isEmpty(item.properties[field]))? item.properties[field]:' - ' }}
              </span>
              <input :ref="'input_text_' + itemIndex + '' + fieldIndex" @blur="editItem($event, item, itemIndex + '' + fieldIndex)" @keydown.enter="editItem($event, item, itemIndex + '' + fieldIndex)" v-model="item.properties[field]" required class="d-none form-control form-control-sm" maxlength="255"/>
            </div>
          </div>
          <template v-if="treeOptions.listSettings.fieldsActions.length">
            <!-- Actions -->
            <div class="actions text-right w-25">
              <div v-for="field in treeOptions.listSettings.fieldsActions" :key="field" :class="field" class="d-inline-block action">
                <!-- <liColorFieldSmall v-if="field == 'colour' && _.has(item.properties, 'colour')" @changeColor="updateItem(item)" class="d-inline-block mr-2 align-bottom" :size="'xs'" containerClass="" showRemove="1" v-model="item.properties.colour"/> -->
                <!-- edit field -->
                <listItemEditButton v-if="field == 'edit'" :link="computeEditLink(treeOptions,item)" />
                <!-- share field -->
                <listItemShareButton v-if="field == 'share'" :options="{treeOptions: treeOptions,item: item}" />
                <!-- view field -->
                <listItemViewButton v-if="field == 'view'" :link="computeViewLink(treeOptions,item)" />
                <!-- clone field -->
                <listItemCloneButton v-if="field == 'clone-presentation'" :item="item" @refresh="refresh"  />
                <!-- move presentation -->
                <listItemMoveButton v-if="field == 'move-presentation'" :item="item" @refresh="refresh"  />
                <!-- delete field -->
                <listItemDeleteButton v-if="field == 'delete'" :item="item" :itemName="itemName" :object="treeOptions.object" :additionalName="treeOptions.additionalName" @refresh="refresh" />
              </div>
            </div>
          </template>
        </div>
        <listItem v-if="
            treeOptions.listSettings.sortableLevels > 1 &&
            treeOptions.listSettings.sortableLevels >= level
          " class="tree" :list="item.children" :class="treeOptions.options.disabled == true ? 'disabled' : ''" :disabled="treeOptions.options.disabled" :level="nextLevel" :treeOptions="treeOptions" @refresh="refresh" />
      </b-list-group-item>
    </transition-group>
  </draggable>
</template>
<script>
export default {
  name: "listItem",
  methods: {
    computeEditLink(treeOptions,item){
      if (this.containsKey(treeOptions.listSettings, 'linkColumn') && treeOptions.listSettings.linkColumn !='' && this.containsKey(treeOptions.listSettings, 'linkQueryString') && treeOptions.listSettings.linkQueryString === true){
        return treeOptions.actions.mainLink +'?'+treeOptions.listSettings.linkColumn+'='+ item.properties[treeOptions.listSettings.linkColumn];
      } else if (  this.containsKey(treeOptions.listSettings, 'linkColumn') && treeOptions.listSettings.linkColumn !=''){
        return treeOptions.actions.mainLink + item.properties[treeOptions.listSettings.linkColumn];
      } else {
        return treeOptions.actions.mainLink + item.properties.id;
      }
    },
    computeViewLink(treeOptions, item) {
      if (
        this.containsKey(treeOptions.listSettings, "linkColumn") &&
        treeOptions.listSettings.linkColumn != "" &&
        this.containsKey(treeOptions.listSettings, "linkQueryString") &&
        treeOptions.listSettings.linkQueryString === true
      ) {
        return (
          treeOptions.actions.mainLink +
          "?" +
          treeOptions.listSettings.linkColumn +
          "=" +
          item.properties[treeOptions.listSettings.linkColumn]
        );
      } else if (
        this.containsKey(treeOptions.listSettings, "linkColumn") &&
        treeOptions.listSettings.linkColumn != ""
      ) {
        return (
          treeOptions.actions.mainLink +
          item.properties[treeOptions.listSettings.linkColumn]
        );
      } else {
        return treeOptions.actions.mainLink + item.properties.id;
      }
    },
    refresh() {
      this.$emit("refresh");
    },
    emitter(value) {
      this.$emit("input", value);
    },
    onChange(value) {
      if (value.moved || value.added || value.removed) {
        /* get the original tree from the store */
        let tree = this.$store.getters["liDynamic/getCollection"](
          this.treeOptions.additionalName
        );
        /* function to itterate through the children of the tree */
        let findChildren = function (children, parent) {
          let _return = [];
          children.forEach(function (item, index) {
            item.properties.sequence = index;
            item.properties.parent = parent;
            _return[index] = item;
            if (item.properties.children.length > 0) findChildren(item.properties.children, item.properties.id);
          });
          return _return;
        };

        /* iterate through all the the items in the tree */
        tree.forEach(function (item, index) {
          item.properties.sequence = index;
          item.properties.parent = "root";
          if (this.sortableLevels > 1 && item.properties.children.length > 0)
            /* iterate through all the children if there are any */
            findChildren(item.properties.children, item.properties.id);
        }, this.treeOptions.listSettings);

        if (value.moved) {
          let _after = value.moved.newIndex == 0 ? "": this.realValue[value.moved.newIndex-1].properties.identifier;
          let _nameAfter = value.moved.newIndex == 0 ? "": this.realValue[value.moved.newIndex-1].properties.name;
          let _name = value.moved.element.properties.name;
          console.log(_name,_nameAfter);
          this.sendToApi("moved", value.moved.element ,_after);
          console.log("||  MOVED ||", value.moved.element);
        }
        if (value.added) {
          this.sendToApi("added", value.added.element,"");
          console.log("||  ADDED ||", value.added.element);
        }
        if (value.removed) {
          console.log("|| IGNORE ----------------- || REMOVED ||");
        }
      }
    },
    sendToApi(type, item, after) {
      this.$store
        .dispatch("liDynamic/MOVE_COLLECTION_ITEM", {
          vm: this,
          object: this.treeOptions.object,
          item: item,
          after: after
        })
        .then(() => {
          this.refresh();
        });
    },
    removeItem(id) {
      console.log("remove item", id);
    },
    startInput(index) {
      this.$refs["orgiginal_text_" + index][0].classList.add("d-none");
      this.$nextTick(() => {
        this.$refs["input_text_" + index][0].classList.add("d-inline");
        this.$refs["input_text_" + index][0].focus();
      });
    },
    editItem(e, item, index) {
      if (e.target.validity.valid == true) {
        var clone = this._.cloneDeep(item);
        this.endInput(index);
        delete clone.children;
        this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
          object: this.treeOptions.object,
          vm: this,
          item: clone,
          user: this.app_user.username,
        });
      } else {
        this.$bvToast.toast("Please enter a valid value...", {
          title: "Something went wrong",
          variant: "danger",
          autoHideDelay: 3000,
          append: true,
          toaster: "b-toaster-bottom-right",
        });
      }
    },
     updateItem(item) {
      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        object: this.treeOptions.object,
        vm: this,
        item: item,
        user: this.app_user.username,
        options: {
          silent: true,
        },
      });
    },
    endInput(index) {
      this.$refs["orgiginal_text_" + index][0].classList.remove("d-none");
      this.$nextTick(() => {
        this.$refs["input_text_" + index][0].classList.remove("d-inline");
      });
    },
  },
  data() {
    return {
      transition: "list",
    };
  },
  computed: {
    realValue: {
      get() {
        return this.value
          ? this.value /* input = v-model */
          : this.list /* input = !v-model */;
      },
      set(value) {
        return value;
      },
    },
    nextLevel() {
      return this.level + 1;
    },
  },
  props: {
    value: {
      required: false,
      type: Array,
      default: null,
    },
    list: {
      required: false,
      type: Array,
      default: null,
    },
    treeOptions: null,
    level: null,
    itemName: null,
  },
};
</script>
