<template>
  <div :class="block.styleClasses" class="list">
    <b-jumbotron class="mt-5">
      <b-button variant="outline-dark" class="mr-2 btn-round pl-1 pt-1 mb-2 d-linine" @click.prevent="$router.go(-1)" style="line-height:11px;">
        <b-icon-arrow-left />
      </b-button>
      <h3 class="text-dark d-inline" v-if="block.label != ''">
        {{ block.label }}
      </h3>
      <b-row class="mx-0 mt-3" v-if=" this.block.listSettings.addInline || this.block.listSettings.search ">
        <template v-if="this.block.listSettings.addInline">
          <b-input-group class="col-12 col-md-6 pl-md-0">
            <b-form-input v-model="newItem.name" placeholder="Type to add..." @keypress.enter="addItem" />
            <b-input-group-append>
              <b-button variant="outline-primary" class="round" @click.prevent="addItem">
                <b-icon-plus />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
        <template v-if="this.block.listSettings.search">
          <b-input-group class="col-12 col-md-6 pr-md-0">
            <b-form-input v-model="search" placeholder="Type to search..." debounce="200"/>
            <b-input-group-append v-if="search != ''">
              <b-button variant="outline-dark" class="round" @click.prevent="clearSearch">
                <b-icon-x />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
      </b-row>
    </b-jumbotron>
    <div class="bg-light p-3 rounded">
      <listItem v-if="loading == false && treeItems != 'error'" v-model="treeItems" :class="treeOptions.options.disabled == true ? 'disabled' : ''" :disabled="treeOptions.options.disabled" :treeOptions="treeOptions" :level="1" @refresh="refresh" />
    </div>
  </div>
</template>
<script>
export default {
  name: "grid",
  props: {
    block: Object,
  },
  data() {
    return {
      newItem: {
        name: "",
      },
      search: "",
      additionalName: "grid_" + this.block.object,
      treeOptions: {
        additionalName: "grid_" + this.block.object,
        object: this.block.object,
        listSettings: this.block.listSettings,
        actions: this.block.actions[0],
        linkColumn: this.block.listSettings.linkColumn,
        options: {
          group: "items",
          disabled: !this.block.listSettings.sortable,
          handle: ".handle",
          fallbackOnBody: "true",
          swapThreshold: "0.65",
          ghostClass: "ghost-tree",
        },
      },
    };
  },
  mounted() {
    this.setup();
  },
  activated() {
    this.setup();
  },
  computed: {
    query_object_where() {
      let query_object_where = "";
      if (
        this.block.listSettings.requestQueryString &&
        !this._isEmpty(this.$route.query)
      ) {
        for (const [key, value] of Object.entries(this.$route.query)) {
          let foreign_key = this.block.listSettings.requestQueryMap[key];
          query_object_where += foreign_key + "[=>]" + value;
        }
      }
      return query_object_where;
    },
    treeItems() {
      return this.search != ""
        ? this.searchList(
            this.$store.getters["liDynamic/getCollection"](this.additionalName),
            this.search
          )
        : this.$store.getters["liDynamic/getCollection"](this.additionalName);
    },
  },
  watch: {
    search(val) {
      if (this.block.listSettings.sortable) {
        this.treeOptions.options.disabled = val != "" ? true : false;
      }
    },
  },
  methods: {
    refresh() {
      console.debug("refresh list");
      this.getTree();
    },
    // CREATE ITEM
    addItem() {
      this.newItem.parent = "root";
      this.newItem.sequence = 0;
      if (
        this.block.listSettings.insertForeignKey &&
        !this._.isEmtpty(this.$route.query)
      ) {
        for (const [key, value] of Object.entries(this.$route.query)) {
          if (this.block.listSettings.requestQueryMap[key]) {
            let foreign_key = this.block.listSettings.requestQueryMap[key];
            this.newItem[foreign_key] = value;
          }
        }
      }
      this.newItem.identifier = this.generateUUID();
      this.$store
        .dispatch("liDynamic/CREATE_COLLECTION_ITEM", {
          vm: this,
          object: this.block.object,
          item: this.newItem,
          user: this.app_user.username,
        })
        .then(() => {
          this.newItem.name = "";
          delete this.newItem.parent;
          delete this.newItem.sequence;
          this.$nextTick(() => {
            this.refresh();
          });
        });
    },
    // SEARCH FUNCTIONS
    searchList(input, search) {
      if (input != "error") {
        var copy = (o) => {
          return Object.assign({}, o);
        };
        var result = input.map(copy).filter(function f(item) {
          if (item.name.toLowerCase().includes(search.toLowerCase()))
            return true;

          if (item.children) {
            return (item.children = item.children.map(copy).filter(f)).length;
          }
        });
        return result;
      }
    },
    clearSearch() {
      this.search = "";
    },
    // SETUP FUNCTIONS
    setup() {
      this.getTree();
    },
    // GET THE TREE FROM SERVER
    getTree() {
      this.$store
        .dispatch("liDynamic/GET_COLLECTION", {
          vm: this,
          object: this.treeOptions.object,
          additionalName: this.treeOptions.additionalName,
          where:
            this.block.object_where != ""
              ? this.block.object_where + " | " + this.query_object_where
              : this.query_object_where,
          options:
            this.block.listSettings.sortable &&
            this.block.listSettings.sortableLevels > 1
              ? "tree"
              : "",
          orderBy: this.block.object_orderBy,
        })
        .then(() => {
          this.liLoading = false;
        });
    },
  },
};
</script>
