<template>
  <draggable
    tag="ul"
    class="p-0 list-unstyled d-block liGrid"
    :list.sync="realValue"
    v-bind="treeOptions.options"
    @input="emitter"
    @change="onChange"
  >
    <transition-group v-bind:name="transition">
      <li
        class="liGridItem card  d-inline-block p-0 border-0"
        v-for="(item, itemIndex) in realValue"
        :key="item.properties.id"
        :class="item.properties.isFolder ? 'liFolder' : ''"
      >
        <header
          class="card-header bg-transparent border-0 pl-3 pr-2 d-flex justify-content-between"
          :style="`background-color: ${item.properties.colour}!important;`"
        >
          <div
            class="handle mr-2 cursor-grab"
            v-if="treeOptions.options.disabled == false"
            :style="
              _.has(item.properties, 'colour') &&
              !_.isEmpty(item.properties.colour)
                ? `color:${getContrastYIQ(item.properties.colour)}!important;`
                : ''
            "
          >
            <b-icon-grip-vertical />
          </div>
          <div class="fields w-100 mr-2 d-flex">
            <!-- ICON -->
            <div
              v-if="
                _.has(item.properties, 'icon') &&
                  !_.isEmpty(item.properties.icon)
              "
              class="d-inline-block py-1 mr-3"
              :class="item.properties.icon"
              :style="
                _.has(item.properties, 'colour') &&
                !_.isEmpty(item.properties.colour)
                  ? `color:${getContrastYIQ(item.properties.colour)}!important;`
                  : ''
              "
            />
            <!-- INPUT FIELDS -- NAME? -->
            <div
              v-for="(field, fieldIndex) in treeOptions.listSettings.fields"
              :key="field"
              :class="field + ' d-inline-block'"
              style="width: calc(100% - 25px);"
            >
              <span
                :ref="'orgiginal_text_' + itemIndex + '' + fieldIndex"
                @click.prevent="startInput(itemIndex + '' + fieldIndex)"
                :style="
                  _.has(item.properties, 'colour') &&
                  !_.isEmpty(item.properties.colour)
                    ? 'color:' +
                      getContrastYIQ(item.properties.colour) +
                      '!important;'
                    : ''
                "
              >
                {{
                  !_.isEmpty(item.properties[field])
                    ? item.properties[field]
                    : " - "
                }}
              </span>
              <input
                :ref="'input_text_' + itemIndex + '' + fieldIndex"
                @blur="editItem($event, item, itemIndex + '' + fieldIndex)"
                @keydown.enter="
                  editItem($event, item, itemIndex + '' + fieldIndex)
                "
                v-model="item.properties[field]"
                required
                class="d-none form-control form-control-sm"
                maxlength="255"
              />
            </div>
            <!-- ACTIONS -->
            <div class="d-inline-block" style="width:25px;">
              <b-button
                :id="`slideSettings${item.properties.id}`"
                variant="link"
                size="xs"
                class="btn-round"
                :style="
                  _.has(item.properties, 'colour') &&
                  !_.isEmpty(item.properties.colour)
                    ? `color:${getContrastYIQ(
                        item.properties.colour
                      )}!important;`
                    : ''
                "
              >
                <b-icon icon="three-dots-vertical" />
              </b-button>
              <b-popover
                :target="`slideSettings${item.properties.id}`"
                triggers="click blur"
                placement="bottomleft"
                custom-class="settingsPopover"
              >
                <template #title>Project settings</template>
                <!-- ICON -->
                <b-row class="p-2 pt-3" v-if="_.has(item.properties, 'icon')">
                  <b-col cols="6" class="pt-1">
                    Icon
                  </b-col>
                  <b-col cols="6" class="text-right pr-3">
                    <liIconFieldSmall
                      @changeIcon="updateItem(item)"
                      class="d-inline float-right"
                      :size="'xs'"
                      containerClass="border-0 mr-2"
                      showRemove="1"
                      v-model="item.properties.icon"
                      :key="`changeIcon${item.properties.id}`"
                    />
                  </b-col>
                </b-row>
                <!-- COLOUR -->
                <b-row class="p-2 pt-2" v-if="_.has(item.properties, 'colour')">
                  <b-col cols="6" class="pt-1">
                    Colour
                  </b-col>
                  <b-col cols="6" class="text-right pr-3">
                    <liColorFieldSmall
                      @changeColor="updateItem(item)"
                      class="d-inline float-right"
                      :size="'xs'"
                      containerClass="mr-2"
                      showRemove="1"
                      v-model="item.properties.colour"
                      :key="`changeColor${item.properties.id}`"
                    />
                  </b-col>
                </b-row>
                <b-row class="p-2">
                  <b-col cols="12">
                    <hr class="my-0" />
                  </b-col>
                </b-row>
                <template v-if="treeOptions.object == 'appcourt/api_project'">
                  <!-- <b-row class=" px-2 pt-3">
                    <b-col cols="12">
                      <b-button
                        @click.prevent="editProject(item)"
                        variant="light"
                        block
                        id="editProject"
                        size="sm"
                      >
                        <b-icon icon="pencil"></b-icon>
                      </b-button>
                    </b-col>
                  </b-row> -->
                  <b-row class="p-2">
                    <b-col cols="12">
                      <b-button
                        @click.prevent="deleteItem(item)"
                        variant="light"
                        block
                        id="removeProject"
                        size="sm"
                      >
                        <b-icon icon="trash"></b-icon>
                      </b-button>
                    </b-col>
                  </b-row>
                </template>
                <template v-else>
                  <template
                    v-for="field in treeOptions.listSettings.fieldsActions"
                  >
                    <b-row class="p-2 pt-3" :key="field">
                      <b-col cols="6" class="pt-1">
                        {{ _.upperFirst(field) }}
                      </b-col>
                      <b-col cols="6" class="text-right pr-3">
                        <listItemEditButton
                          v-if="field == 'edit'"
                          :link="computeEditLink(treeOptions, item)"
                        />

                        <listItemShareButton
                          v-if="field == 'share'"
                          :options="{ treeOptions: treeOptions, item: item }"
                        />

                        <listItemCloneButton
                          v-if="field == 'clone'"
                          :item="item"
                          :additionalName="treeOptions.additionalName"
                        />

                        <listItemDeleteButton
                          v-if="field == 'delete'"
                          :item="item"
                          :object="treeOptions.object"
                          :additionalName="treeOptions.additionalName"
                          @refresh="refresh"
                        />

                        <listItemViewButton
                          v-if="field == 'view'"
                          :link="computeViewLink(treeOptions, item)"
                        />
                      </b-col>
                    </b-row>
                  </template>
                </template>
                <!-- END START -->
              </b-popover>
            </div>
          </div>
        </header>
        <div class="card-body pb-1">
          <!-- <b-form-textarea
            id="textarea-state"
            v-model="item.properties.description"
            debounce="500"
            maxlength="255"
            rows="5"
            size="sm"
            no-resize
            @blur="updateItem(item)"
          ></b-form-textarea> -->
          {{item.properties.description}}
        </div>
        <footer
          class="card-footer px-3 pt-0 pb-3 border-0 d-flex justify-content-between"
        >
          <template v-if="refreshStatus === false">
            <!-- EXPIRIMENTAL appcourt/api_project -->
            <template
              v-if="
                treeOptions.object == 'appcourt/api_project' &&
                  item.properties._additional
              "
            >
              <div class="metrics">
                <b-badge
                  v-if="item.properties._additional.presentations"
                  variant="light"
                  class="mr-1 ml-2"
                  v-b-tooltip.hover.top.ds1000.v-primary="
                    'Total amount of presentations in this project'
                  "
                >
                  <b-icon icon="file-slides" class="mr-1" />{{
                    item.properties._additional.presentations
                  }}
                </b-badge>
                <b-badge
                  v-else
                  class="mr-1 ml-2"
                  variant="light"
                  v-b-tooltip.hover.top.ds1000.v-primary="
                    'Total amount presentations in this project'
                  "
                >
                  <b-icon icon="file-slides" class="mr-1" />0
                </b-badge>
                <!-- TOTAL COMMENTS -->
                <b-badge
                  v-if="item.properties._additional.notes"
                  class="mr-1"
                  variant="light"
                  v-b-tooltip.hover.top.ds1000.v-primary="
                    'Amount of comments in this project'
                  "
                >
                  <b-icon icon="chat" class="mr-1" />
                  <span
                    class="total mr-1"
                    v-b-tooltip.hover.top.ds1000.v-primary="'Total'"
                    >{{ item.properties._additional.notes.all }}</span
                  >
                  <!-- <span class=" text-success done" v-if="item.properties._additional.notes.new != 0"><b-icon icon="check" class="mr-1"/>{{item.properties._additional.notes.new}}</span> -->
                  <span
                    class=" text-warning open mr-2"
                    v-if="
                      item.properties._additional.notes.new != 0 &&
                        item.properties._additional.notes.all -
                          item.properties._additional.notes.new !=
                          0
                    "
                    v-b-tooltip.hover.top.ds1000.v-warning="'Open'"
                  >
                    <b-icon icon="dot" class="mr-1" />{{
                      item.properties._additional.notes.all -
                        item.properties._additional.notes.new
                    }}
                  </span>
                </b-badge>
                <!-- TOTAL SHARES -->
                <b-badge
                  v-if="item.properties._additional.shares"
                  class="mr-1"
                  variant="light"
                  v-b-tooltip.hover.top.ds1000.v-primary="
                    'Total shares in this project'
                  "
                  ><span class="far fa-paper-plane mr-1" />
                  <span class="total mr-1">{{
                    item.properties._additional.shares.all
                  }}</span>
                </b-badge>
              </div>
            </template>
            <!--END EXPIRIMENTAL appcourt/api_project -->
            <template v-else>
              <!-- EMPTY DIV -->
              <div></div>
            </template>
            <div
              class="actions"
              v-if="
                treeOptions.object == 'appcourt/api_project' &&
                  _.includes(treeOptions.listSettings.fieldsActions, 'edit')
              "
            >
              <!-- view field dashboard -->
              <b-button
                variant="primary"
                size="sm"
                :to="`/${computeEditLink(treeOptions, item)}`"
                class="btn-round p-2"
                :style="{
                  backgroundColor: item.properties.colour,
                  borderColor: item.properties.colour,
                }"
              >
                <b-icon icon="arrow-right" class="hover-scale"></b-icon>
              </b-button>
            </div>
          </template>
        </footer>
        <listItem
          v-if="
            treeOptions.listSettings.sortableLevels > 1 &&
              treeOptions.listSettings.sortableLevels >= level
          "
          class="tree"
          :list="item.properties.children"
          :class="treeOptions.options.disabled == true ? 'disabled' : ''"
          :disabled="treeOptions.options.disabled"
          :level="nextLevel"
          :treeOptions="treeOptions"
          @refresh="refresh"
        />
      </li>
    </transition-group>
  </draggable>
</template>
<script>
export default {
  name: "listItem",
  methods: {
    goTo(link){
      this.$router.push(link);
    },
    computeEditLink(treeOptions, item) {
      if (
        this.containsKey(treeOptions.listSettings, "linkColumn") &&
        treeOptions.listSettings.linkColumn != "" &&
        this.containsKey(treeOptions.listSettings, "linkQueryString") &&
        treeOptions.listSettings.linkQueryString === true
      ) {
        return (
          treeOptions.actions.mainLink +
          "?" +
          treeOptions.listSettings.linkColumn +
          "=" +
          item.properties[treeOptions.listSettings.linkColumn]
        );
      } else if (
        this.containsKey(treeOptions.listSettings, "linkColumn") &&
        treeOptions.listSettings.linkColumn != ""
      ) {
        return (
          treeOptions.actions.mainLink +
          item.properties[treeOptions.listSettings.linkColumn]
        );
      } else {
        return treeOptions.actions.mainLink + item.properties.id;
      }
    },
    computeViewLink(treeOptions, item) {
      if (
        this.containsKey(treeOptions.listSettings, "linkColumn") &&
        treeOptions.listSettings.linkColumn != "" &&
        this.containsKey(treeOptions.listSettings, "linkQueryString") &&
        treeOptions.listSettings.linkQueryString === true
      ) {
        return (
          treeOptions.actions.mainLink +
          "?" +
          treeOptions.listSettings.linkColumn +
          "=" +
          item.properties[treeOptions.listSettings.linkColumn]
        );
      } else if (
        this.containsKey(treeOptions.listSettings, "linkColumn") &&
        treeOptions.listSettings.linkColumn != ""
      ) {
        return (
          treeOptions.actions.mainLink +
          item.properties[treeOptions.listSettings.linkColumn]
        );
      } else {
        return treeOptions.actions.mainLink + item.properties.id;
      }
    },
    refresh() {
      this.$emit("refresh");
    },
    emitter(value) {
      this.$emit("input", value);
    },
    onChange(value) {
      if (value.moved || value.added || value.removed) {
        /* get the original tree from the store */
        let tree = this.$store.getters["liDynamic/getCollection"](
          this.treeOptions.additionalName
        );
        /* function to itterate through the children of the tree */
        let findChildren = function(children, parent) {
          let _return = [];
          children.forEach(function(item, index) {
            item.properties.sequence = index;
            item.properties.parent = parent;
            _return[index] = item;
            if (item.properties.children.length > 0)
              findChildren(item.properties.children, item.properties.id);
          });
          return _return;
        };

        /* iterate through all the the items in the tree */
        tree.forEach(function(item, index) {
          item.properties.sequence = index;
          item.properties.parent = "root";
          if (this.sortableLevels > 1 && item.properties.children.length > 0)
            /* iterate through all the children if there are any */
            findChildren(item.properties.children, item.properties.id);
        }, this.treeOptions.listSettings);

        if (value.moved) {
          let _after =
            value.moved.newIndex == 0
              ? ""
              : this.realValue[value.moved.newIndex - 1].properties.identifier;
          let _nameAfter =
            value.moved.newIndex == 0
              ? ""
              : this.realValue[value.moved.newIndex - 1].properties.name;
          let _name = value.moved.element.properties.name;
          console.log(_name, _nameAfter);
          this.sendToApi("moved", value.moved.element, _after);
          console.log("||  MOVED ||", value.moved.element);
        }
        if (value.added) {
          this.sendToApi("added", value.added.element, "");
          console.log("||  ADDED ||", value.added.element);
        }
        if (value.removed) {
          console.log("|| IGNORE ----------------- || REMOVED ||");
        }
      }
    },
    sendToApi(type, item, after) {
      this.$store
        .dispatch("liDynamic/MOVE_COLLECTION_ITEM", {
          vm: this,
          object: this.treeOptions.object,
          item: item,
          after: after,
        })
        .then(() => {
          this.refresh();
        });
    },
    removeItem(id) {
      console.log("remove item", id);
    },
    startInputDescription(index) {
      this.$refs["orgiginal_description_" + index][0].classList.add("d-none");
      this.$nextTick(() => {
        this.$refs["input_description_" + index][0].classList.add("d-inline");
        this.$refs["input_description_" + index][0].focus();
      });
    },
    startInput(index) {
      this.$refs["orgiginal_text_" + index][0].classList.add("d-none");
      this.$nextTick(() => {
        this.$refs["input_text_" + index][0].classList.add("d-inline");
        this.$refs["input_text_" + index][0].focus();
      });
    },
    editProject(item) {
      console.log(item);
    },
    deleteItem(item) {
      // DELETE THE ITEM - VIA STORE
      this.$store
        .dispatch("liDynamic/REMOVE_COLLECTION_ITEM", {
          vm: this,
          object: this.treeOptions.object,
          item: item,
          options: {
            additionalName: this.treeOptions.additionalName,
            itemName: "Project",
            silent: false,
            update: "",
          },
        })
        .then(() => {
          this.$emit("refresh");
        });
    },
    editItem(e, item, index) {
      if (e.target.validity.valid == true) {
        var clone = JSON.parse(JSON.stringify(item));
        this.endInput(index);
        delete clone.children;
        this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
          object: this.treeOptions.object,
          vm: this,
          item: clone,
          user: this.app_user.username,
        });
      } else {
        this.$bvToast.toast("Please enter a valid value...", {
          title: "Something went wrong",
          variant: "danger",
          autoHideDelay: 3000,
          append: true,
          toaster: "b-toaster-bottom-right",
        });
      }
    },
    updateItem(item) {
      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        object: this.treeOptions.object,
        vm: this,
        item: item,
        user: this.app_user.username,
        options: {
          silent: true,
        },
      });
    },
    endInput(index) {
      this.$refs["orgiginal_text_" + index][0].classList.remove("d-none");
      this.$nextTick(() => {
        this.$refs["input_text_" + index][0].classList.remove("d-inline");
      });
    },
  },
  data() {
    return {
      transition: "list",
    };
  },
  computed: {
    realValue: {
      get() {
        return this.value ? this.value : this.list;
      },
      set(value) {
        return value;
      },
    },
    nextLevel() {
      return this.level + 1;
    },
  },
  watch: {
    disabled(val) {
      if (val) {
        this.transition = "";
      }
    },
  },
  props: {
    disabled: {
      required: false,
      type: Boolean,
      default: null,
    },
    refreshStatus: {
      required: false,
      type: Boolean,
      default: null,
    },
    value: {
      required: false,
      type: Array,
      default: null,
    },
    list: {
      required: false,
      type: Array,
      default: null,
    },
    treeOptions: null,
    level: null,
  },
};
</script>
