<template>
  <div class="btn btn-sm d-inline-block" v-on:click.prevent="cloneItem()">
    <b-icon-file-plus class="hover-scale text-body"></b-icon-file-plus>
  </div>
</template>
<script>
export default {
  name: "apcItemCloneButton",
  props: {
    item: Object,
    additionalName: {
      type: String,
      required: false,
      default: "",
    },
  },
  methods: {
    cloneItem() {
      // CLONE THE ITEM - VIA STORE
      this.$store.dispatch("cmModule/CLONE_ITEM", {
        _vm: this,
        entity: this.item.entity,
        id: this.item.properties.id,
        silent: false,
        additionalName: this.additionalName,
      });
    },
  },
};
</script>