<template>
  <router-link :to="block.link" :class="block.styleClasses">
    <b-icon v-if="block.icon" :icon="block.icon"></b-icon>
    {{block.content}}
  </router-link>
</template>

<script>
export default {
  props: {
    block: Object,
  },
  name: "apcButton",
  created() {},
};
</script>