<template>
  <div class="btn btn-sm d-inline" @click.prevent="deleteItem()">
    <b-icon-trash class="hover-scale"></b-icon-trash>
  </div>
</template>
<script>
export default {
  name: "listItemDeleteButton",
  props: {
    item: Object,
    additionalName: {
      type: String,
      required: false,
      default: "",
    },
    object: {
      type: String,
      required: false,
      default: "",
    },
    itemName: {
      type: String,
      required: false,
      default: "item"
    }
  },
  methods: {
    deleteItem() {
      // DELETE THE ITEM - VIA STORE
      this.$store
        .dispatch("liDynamic/REMOVE_COLLECTION_ITEM", {
          vm: this,
          object: this.object,
          item: this.item,
          options: {
            additionalName:this.additionalName,
            itemName: this.itemName,
            silent: false,
            update: "",
          },
        })
        .then(() => {
          this.$emit("refresh");
        });
    },
  },
};
</script>  
        
