<template>
  <div class="btn btn-sm d-inline" @click.prevent="setupShareModal()">
    <span class="far fa-paper-plane hover-scale" />
    <!-- MODAL -->
    <portal to="liModalContent">
      <div v-if="modalSettings.init">
        <b-tabs content-class="mt-3" fill pills active-nav-item-class=" text-primary bg-white border-primary shadow">
          <!-- PUBLIC SHARES -->
          <b-tab title="Public" active>
            <b-jumbotron class="pb-4 pt-5 bg-white">
              <h5>Public shares for <b>{{modalSettings.item.name}}</b></h5>
              <!-- ADD A PUBLIC SHARE -->
              <b-input-group class="mt-3 mb-0">
                <b-form-input v-model="newShare[0].name" placeholder="Type to add a share..." required minlength="3" @keypress.enter="createShare(0)" />
                <b-input-group-append>
                  <b-button variant="outline-primary" class="round" @click.prevent="createShare(0)">
                    <b-icon-plus />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-jumbotron>
            <!-- /. END ADD A PUBLIC SHARE -->
            <!-- PUBLIC SHARES LIST -->
            
            <template v-if="!_.isEmpty(filterPublicShares)">
              <b-list-group flush>
                <b-list-group-item v-for="(share, index) in filterPublicShares" :key="index" class="border-0 pr-2 rounded my-2 hover-shadow">
                  <div class="justify-content-between w-100">
                    <!-- SHARE VIEWS  -->
                    <b-badge variant="light" class="position-absolute top left ml-2" style="margin-top: -5px;"><b-icon icon="eye" class="mr-1"/>{{share.properties.views}}</b-badge>
                    <!-- SHARE STATUS -->
                    <b-form-checkbox v-model="share.properties.status" switch value="1" class="d-inline-block cursor-pointer mr-2  " v-b-tooltip.hover.top="(share.properties.status === '1')? 'Disable sharing':'Enable sharing' " @change="updateShare(share)" style="width:20px;"/>
                   <!-- SHARE NAME -->
                    <b-form-input v-model="share.properties.name" class="w-75 d-inline-block" required minlength="3" @blur="updateShare(share)" />
                    <div class="share-actions text-right d-inline-block" style="width:125px;">
                      <!-- COPY LINK -->
                      <b-button variant="link" class="btn-round px-0 d-inline text-center d-linine-block" v-b-tooltip.hover.top="'Copy share link'" @click.prevent="copyLink(share.properties.identifier)">
                        <b-icon icon="link"></b-icon>
                        <input type="text" :value="computeShareLink(share,0)" :id="'copyLink'+share.properties.identifier" style="position:absolute; z-index:-1; left:-9999999px;">
                      </b-button>
                      <!-- REMOVE SHARE -->
                      <b-button variant="link" class="btn-round px-0 d-inline text-center d-linine-block" v-b-tooltip.hover.top="'Remove share'" @click.prevent="removeShare(share)">
                        <b-icon icon="trash"></b-icon>
                      </b-button>
                    </div>
                  </div>
                  <!-- <pre>{{share}}</pre> -->
                </b-list-group-item>
              </b-list-group>
            </template>
            <!-- /. END PUBLIC SHARES LIST -->
          </b-tab>
          <!-- /.END PUBLIC SHARES -->
          <b-tab title="Invite">
            <b-jumbotron class="pb-4 pt-5 bg-white">
              <h5>Invite shares for <b>{{modalSettings.item.name}}</b></h5>
              <!-- ADD A PRIVATE SHARE -->
              <b-input-group class="mt-3 mb-0">
                <b-form-input v-model="newShare[1].name" class="mr-3 form-control" placeholder="Invite name" required minlength="3"/>
                <b-form-input v-model="newShare[1].email" placeholder="Invite email address" type="email" required />
                <b-input-group-append>
                  <b-button variant="outline-primary" class="round" @click.prevent="createShare(1)">
                    <b-icon-plus />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-jumbotron>
            <!-- /. END ADD A PUBLIC SHARE -->
            <!-- PRIVATE SHARES LIST -->
            <template v-if="!_.isEmpty(filterPrivateShares)">
              <b-list-group flush>
                <b-list-group-item v-for="(share,index) in filterPrivateShares" :key="index" class="border-0 pr-2 rounded my-2 hover-shadow">
                  <div class="justify-content-between w-100">
                    <!-- SHARE VIEWS  -->
                     <b-badge variant="light" class="position-absolute top left ml-2" style="margin-top: -5px;"><b-icon icon="eye" class="mr-1"/>{{share.properties.views}}</b-badge>
                    <!-- SHARE STATUS -->
                    <b-form-checkbox v-model="share.properties.status" switch value="1" class="d-inline-block cursor-pointer mr-2" v-b-tooltip.hover.top="(share.properties.status === '1')? 'Disable sharing':'Enable sharing' " @change="updateShare(share)" style="width:20px;"/>
                    <!-- SHARE NAME -->
                    <div class="share-actions w-75 d-inline-block">
                      <b-form-input v-model="share.properties.name" class="d-inline-block " style="width:calc(33% - 15px); margin-right:15px;" disabled />
                      <b-form-input v-model="share.properties.email" class="d-inline-block " style="width:calc(33% - 15px); margin-right:15px;" disabled/>
                      <b-form-input v-model="share.properties.code" class="d-inline-block " style="width:calc(33% - 15px); margin-right:15px;" disabled/>
                    </div>
                    <div class="share-actions text-right d-inline-block" style="width:125px;">
                       <!-- COPY LINK -->
                      <b-button variant="link" class="btn-round px-0 d-inline text-center d-linine-block" v-b-tooltip.hover.top="'Copy share link'" @click.prevent="copyLink(share.properties.identifier)">
                        <b-icon icon="link"></b-icon>
                        <input type="text" :value="computeShareLink(share,0)" :id="'copyLink'+share.properties.identifier" style="position:absolute; z-index:-1; left:-9999999px;">
                      </b-button>
                      <!-- RESEND SHARE -->
                      <b-button variant="link" class="btn-round px-0 d-inline text-center d-linine-block" v-b-tooltip.hover.top="'Resend link'" @click.prevent="resendLink(share)">
                        <b-icon icon="envelope"></b-icon>
                      </b-button>
                      <!-- REMOVE SHARE -->
                      <b-button variant="link" class="btn-round px-0 d-inline text-center d-linine-block" v-b-tooltip.hover.top="'Remove share'" @click.prevent="removeShare(share)">
                        <b-icon icon="trash"></b-icon>
                      </b-button>
                    </div>
                  </div>
                  <!-- <pre>{{share}}</pre> -->
                </b-list-group-item>
              </b-list-group>
            </template>
          </b-tab>
        </b-tabs>
      </div>
    </portal>
    <!-- /. END MODAL -->
  </div>
</template>
<script>
const SHARES_URL = process.env.VUE_APP_SHARES_URL;

export default {
  name: "listItemShareButton",
  props: {
    options: null,
  },
  data() {
    return {
      // SHARE OBJECT
      shareObject: "appcourt/api_share",
      // MODAL
      modalSettings: {
        init: false,
        item: null,
      },
      newShare: [
        // PUBLIC SHARE
        {
          foreign_identifier: this.options.item.properties.identifier, // THE IDENTIFIER OF THE PRESENTATION
          name: "",
          status:"1",
          identifier: null, // A UNIQUE IDENTIFIER FOR THIS SHARE
          type: 0, // 0 public  => name field required!
          // OPTIONS FOR TYPE 1
          email: "", // NOT IN USE FOR PUBLIC SHARES
          code: "", // NOT IN USE FOR PUBLIC SHARES
        },
        {
          foreign_identifier: this.options.item.properties.identifier, // THE IDENTIFIER OF THE PRESENTATION
          name: "",
          status:"1",
          identifier: null, // A UNIQUE IDENTIFIER FOR THIS SHARE
          type: 1, // 1 private => name and email fields required!
          email: "", // THE EMAIL ADDRESS OF THE INVITE
          code: "", // A BASIC PASSWORD FOR THIS SHARE
        },
      ],
    };
  },
  mounted(){

  },
  computed: {
    sharesAdditionalName() {
      return this.shareObject + "_" + this.options.item.properties.identifier;
    },
    filterPublicShares() {
      if (this.shares != "error" && !this._.isEmpty(this.shares)) {
        let publicShares = this.shares.filter((item) => {
          return item.properties.type === 0 || item.properties.type === "0" ;
        });
        return publicShares;
      } else {
        return [];
      }
    },
    filterPrivateShares() {
      if (this.shares != "error" && !this._.isEmpty(this.shares)) {
        let privateShares = this.shares.filter((item) => {
          return item.properties.type === 1 || item.properties.type === "1" ;
        });
        return privateShares;
      } else {
        return [];
      }
    },
    shares: {
      get() {
        return this.$store.getters["liDynamic/getCollection"](
          this.sharesAdditionalName
        );
      },
    },
  },
  methods: {
    // SHARE FUNCTIONS
    copyLink(index) {
      /* Get the text field */
      var copyLink = document.getElementById("copyLink" + index);
      /* Select the text field */
      copyLink.select();
      copyLink.setSelectionRange(0, 99999); /*For mobile devices*/
      /* Copy the text inside the text field */
      document.execCommand("copy");
    },
    resendLink(share){
      share.code = this.getRandomString(8);
      this.updateShare(share);
    },
    computeShareLink(share,type) {
      console.debug(type);
      return `${SHARES_URL}${share.properties.identifier}`;
    },
    refreshShares() {
      this.getShares();
    },
    createShare(type) {
      let valid = false;
      if (type == 0 && !this._.isEmpty(this.newShare[type].name)) {
        valid = true;
      } else if (
        type == 1 &&
        !this._.isEmpty(this.newShare[type].name) &&
        !this._.isEmpty(this.newShare[type].email)
      ) {
        this.newShare[type].code = this.getRandomString(8);
        valid = true;
      }
      if (valid) {
        // CLONE THE NEW NODE OBJECT
        let newShareClone = this._.cloneDeep(this.newShare[type]);
        newShareClone.identifier = this.generateUUID();
        // INSERT ITEM - VIA STORE
        this.$store
          .dispatch("liDynamic/CREATE_COLLECTION_ITEM", {
            vm: this,
            object: this.shareObject,
            item: newShareClone,
            user: this.app_user.username,
          })
          .then(() => {
            // this.nodeEdit(this.nodes[0]);
            // RESET THE ORINAL ITEM's Name
            this.newShare[type].name = "";
            this.newShare[type].email = "";
            this.newShare[type].code = "";
            this.refreshShares();
          });
      } else {
        this.$bvToast.toast("You need to fill in all the fields", {
          title: "All fields are required",
          variant: "danger",
          solid: true,
          toaster: "b-toaster-bottom-right",
          appendToast: true,
        });
      }
    },
    updateShare(share) {
      if(!this._.isEmpty(share.properties.name)) {
        this.$nextTick(() => {
          this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
            object: this.shareObject,
            vm: this,
            item: share,
          });
        });
      } else {
        this.$bvToast.toast("You need to fill in all the fields", {
          title: "All fields are required",
          variant: "danger",
          solid: true,
          toaster: "b-toaster-bottom-right",
          appendToast: true,
        });
      }
    },
    removeShare(share){
      console.log(share)
      // DELETE THE ITEM - VIA STORE
      this.$store
        .dispatch("liDynamic/REMOVE_COLLECTION_ITEM", {
          vm: this,
          object: this.shareObject,
          item: share,
          options: {
            silent: false,
            itemName:"share",
            update: "",
          },
        })
        .then(() => {
          this.refreshShares();
        });
    },
    // GET THE SHARES
    getShares() {
      return this.$store.dispatch("liDynamic/GET_COLLECTION", {
        vm: this,
        object: this.shareObject,
        additionalName: this.sharesAdditionalName,
        where: `foreign_identifier ='${this.options.item.properties.identifier}'`,
        orderBy: "id DESC",
      });
    },
    // MODAL FUNCTIONS
    setupShareModal() {
      if (this.shares == "error") {
        this.getShares();
        this.showShareModal();
      } else {
        this.showShareModal();
      }
    },
     showShareModal() {
       this.modalSettings.item = this.options.item;
       const modalOptions = {
          headerTitle: "Share settings",
          headerBgVariant: "primary",
          headerTextVariant: "white",
          size: "lg",
        };
        this.openModal(modalOptions).then(() => {
          this.modalSettings.init = true;
        });
    },
    hideShareModal() {
      this.closeModal(true).then(() => {
        this.modalSettings.item = null;
        this.modalSettings.init = false;
      });
    },
  },
};
</script>  
        
