<template>
  <div class="btn btn-sm d-inline" @click.prevent="clonePresentation()">
    <b-icon-files class="hover-scale"></b-icon-files>
  </div>
</template>
<script>
export default {
  name: "listItemCloneButton",
  props: {
    item: Object,
    object: {
      type: String,
      required: false,
      default: "",
    },
  },
  methods: {
    clonePresentation() {
       // CLONE THE PRESENTATION - VIA STORE
      this.$store
        .dispatch("liDynamic/CLONE_PRESENTATION", {
          vm: this,
          object: this.object,
          id: this.item.id,
          identifier: this.item.identifier,
          user: this.app_user.username
        })
        .then(() => {
          this.$emit("refresh");
        });
    },
  },
};
</script>  
        
