<template>
  <div class="liBuilderVideo" :key="'liBuilderiFrame'+componentId">
    <b-input-group>
      <b-input-group-prepend>
        <div class="input-group-text border-0">
          https://www.youtube.com/embed/
        </div>
      </b-input-group-prepend>
      <b-form-input v-model="localValue.widgetValue" @input="emitter" class="bg-white" placeholder="Embed code"/>
    </b-input-group>
    <img :src="explainImage" class="liImg-explainImage" v-if="value.widgetValue === ''" />
    <template v-if="!_.isEmpty(localValue.widgetValue)" >
      <div class="videoContainer">
      <b-embed
        type="iframe"
        aspect="16by9"
        :src="'https://www.youtube.com/embed/'+value.widgetValue+'?rel=0'"
        allowfullscreen
      />      
      </div>
    </template>
  </div>
</template>
<script>

// EPLAIN IMAGE
import explainImage from '../../assets/images/SVG/liBuilder-Video-1-dark.svg';
export default {
  name:'liBuilderVideo',
  data() {
    return {
      explainImage: explainImage,
      localValue: null,
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId:null,
  },
  mounted(){
    this.localValue = this._.cloneDeep(this.value); 
  },
  methods: {
    emitter(input) {
      this.$set(this.localValue,'widgetValue', input);
      this.$emit("input", this.localValue);
    },
  }
};
</script>
