<template>
  <div class="liBuilderFile" :class="(localValue.widgetValue ==='')? 'liUpload':'liUploaded'" :key="'liBuilderFile'+componentId">
    <template v-if="localValue.widgetValue ===''">
        <liDropzoneBuilderImage :key="Date.now()" v-model="localValue.widgetValue" @addImage="addImage"/>
    </template>
    <template v-else>
      <b-button variant="primary" @click="removeImage" size="sm" class="btn-round remove ">
        <b-icon-trash />
      </b-button>
      <img :src="`${apiPublicPath}?guid=${guid}&file=${localValue.widgetValue}`" class="img-fluid" />
    </template>
  </div>
</template>
<script>
import explainImage from '../../assets/images/SVG/liBuilder-Form-1-dark.svg';
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name:'liBuilderImage',
  data() {
    return {
      apiPublicPath: API_URL_PUBLIC,
      localValue:'',
      explainImage:explainImage,
      guid:localStorage.getItem('liSession'),
    };
  },
  mounted(){
    this.localValue = this.value;
    this.$nextTick(() => {
      this.emitter();
    });
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    currentProject: null,
    linkNodes: null,
    design:null,
    componentId:null,
  },
  methods: {
    emitter() {
      // console.log('IMAGE, emitter', this.localValue);
      this.$emit("input", this.localValue);
    },
    removeImage() {
      this.$set(this.localValue,'widgetValue', '');
      this.emitter();
    },
    addImage(url) {
      this.$set(this.localValue,'widgetValue', url.file);

      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        identifier: url.file,
        item: {
          entity:"appcourt/api_document",
          properties: {
            identifier: url.file,
            account: this.currentProject.account,
            project: this.currentProject.identifier,
            presentation: this.currentNode.foreign_identifier,
            slide: this.currentNode.identifier,
            widget: this.componentId
          }
        },
        options: {
          silent: true,
          removeKey: 'identifier',
        },
      });
      
      this.emitter();
    },
  },
};
</script>

