<template>
  <div class="liBuilderButtons" :class="localValue.additional.settings.alignment + ' '+localValue.additional.settings.group" v-if="!_.isEmpty(localValue)" :key="'liBuilderButtons'+componentId">
    <draggable tag="ul" class="list-unstyled" :list="localValue.widgetValue" v-bind="buttonItemOptions" @change="emitter">
      <template v-for="(button, index) in localValue.widgetValue">
        <li class="liBuilderButtonItem" :ref="'buttonItem_'+index" :key="index" @mouseenter="$set(hoverMe, index, !hoverMe[index])" @mouseleave="$set(hoverMe, index, !hoverMe[index])">
          <!-- ACTIONS -->
          <div class="actions bg-light" v-if="hoverMe[index]">
            <!-- MOVE ITEM -->
            <b-button variant="link" class="handle moveBtn btn-xs btn text-primary mr-2">
              <b-icon-arrows-move />
            </b-button>
            <!-- /.END MOVE ITEM -->
            <!-- REMOVE ITEM -->
            <b-dropdown right variant="link" class="btn-round  removeButtonItemBtn mr-2" size="xs" toggle-class="text-primary text-decoration-none" no-caret>
              <template v-slot:button-content>
                <b-icon-trash />
              </template>
              <div class="bg-dark p-2">
                <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                  Remove button?
                </p>
                <b-button variant="danger" block @click.prevent="removeButtonItem(index)">
                  Remove
                </b-button>
              </div>
            </b-dropdown>
            <!-- /.END REMOVE ITEM -->
            <!-- ITEM OPTIONS  -->
            <b-button variant="link" class="btn-xs text-primary" @click.prevent="showWidgetItemModal(index)">
              <b-icon-three-dots />
            </b-button>
            <!-- /. END ITEM OPTIONS  -->
          </div>
          <!-- /. END ACTIONS -->
          <!-- BUTTON PREVIEW -->
          <b-button variant="primary" :style="computedButtonStyle(button)" disabled class="liButton" :class="'text-'+localValue.additional.settings.textalign">
            <b-icon icon="exclamation-triangle-fill" variant="danger" class="mr-2" v-if="findNodeWithID(button.to) === undefined" />
            <span v-if="(!_.isEmpty(button.icon))" class="mr-2" :class="button.icon" />
              
            <template v-if="button.name != ''">
              {{button.name}}
            </template>
            <template v-else>
              <i>No label set...</i>
            </template>
          </b-button>
          <!-- /.END BUTTON PREVIEW -->
        </li>
      </template>
      <li class="addRowInilne liBuilderButtonItem">
        <!-- ADD BUTTON -->
        <b-button variant="primary" size="sm" class=" btn-round" @click.prevent="addButtonItem">
          <b-icon-plus />
        </b-button>
      </li>
    </draggable>
    <!-- ACTION ADD BUTTON -->
    <!-- EXPLANOTION IMAGE -->
    <!-- ADD BUTTON
    <div class="addRow p-3">
      <img :src="explainImage" class="liImg-explainImage" v-if="_.isEmpty(localValue.widgetValue) " />
      
      <b-button variant="primary" size="sm" class="btn-round liAaddButtonItem" @click.prevent="addButtonItem">
        <b-icon-plus />
      </b-button>
    </div>
     -->
    <!-- /. END ACTION ADD BUTTON -->
    <!-- PORTAL TO WIDGET MODAL ITEM -->
    <portal to="liModalContent" v-if="modalItemInit && modalItem" :key="'buttonItemPortalButton'+String(modalItem.id)">
      <label>Button label</label>
      <div class="mb-3 d-flex justify-content-between">
        <b-form-input v-model="modalItem.name" @input="emitter" size="sm" :key="'name'+componentId" />
        <liIconFieldSmall @changeIcon="emitter" size="sm" class="ml-2" v-model="modalItem.icon" :key="'icon'+componentId" />
        <liColorFieldSmall @changeColor="emitter" size="sm" class="ml-2" v-model="modalItem.textColour" :key="'txtc'+componentId" />
        <liColorFieldSmall @changeColor="emitter" size="sm" class="ml-2" v-model="modalItem.bgColour" :key="'bgc'+componentId" />
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <!-- <div class="w-25">
          <label>Prefix</label>
          <b-form-input v-model="modalItem.toprefix" @input="emitter" :key="'toprefix'+componentId" />
        </div> -->
        <div class="w-50">
          <label style="margin-bottom: 0.2rem;">Destination</label>
          <!-- SLIDE SELECTION -->
         
            <v-select 
                :value="modalItem.to" 
                :options="linkNodes" 
                :reduce="node => node.properties.identifier" 
                :getOptionLabel=" (node) => node.properties.name"
                :clearable="true"
                @input="node => setBtnLinkTo(node)" 
              >
              <template v-slot:option="option">
                <span class="mr-2" :class="option.properties.icon" :style="'color:'+option.properties.colour+';'"></span>
                {{ option.properties.name }}
              </template>
              <template #selected-option="{ properties}">
                <span class="mr-2" :class="properties.icon" :style="'color:'+properties.colour+';'"></span>
                <span class="mr-2">{{ properties.name }}</span>
              </template>
            </v-select>
              <template v-if="noLongerAvailable">
                <b-alert show variant="danger">
                  <b-icon icon="exclamation-triangle-fill" variant="danger" class="mr-2" />
                  The output slide is no longer available...
                </b-alert>
              </template>
                <template v-if="modalItem.to ===''">
                <b-alert show variant="warning">
                  No output slide selected
                </b-alert>
              </template>
            <!--/. END SLIDE SELECTION -->
        </div>
        <!-- <div class="w-25">
          <label>Suffix</label>
          <b-form-input v-model="modalItem.tosuffix" @input="emitter"  :key="'tosuffix'+componentId" />
        </div> -->
        <div class="w-50">
          <label>Value</label>
          <b-form-input v-model="modalItem.tovalue" @input="emitter"  :key="'tovalue'+componentId" />
        </div>
        <!-- <div class="w-25">
          <label>Open destination in:</label>
          <b-dropdown variant="light" size="sm" class="w-100 rounded text-left small" style="border:1px solid #ced4da;" no-caret>
            <template #button-content class="text-left">
              <span class="mr-2">{{(!_.isEmpty(modalItem.target)) ? findLinkTarget(modalItem.target).label : 'Please select...'}}</span>
            </template>
            <template v-for="(linkTarget,index) in linkTargets">
              <b-button variant="light" :key="index" :class="(!_.isEmpty(modalItem.target) && linkTarget.type === modalItem.target)? 'active':'' " class="text-left w-100 small" size="sm" @click.prevent="setBtnlinkTarget(linkTarget.type)">
                <span class="mr-2"> {{linkTarget.label}}</span>
              </b-button>
            </template>
          </b-dropdown>
        </div> -->

      </div>
      <!-- MODAL FOOTER -->
      <liWidgetFooter :hideWidgetModal="hideWidgetItemModal" />
    </portal>
  </div>
</template>
<script>
// EXPLAIN IMAGE
import explainImage from "../../assets/images/SVG/liBuilder-Button-1-dark.svg";
export default {
  name: "liBuilderButtons",
  data() {
    return {
      localValue: null,
      hoverMe: [],
      explainImage: explainImage,
      buttonItemOptions: {
        group: "localValue",
        handle: ".handle",
        ghostClass: "ghost-builder-button-item",
        disabled: false,
      },
      modalItemInit: false,
      modalItem: false,
      noLongerAvailable: false
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId: null,
  },
  mounted() {
    // this.localValue = this._.cloneDeep(this.value);
    this.localValue = this.value;
    if (this._.isEmpty(this.localValue.additional.settings)) {
      this.$set(this.localValue.additional, "settings", {});
      this.$set(this.localValue.additional.settings, "alignment", "horizontal");
      this.$set(this.localValue.additional.settings, "group", "");
      this.$set(this.localValue.additional.settings, "textalign", "center");
      this.$nextTick(() => {
        this.emitter();
      });
    }
  },
  computed: {
    widgetModalItemOptions() {
      let modalOptions = this._.cloneDeep(this.WIDGET_MODAL_ITEM_OPTIONS);
      modalOptions.hideBackdrop = true;
      return modalOptions;
    },
    linkTargets() {
      return this.LINK_TARGETS;
    },
  },
  methods: {
    emitter(removed = null) {
      let links = [];
      this.localValue.widgetValue.forEach((link) => {
        // MINIMAL RETURN PER LINKITEM, CAN BE MORE IF YOU WANT OR JUST LAZY LIKE ME!
        // let linkItem =  {
        //   widgetId: link.widgetId,
        //   id: link.id,
        //   from: link.from,
        //   to: link.to,
        //   name: link.name,
        //   textColour: link.textColour,
        //   bgColour: link.bgColour,
        //   target: link.target,
        // }
        links.push(link);
      });
      this.localValue.additional.links = links;
      if (removed != null) {
        this.$set(this.localValue.additional, "removed_links", removed);
      }
      this.$emit("input", this.localValue);
      // this.$nextTick(() => {
      //   this.$delete(this.localValue.additional, 'removed_links');
      // });
    },
    computedButtonStyle(button) {
      let computedStyle = "";
      if (!this._.isEmpty(button.bgColour)) {
        computedStyle += "border-color:" + button.bgColour + "!important; ";
        computedStyle += "background-color:" + button.bgColour + "!important; ";
      }
      if (!this._.isEmpty(button.textColour)) {
        computedStyle += "color:" + button.textColour + "!important; ";
      }
      return computedStyle;
    },
    findNodeWithID(id) {
      return this.linkNodes.find((item) => {
        return id === item.properties.identifier;
      });
    },
    findLinkTarget(type) {
      return this.linkTargets.find((item) => {
        return type === item.type;
      });
    },
    showWidgetItemModal(index) {
      this.modalItem = this.localValue.widgetValue[index];
      if(this.modalItem.to !='' && this.findNodeWithID(this.modalItem.to) === undefined){
        this.modalItem.to  = '';
        this.noLongerAvailable = true;
      }
      this.openModal(this.widgetModalItemOptions).then(() => {
        this.modalItemInit = true;
      });
    },
    hideWidgetItemModal() {
      this.closeModal(true).then(() => {
        this.noLongerAvailable = false;
        this.modalItemInit = false;
        this.modalItem = false;
      });
    },
    removeButtonItem(index) {
      const removedLink = this.localValue.widgetValue[index];
      this.localValue.widgetValue.splice(index, 1);
      this.emitter(removedLink);
    },
    addButtonItem() {
      const newButton = {
        widgetId: this.id,
        id: this.generateUUID(),
        name: "",
        bgColour: "#3B5A9E",
        textColour: "#ffffff",
        colour: "#007bff",
        icon: "",
        to: "",
        from: this.currentNode.identifier,
        target: "_self",
      };
      this.localValue.widgetValue.splice(
        this.localValue.widgetValue.length,
        0,
        newButton
      );
      this.emitter();
    },
    // MODAL FUNCTIONS
    setBtnLinkTo(to) {
      this.$set(this.modalItem, "to", to);
      this.noLongerAvailable = false;
      this.$nextTick(() => {
        this.emitter();
      });
    },
    setBtnlinkTarget(target) {
      this.$set(this.modalItem, "target", target);
      this.$nextTick(() => {
        this.emitter();
      });
    },
  },
};
</script>



