pat<template>
  <div class="liBuilderDiagram" :key="'liBuilderDiagramNodes' + componentId">
    <!-- DIAGRAM CANVAS -->
    <div
      class="liBuilderDiagramCanvas"
      v-resize
      ref="diagramParent"
      @mousemove="mouseMove"
      @mouseup="mouseUp"
      @resize="canvasResize"
    >
      <svg
        v-if="diagramCanvas[0] != 0 && rezizeTimeout === false"
        id="svg"
        :height="diagramCanvas[1] + 'px'"
        :width="diagramCanvas[0] + 'px'"
        class="liBuilderLinksCanvas"
      >
        <!-- links in json file-->
        <template v-if="localValue.widgetValue.links.length >= 0">
          <template v-for="link in localValue.widgetValue.links">
            <g
              @mousedown="() => linkMouseDown(link)"
              @mouseover="() => linkMouseOver(link)"
              @mouseleave="() => linkMouseLeave(link)"
              :key="link.id + `links`"
              style="cursor: pointer"
            >
              <!-- invisible straight Line-->
              <line
                v-if="link.shape === 'straight'"
                style="stroke:blue; opacity: 0; stroke-width:8;cursor: pointer;"
                :x1="calcCordsFromNodeId(link, 'from', link.shape).x"
                :y1="calcCordsFromNodeId(link, 'from', link.shape).y"
                :x2="calcCordsFromNodeId(link, 'to', link.shape).x"
                :y2="calcCordsFromNodeId(link, 'to', link.shape).y"
              />

              <!-- straight lines -->
              <g
                v-if="
                  link.shape === 'straight' &&
                    _.find(localValue.widgetValue.nodes, {
                      id: link.fromNodeId,
                    }).shape !== 'container' &&
                    _.find(localValue.widgetValue.nodes, {
                      id: link.toNodeId,
                    }).shape !== 'container'
                "
              >
                <line
                  :marker-start="
                    'url(#arrow-start' +
                      calcCordsFromNodeId(link, 'from', link.shape).x +
                      ')'
                  "
                  :marker-end="
                    'url(#arrow-end' +
                      calcCordsFromNodeId(link, 'to', link.shape).x +
                      ')'
                  "
                  :style="svgLinkStyle(link)"
                  :x1="calcCordsFromNodeId(link, 'from', link.shape).x"
                  :y1="calcCordsFromNodeId(link, 'from', link.shape).y"
                  :x2="calcCordsFromNodeId(link, 'to', link.shape).x"
                  :y2="calcCordsFromNodeId(link, 'to', link.shape).y"
                />

                <!-- marker start -->
                <marker
                  v-if="
                    link.iconStart !== 'none' &&
                      !_.isEmpty(link) &&
                      link.shape === 'straight'
                  "
                  :id="
                    'arrow-start' +
                      calcCordsFromNodeId(link, 'from', link.shape).x
                  "
                  :style="svgLinkStyle(link)"
                  markerUnits="strokeWidth"
                  :viewbox="markerStart(link).viewbox"
                  :refX="markerStart(link).refX"
                  :refY="markerStart(link).refY"
                  :markerWidth="markerStart(link).markerWidth"
                  :markerHeight="markerStart(link).markerHeight"
                  orient="auto"
                >
                  <path :d="markerStart(link).path"></path>
                </marker>

                <!-- Marker end -->
                <marker
                  v-if="
                    link.iconEnd !== 'none' &&
                      !_.isEmpty(link) &&
                      link.shape === 'straight'
                  "
                  :id="
                    'arrow-end' + calcCordsFromNodeId(link, 'to', link.shape).x
                  "
                  :style="svgLinkStyle(link)"
                  :viewbox="markerEnd(link).viewbox"
                  markerUnits="strokeWidth"
                  :refX="markerEnd(link).refX"
                  :refY="markerEnd(link).refY"
                  :markerWidth="markerEnd(link).markerWidth"
                  :markerHeight="markerEnd(link).markerHeight"
                  orient="auto"
                >
                  <path :d="markerEnd(link).path"></path>
                </marker>

                <text
                  :style="svgLinkStyle(link)"
                  :x="
                    midPointStraightLine(
                      calcCordsFromNodeId(link, 'from', link.shape).x,
                      calcCordsFromNodeId(link, 'from', link.shape).y,
                      calcCordsFromNodeId(link, 'to', link.shape).x,
                      calcCordsFromNodeId(link, 'to', link.shape).y
                    ).x
                  "
                  :y="
                    midPointStraightLine(
                      calcCordsFromNodeId(link, 'from', link.shape).x,
                      calcCordsFromNodeId(link, 'from', link.shape).y,
                      calcCordsFromNodeId(link, 'to', link.shape).x,
                      calcCordsFromNodeId(link, 'to', link.shape).y
                    ).y
                  "
                >
                  {{ link.text }}
                </text>
              </g>

              <!-- lines with hooks -->
              <g
                :style="svgLinkStyle(link)"
                v-if="link.shape === 'hooked' && !_.isEmpty(link)"
              >
                <!-- //TODO invisible link -->
                <!-- invisible line to make selecting link easier -->
                <path
                  style="stroke:blue; opacity: 0;  stroke-width:13 ;cursor: pointer;"
                  :marker-start="
                    'url(#arrow-start' +
                      calcLinkWithHookSourceAndDestination(link)
                  "
                  :marker-end="
                    'url(#arrow-end' +
                      calcLinkWithHookSourceAndDestination(link)
                  "
                  :d="calcLinkWithHookSourceAndDestination(link)"
                ></path>

                <path
                  :marker-start="
                    'url(#arrow-start' +
                      calcLinkWithHookSourceAndDestination(link)
                  "
                  :marker-end="
                    'url(#arrow-end' +
                      calcLinkWithHookSourceAndDestination(link)
                  "
                  stroke-width="1"
                  :stroke="link.color"
                  fill="none"
                  :d="calcLinkWithHookSourceAndDestination(link)"
                ></path>
                <!-- text of hooked line -->
                <text
                  v-if="
                    calcMidPointOfHookedLineForText(
                      calcLinkWithHookSourceAndDestination(link)
                    ).display
                  "
                  :x="
                    calcMidPointOfHookedLineForText(
                      calcLinkWithHookSourceAndDestination(link)
                    ).point.x
                  "
                  :y="
                    calcMidPointOfHookedLineForText(
                      calcLinkWithHookSourceAndDestination(link)
                    ).point.y
                  "
                >
                  {{ link.text }}
                </text>
              </g>
              <!-- marker-start for hooked lines -->
              <marker
                v-if="
                  link.iconStart !== 'none' &&
                    !_.isEmpty(link) &&
                    link.shape === 'hooked'
                "
                :id="'arrow-start' + calcLinkWithHookSourceAndDestination(link)"
                :style="svgLinkStyle(link)"
                markerUnits="strokeWidth"
                :refX="markerStart(link).refX"
                :refY="markerStart(link).refY"
                :markerWidth="markerStart(link).markerWidth"
                :markerHeight="markerStart(link).markerHeight"
                orient="auto"
              >
                <path :d="markerStart(link).path"></path>
              </marker>

              <!-- marker-end for hooked lines -->

              <marker
                v-if="
                  link.iconEnd !== 'none' &&
                    !_.isEmpty(link) &&
                    link.shape === 'hooked'
                "
                :id="'arrow-end' + calcLinkWithHookSourceAndDestination(link)"
                :style="svgLinkStyle(link)"
                markerUnits="strokeWidth"
                :refX="markerEnd(link).refX"
                :refY="markerEnd(link).refY"
                :markerWidth="markerEnd(link).markerWidth"
                :markerHeight="markerEnd(link).markerHeight"
                orient="auto"
              >
                <path :d="markerEnd(link).path"></path>
              </marker>
            </g>
          </template>

          <!-- new Straight Line -->
          <template
            v-if="
              isNewLinkMoving &&
                drawNewLineInformation.x > 0 &&
                drawNewLineInformation.y > 0
            "
          >
            <g>
              <line
                :marker-end="
                  'url(#arrow' +
                    _.find(localValue.widgetValue.nodes, {
                      id: drawNewLineInformation.fromNodeId,
                    }).x +
                    ')'
                "
                :x1="newLineFromNodeType(drawNewLineInformation.fromNodeId).x"
                :y1="newLineFromNodeType(drawNewLineInformation.fromNodeId).y"
                :x2="drawNewLineInformation.x - 5"
                :y2="drawNewLineInformation.y - 5"
                style="stroke: #3b5a9e; stroke-width: 1"
              ></line>

              <marker
                :id="
                  'arrow' +
                    _.find(localValue.widgetValue.nodes, {
                      id: drawNewLineInformation.fromNodeId,
                    }).x
                "
                style="fill: blue"
                markerUnits="strokeWidth"
                viewbox="0 0 12 12"
                refX="9"
                refY="6"
                markerWidth="12"
                markerHeight="12"
                orient="auto"
              >
                <path d="M2,2 L10,6 L2,10 L6,6 L2,2"></path>
              </marker>
            </g>
          </template>

          <template v-for="node in localValue.widgetValue.nodes">
            <g
              class="node-container"
              :key="node.id"
              @mousedown="() => nodeMouseDown(node)"
              @mouseover="() => nodeMouseOver(node)"
              @mouseleave="() => nodeMouseLeave(node)"
            >
              <!-- node -->
              <Node
                :x="getNodeX(node)"
                :y="getNodeY(node)"
                :isMouseInNode="isMouseInNode"
                :node="node"
                :hoverMeNode="hoverMeNode"
                :selectedNode="selectedNode"
                :live="false"
              ></Node>

              <!-- node icon -->
              <!-- //TODO fix <i> icons </i> to <svg></svg> -->

              <g v-if="!_.isEmpty(node.icon)">
                <circle
                  v-if="node.icon !== null"
                  :stroke="node.iconColor"
                  stroke-width="1"
                  fill="white"
                  :r="iconSizeFunction(node).svg"
                  :cx="
                    getNodeX(node) +
                      calculatePadding(
                        nodeAnchorPointsWithHeightAndWidth(node).width,
                        nodeAnchorPointsWithHeightAndWidth(node).height,
                        'top'
                      ).x
                  "
                  :cy="
                    getNodeY(node) +
                      calculatePadding(
                        nodeAnchorPointsWithHeightAndWidth(node).width,
                        nodeAnchorPointsWithHeightAndWidth(node).height,
                        'top'
                      ).y -
                      10
                  "
                />
                <!-- node icon -->
                <foreignObject
                  :x="
                    getNodeX(node) +
                      calculatePadding(
                        nodeAnchorPointsWithHeightAndWidth(node).width,
                        nodeAnchorPointsWithHeightAndWidth(node).height,
                        'top'
                      ).x -
                      9
                  "
                  :y="
                    getNodeY(node) +
                      calculatePadding(
                        nodeAnchorPointsWithHeightAndWidth(node).width,
                        nodeAnchorPointsWithHeightAndWidth(node).height,
                        'top'
                      ).y -
                      20
                  "
                  width="30"
                  height="30"
                >
                  <span
                    :STYLE="
                      `font-size:${iconSizeFunction(node).span}%; color:${
                        node.iconColor
                      }`
                    "
                    :class="node.icon"
                  ></span>
                </foreignObject>
              </g>

              <!-- danger sing (when link to slide is set but there is no destination) -->
              <!-- danger sign -->
              <!-- //TODO fix danger link -->
              <g v-if="node.action === 'link' && node.to === ''">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  :x="getNodeX(node) + midPointOfNode(node).x - 10"
                  :y="getNodeY(node) + midPointOfNode(node).y - 15"
                >
                  <path
                    fill="red"
                    d="M28.859,26.124L14.957,2.245c-0.101-0.173-0.287-0.279-0.489-0.279c-0.198,0-0.383,0.106-0.481,0.279L0.079,26.124
		c-0.102,0.175-0.106,0.389-0.006,0.565c0.103,0.174,0.287,0.282,0.488,0.282h27.814c0.201,0,0.389-0.108,0.488-0.282
		c0.047-0.088,0.074-0.186,0.074-0.281C28.938,26.309,28.911,26.211,28.859,26.124z M16.369,10.441l-0.462,9.493h-2.389
		l-0.461-9.493H16.369z M14.711,24.794h-0.042c-1.089,0-1.843-0.817-1.843-1.907c0-1.131,0.774-1.907,1.885-1.907
		s1.846,0.775,1.867,1.907C16.579,23.977,15.844,24.794,14.711,24.794z"
                  />
                </svg>
              </g>
              <!-- end danger sign -->

              <g
                style="cursor: pointer"
                v-if="
                  hoverMeNode !== null &&
                    hoverMeNode.id === node.id &&
                    node.shape !== 'container'
                "
                v-on:click="makeNewLinkPossiblebutton(node.id)"
              >
                <ArrowDownSVG
                  :y="
                    arowDownAndTrashCanPosition(
                      getNodeX(node),
                      getNodeY(node),
                      node
                    ).arrow.y
                  "
                  :x="
                    arowDownAndTrashCanPosition(
                      getNodeX(node),
                      getNodeY(node),
                      node
                    ).arrow.x
                  "
                ></ArrowDownSVG>
              </g>
              <g
                style="cursor: pointer"
                v-if="
                  hoverMeNode !== null &&
                    hoverMeNode.id === node.id &&
                    node.shape !== 'container'
                "
                v-on:click="deleteNodeWithOnClick()"
              >
                <TrashCanSVG
                  :x="
                    arowDownAndTrashCanPosition(
                      getNodeX(node),
                      getNodeY(node),
                      node
                    ).trashCan.x
                  "
                  :y="
                    arowDownAndTrashCanPosition(
                      getNodeX(node),
                      getNodeY(node),
                      node
                    ).trashCan.y
                  "
                ></TrashCanSVG>
              </g>
            </g>
          </template>

          <!-- new node button inside svg field -->
          <g :key="'newRectangle'" class="newButton-contain">
            <circle
              v-on:click="addNode"
              class="node circle"
              :cx="50"
              :cy="50"
              :r="25"
              style="border: solid 1px blue; fill: #3b5a9e; cursor: pointer"
              key="'newNodebutton'"
            />
            <!-- horizontal line -->
            <path
              stroke-width="2"
              stroke="white"
              :d="`M ${40},${50} L ${60},${50}`"
            ></path>
            <!-- vertical line -->
            <path
              stroke-width="2"
              stroke="white"
              :d="`M ${50},${40} L ${50},${60}`"
            ></path>
          </g>

          <!-- end node / new node button/ cordinates -->
        </template>
      </svg>
    </div>

    <!-- /. END DIAGRAM CANVAS -->

    <!-- PORTAL TO WIDGET MODAL NODE -->
    <portal
      to="currentNodeDiagramTab"
      :key="'DiabramItemPortalNode' + String(this.id)"
    >
      <template v-if="selectedNode != null">
        <NodeSettings
          :selectedNode="selectedNode"
          :linkNodes="linkNodes"
          @sends="deleteNodeWithOnClick"
        ></NodeSettings>
      </template>
      <template v-if="selectedLink != null">
        <LinkSettings
          @send="deleteLinkWithOnclick"
          :selectedLink="selectedLink"
        ></LinkSettings>
      </template>

      <!-- fixing localValue  -->
    </portal>
    <!-- /.END PORTAL TO WIDGET MODAL NODE -->
    <!-- PORTAL TO WIDGET MODAL LINK -->

    <portal
      to="liModalContent"
      v-if="modalItemInit && modalLinkItem"
      :key="'DiabramItemPortalLink' + String(modalLinkItem.id)"
    >
      <!-- MODAL CONTENT -->

      <!-- /.END MODAL CONTENT -->
      <!-- MODAL FOOTER -->
      <liWidgetFooter :hideWidgetModal="hideWidgetItemModal" />
      <!-- /.END MODAL FOOTER -->
    </portal>
    <!-- /.END PORTAL TO WIDGET MODAL LINK -->
  </div>
</template>

<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_URL;
// EXPLAIN IMAGE
import explainImage from "../../assets/images/SVG/liBuilder-Button-1-dark.svg";

// from jayh

import _ from "lodash";
import { connect } from "/src/JayhsWork/svg.js";
import Node from "/src/JayhsWork/Node.vue";
import TrashCanSVG from "/src/JayhsWork/TrashCanSVG.vue";
import ArrowDownSVG from "/src/JayhsWork/ArrowDownCircle.vue";
import NodeSettings from "/src/JayhsWork/NodeSettings.vue";
import LinkSettings from "/src/JayhsWork/LinkSettings.vue";

// from appcourt itself

export default {
  name: "liBuilderDiagram",
  components: {
    Node,
    TrashCanSVG,
    ArrowDownSVG,
    LinkSettings,
    NodeSettings,
  },
  data() {
    return {
      // work of dennis
      rtime: null,
      rezizeTimeout: false,
      delta: 400,
      apiPublicPath: API_URL_PUBLIC,
      explainImage: explainImage,
      modalItemInit: false,
      diagramCanvas: [0, 0],

      // work of jayh

      //diagram
      // diagramCanvas: [400, 900],
      // standard values when border is present in settings
      // diagramBorder: ["10px", "solid", "#b6bdd2"],

      // new
      localValue: null,

      //nodes
      nodeMap: new Map(),
      targetNode: -1,
      isMouseInNode: null, //boolean
      hoverMeNode: null,
      selectedNode: null,
      isMoving: false,

      // Links
      isMouseInLink: false,
      selectedLink: null,
      hoverMeLink: [],

      // new link
      isNewLinkMoving: false,
      drawNewLineInformation: {
        fromNodeId: null,
        newLink: null,
        x: 0,
        y: 0,
      },
    };
  },
  //work of dennis
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null, // for the slides
    componentId: null,
  },
  created() {},
  mounted() {
    this.localValue = this._.cloneDeep(this.value);

    this.localValue.widgetValue.nodes.forEach((element) => {
      this.nodeMap.set(element.id, element);
    });

    window.addEventListener("keydown", this.deleteNodeWithKey);
    window.addEventListener("keydown", this.deleteLinkWitKey);
  },
  unmounted() {
    window.removeEventListener("keydown", this.deleteNodeWithKey);
    window.removeEventListener("keydown", this.deleteLinkWitKey);
  },
  watch: {
    selectedNode() {
      this.$nextTick(() => {
        this.emitter();
      });
    },
  },

  methods: {
    midPointOfNode(node) {
      // rectangle kind of shapes
      if (
        node.shape === "rectangle" ||
        node.shape === "document" ||
        node.shape === "roundedrectangle" ||
        node.shape === "skewedrectangle" ||
        node.shape === "subroutine"
      ) {
        return { y: node.height / 2, x: node.width / 2 };
      }
      // square or cicle kind of shapes with same height and width
      if (
        node.shape === "circle" ||
        node.shape === "or" ||
        node.shape === "summing-junction" ||
        node.shape === "internal-storage"
      ) {
        return {
          y: node.width / 2 / 2,
          x: node.width / 2 / 2,
        };
      }
      if (node.shape === "diamond") {
        return {
          y: node.width / 1.5 / 2,
          x: node.width / 1.77 / 2,
        };
      }
      if (node.shape === "database" || node.shape === "off-page") {
        return {
          y: 80 / 2,
          x: 80 / 2,
        };
      }
    },

    emitter(removed = null) {
      let links = [];
      if (
        !this._.isEmpty(this.localValue.widgetValue) &&
        !this._.isEmpty(this.localValue.widgetValue.nodes)
      ) {
        this.localValue.widgetValue.nodes.forEach((link) => {
          // MINIMAL RETURN PER LINKITEM, CAN BE MORE IF YOU WANT OR JUST LAZY LIKE ME!
          // let linkItem =  {
          //   widgetId: link.widgetId,
          //   id: link.id,
          //   from: link.from,
          //   to: link.to,
          //   name: link.name,
          //   textColour: link.textColour,
          //   bgColour: link.bgColour,
          //   target: link.target,
          // }
          if (link.type === "link") {
            links.push(link);
          }
        });
      }
      this.localValue.additional.links = links;
      if (removed != null) {
        this.$set(this.localValue.additional, "removed_links", removed);
      }
      this.$emit("input", this.localValue);
      // this.$nextTick(() => {
      //   this.$delete(this.localValue.additional, 'removed_links');
      // });
    },

    // TODO make it usable
    canvasResize(e) {
      this.rtime = new Date();
      if (this.rezizeTimeout === false) {
        this.rezizeTimeout = true; //was true now fale

        setTimeout(this.resizeend(), this.delta);
      }
      this.diagramCanvas = [e.detail.width, e.detail.height];
    },
    resizeend() {
      if (new Date() - this.rtime < this.delta) {
        setTimeout(this.resizeend, this.delta);
      } else {
        this.rezizeTimeout = false;
      }
    },
    // methods from jayh
    midPointStraightLine(x1, y1, x2, y2) {
      return { x: (x1 + x2) / 2, y: (y1 + y2) / 2 };
    },

    // GET NODE CORDINATES
    getNodeX(node) {
      if (node.dx) return node.x + node.dx;
      return node.x;
    },
    getNodeY(node) {
      if (node.dy) return node.y + node.dy;
      return node.y;
    },

    addNode() {
      const newId =
        new Date().getTime().toString(16) +
        Math.floor(Math.random() * 1000000).toString(16);
      const node = {
        id: newId,
        type: "node",
        shape: "roundedrectangle",
        borderColour: "#3b5a9e",
        backgroundColour: "white",
        title: "",
        titleColor: "black",
        popoverTrigger: "click",
        x: 70,
        y: 5,
        dx: null,
        dy: null,
        action: null,
        icon: null,
        iconSize: "m",
        iconColor: "#FF0000",
        text: "",
        textColor: "black",
        idFromWidget: 1,
        height: 30,
        width: 130,
        to: "",
        target: "_self",
      };

      this.nodeMap.set(newId, node);
      this.$set(this.localValue.widgetValue, "nodes", [
        ...this.nodeMap.values(),
      ]);

      this.$nextTick(() => {
        this.emitter();
      });
    },
    deleteNode() {
      if (this.selectedNode === null) return;

      const newLinks = this.localValue.widgetValue.links.filter((link) => {
        const nodeId = this.selectedNode.id;
        return !(
          (nodeId === link.toNodeId && nodeId !== link.fromNodeId) ||
          (nodeId === link.fromNodeId && nodeId !== link.toNodeId)
        );
      });

      this.$set(this.localValue.widgetValue, "links", newLinks);

      this.nodeMap.delete(this.selectedNode.id);
      this.$set(this.localValue.widgetValue, "nodes", [
        ...this.nodeMap.values(),
      ]);

      this.$nextTick(() => {
        this.emitter();
      });
    },
    deleteNodeWithKey(event) {
      if (event.keyCode == 46 && this.selectedNode !== null) {
        this.deleteNode();
        this.$set(this, "selectedNode", null);
      }
    },
    deleteNodeWithOnClick() {
      this.deleteNode();
      this.$set(this, "selectedNode", null);
    },
    deleteLinkWitKey(event) {
      if (event.keyCode == 46 && this.selectedLink !== null) {
        const newLinks = this.localValue.widgetValue.links.filter((link) => {
          return !(link.id === this.selectedLink.id);
        });

        this.$set(this.localValue.widgetValue, "links", newLinks);
        this.$set(this, "selectedLink", null);
      }
    },
    // TODO fix deleteLink
    deleteLinkWithOnclick(selectedLink) {
      const newLinks = this.localValue.widgetValue.links.filter((link) => {
        return !(link.id === selectedLink.id);
      });

      this.$set(this.localValue.widgetValue, "links", newLinks);
      this.$set(this, "selectedLink", null);
    },

    //MOUSE DOWN
    nodeMouseDown(node) {
      this.$set(this, "targetNode", node.id);
      this.$set(this, "selectedNode", node);

      // TODO fix container no setting a link to a container

      // new link
      if (
        this.isNewLinkMoving &&
        this.hoverMeNode.id !==
          this.drawNewLineInformation.newLink.fromNodeId &&
        node.shape !== "container"
      ) {
        this.$set(
          this.drawNewLineInformation.newLink,
          "toNodeId",
          this.hoverMeNode.id
        );

        this.$set(this.localValue.widgetValue, "links", [
          ...this.localValue.widgetValue.links,
          this.drawNewLineInformation.newLink,
        ]);
        this.$nextTick(() => {
          this.emitter();
        });

        this.$set(this, "isNewLinkMoving", false);
        this.$set(this.drawNewLineInformation, "toNodeId", null);
        this.$set(this.drawNewLineInformation, "newLink", null);
        this.$set(this.drawNewLineInformation, "x", 0);
        this.$set(this.drawNewLineInformation, "y", 0);
      } else {
        this.$set(this, "isNewLinkMoving", false);
      }
    },

    linkMouseDown(link) {
      this.$set(this, "selectedLink", link);
      if (!this.targetNode) {
        this.$set(this, "selectedNode", null);
      }
    },
    //MOUSE MOVE
    mouseMove(event) {
      // making a link
      if (this.isNewLinkMoving) {
        this.$set(this.drawNewLineInformation, "x", event.offsetX);
        this.$set(this.drawNewLineInformation, "y", event.offsetY);
      }

      // node dx dy
      if (!this.targetNode < 0 || this.isNewLinkMoving) return;
      this.$set(this, "isMoving", true);
      const node = this.nodeMap.get(this.targetNode);
      if (!node) return;

      node.dx = event.offsetX - node.x;
      node.dy = event.offsetY - node.y;

      this.nodeMap.set(this.targetNode, node);
      this.$set(this.localValue.widgetValue, "nodes", [
        ...this.nodeMap.values(),
      ]);
    },

    //MOUSEUP
    mouseUp() {
      // link
      if (this.hoverMeNode === null && this.isNewLinkMoving) {
        this.$set(this, "isNewLinkMoving", false);
        return;
      }
      if (this.targetNode < 0 || this.selectedLink != null) {
        this.$set(this, "selectedNode", null);
      }
      if (!this.hoverMeLink) {
        this.$set(this, "selectedLink", null);
      }
      const node = this.nodeMap.get(this.targetNode);
      if (!node) return;

      if (node.dx === 0 && node.dy === 0) return;
      node.x = node.x + node.dx;
      node.y = node.y + node.dy;
      node.dx = 0;
      node.dy = 0;
      this.nodeMap.set(this.targetNode, node);
      this.$set(this.localValue.widgetValue, "nodes", [
        ...this.nodeMap.values(),
      ]);
      this.$set(this, "targetNode", -1);
      this.$set(this, "isMoving", false);
    },

    svgLinkStyle(link) {
      let style = "";
      let selectedLink = null;

      if (this.selectedLink) {
        selectedLink = this.selectedLink;
      } else {
        selectedLink = "not defined";
      }

      if (
        (this.isMouseInLink && link.id === this.hoverMeLink.id) ||
        link.id === selectedLink.id
      ) {
        style += "filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));";
        style += `stroke: ${link.color};`;
      } else {
        style += `stroke: ${link.color};`;
        // style += "filter: none";
      }
      style += "stroke-width:1;";
      style += "fill: none; ";

      return style;
    },

    nodeMouseOver(node) {
      this.$set(this, "isMouseInNode", true);
      this.$set(this, "hoverMeNode", node);
    },
    nodeMouseLeave() {
      this.$set(this, "isMouseInNode", false);
      this.$set(this, "hoverMeNode", null);
    },

    linkMouseOver(link) {
      this.$set(this, "isMouseInLink", true);

      let lodashIndex = _.findIndex(this.links, { id: link.id });

      this.$set(this, "hoverMeLink", link);
      this.$set(this.hoverMeLink, "index", lodashIndex);
    },
    linkMouseLeave() {
      this.$set(this, "isMouseInLink", false);
      this.$set(this, "hoverMeLink", null);
    },
    // markers for lineEnd and start
    markerEnd(link) {
      if (link.iconEnd === "arrow") {
        return {
          path: "M2,2 L10,6 L2,10 L6,6 L2,2",
          refX: 9,
          refY: 6,
          markerWidth: "12",
          markerHeight: "20",
          viewbox: "0 0 12 12",
        };
      }

      if (link.iconEnd === "many") {
        return {
          path: "M 11.018 0.028 L 0.031 6.001 L 10.979 12.019",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconEnd === "oneOrMany") {
        return {
          path:
            "M 11.018 0.028 L 0.031 6.001 L 10.979 12.019 M -0.014 -0.013 L 0.007 11.999",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconEnd === "one") {
        return {
          path: "M 11.103 -0.026 M -0.014 -0.013 L 0.007 11.999",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconEnd === "oneAndOnlyOne") {
        return {
          path: "M 11.103 -0.026 M -0.014 -0.013 L 0.007 11.999 M 5 0 L 5 12",
          refX: 11,
          refY: 6,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 20 20",
        };
      }

      if (link.iconEnd === "zeroOrMany") {
        return {
          path:
            "M 8 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 13 12 L 24 17 M 13 12 L 24 7 M 13 12 L 24 12",
          refX: 23,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 30 30",
        };
      }
      if (link.iconEnd === "zeroOrOne") {
        return {
          path:
            "M 5 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 15 7 L 15 17",
          refX: 22,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 40 40",
        };
      }
    },
    markerStart(link) {
      if (link.iconStart === "fork") {
        return {
          path: "M2,2 L10,6 L2,10 L6,6 L2,2",
          refX: 9,
          refY: 6,
          markerWidth: "12",
          markerHeight: "12",
          viewbox: "0 0 12 12",
        };
      }
      if (link.iconStart === "many") {
        return {
          path: "M 11.018 0.028 L 22.002 6.002 L 10.999 12.978",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "oneOrMany") {
        return {
          path:
            "M 11.018 0.028 L 22.002 6.002 L 10.999 12.978 M 22.004 0.015 L 21.992 13",
          refX: 11,
          refY: 6,
          markerWidth: "22",
          markerHeight: "22",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "one") {
        return {
          path: "M 22.004 0.015 L 21.992 13",
          refX: 11,
          refY: 6,
          markerWidth: "22",
          markerHeight: "22",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "oneAndOnlyOne") {
        return {
          path: "M 22.004 0.015 L 21.992 13 M 27 0 L 27 13",
          refX: 11,
          refY: 6,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "zeroOrMany") {
        return {
          path:
            "M 16 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 11 12 L 0 12 M 11 12 L 0 17 M 11 12 L 0 7",
          refX: 0,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 40 40",
        };
      }
      if (link.iconStart === "zeroOrOne") {
        return {
          path:
            "M 16 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 5 7 L 5 17",
          refX: 0,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 40 40",
        };
      }
    },

    // CALCULATIONS for the 90 anchor point jumps AUTOMATED
    calcCordsFromNodeId(link, toOrFrom, linkShape) {
      if (this.localValue.widgetValue.links.size === 0) return { x: 0, y: 0 }; // empty linklist guard
      const nodeFrom = _.find(this.localValue.widgetValue.nodes, {
        id: link.fromNodeId,
      });
      const nodeTo = _.find(this.localValue.widgetValue.nodes, {
        id: link.toNodeId,
      });

      if (!nodeFrom.y || !nodeFrom.x) return { x: 0, y: 0 };

      let node = null;
      let position = null;

      if (toOrFrom === "from") {
        node = nodeFrom;
        // TODO fix guard position for hooked lines
        if (linkShape === "straight") {
          position = this.calcPositionWithDegree(nodeFrom, nodeTo, toOrFrom);
        }
      } else {
        node = nodeTo;
        // TODO fix guardd position for hooked lines
        if (linkShape === "straight") {
          position = this.calcPositionWithDegree(nodeFrom, nodeTo);
        }
      }
      let alignmentPadding = null;

      // from
      if (toOrFrom === "from") {
        alignmentPadding = this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          position
        );
      } //to
      else {
        alignmentPadding = this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          position
        );
      }

      return {
        x: node.x + (node.dx ? node.dx : 0) + alignmentPadding.x,
        y: node.y + (node.dy ? node.dy : 0) + alignmentPadding.y,
      };
    },

    nodeAnchorPointsWithHeightAndWidth(node) {
      // rectangle kind of shapes
      if (
        node.shape === "rectangle" ||
        node.shape === "document" ||
        node.shape === "roundedrectangle" ||
        node.shape === "skewedrectangle" ||
        node.shape === "subroutine" ||
        node.shape === "container"
      ) {
        return { height: 30, width: 130 };
      }
      // square or cicle kind of shapes with same height and width
      if (
        node.shape === "circle" ||
        node.shape === "or" ||
        node.shape === "summing-junction" ||
        node.shape === "internal-storage"
      ) {
        return {
          height: 130 / 2,
          width: 130 / 2,
        };
      }
      if (node.shape === "diamond") {
        return {
          height: 130 / 1.5,
          width: 130 / 1.77,
        };
      }
      if (
        node.shape === "database" ||
        node.shape === "off-page" ||
        node.shape === "database" ||
        node.shape === "off-page-top"
      ) {
        return {
          height: 80,
          width: 80,
        };
      }
      // triangle shapes
      if (node.shape === "merge") {
        return {
          height: 65,
          width: 70,
        };
      }
    },

    // straight lines
    calcPositionWithDegree(nodeFrom, nodeTo, toOrFrom) {
      const midPointFromX =
        nodeFrom.x + (nodeFrom.dx ? nodeFrom.dx : 0) + nodeFrom.width / 2;
      const midPointFromY =
        nodeFrom.y + (nodeFrom.dy ? nodeFrom.dy : 0) + nodeFrom.height / 2;
      const midPointToX =
        nodeTo.x + (nodeTo.dx ? nodeTo.dx : 0) + nodeTo.width / 2;
      const midPointToY =
        nodeTo.y + (nodeTo.dy ? nodeTo.dy : 0) + nodeTo.height / 2;
      let degree = null;

      function inRange(x, min, max) {
        return (x - min) * (x - max) <= 0;
      }
      degree =
        (Math.atan2(midPointFromY - midPointToY, midPointFromX - midPointToX) *
          180) /
          Math.PI +
        180;

      // if degree is 44 it will be to the right if degree is 46 it will be to the left (steps of 45)
      if (inRange(degree, 0, 34)) {
        if (toOrFrom === "from") {
          return "right";
        } else return "left";
      }
      if (inRange(degree, 35, 144)) {
        if (toOrFrom === "from") {
          return "bottom";
        } else return "top";
      }
      if (inRange(degree, 145, 226)) {
        if (toOrFrom === "from") {
          return "left";
        } else {
          return "right";
        }
      }
      // if (inRange(degree, 227, 317)) {
      if (inRange(degree, 227, 317)) {
        if (toOrFrom === "from") {
          return "top";
        } else {
          return "bottom";
        }
      }
      if (inRange(degree, 318, 360)) {
        if (toOrFrom === "from") {
          return "right";
        } else {
          return "left";
        }
      }
    },

    calculatePadding(width, height, alignment) {
      if (!["top", "right", "bottom", "left"].includes(alignment)) return "top";
      const cases = {
        top: {
          x: width / 2,
          y: 0,
        },
        right: {
          x: width,
          y: height / 2,
        },
        bottom: {
          x: width / 2,
          y: height,
        },
        left: {
          x: 0,
          y: height / 2,
        },
      };

      return cases[alignment];
    },
    makeNewLinkPossiblebutton(fromNodeId) {
      const newId =
        new Date().getTime().toString(16) +
        Math.floor(Math.random() * 1000000).toString(16);
      const link = {
        id: newId,
        type: "link",
        fromNodeId: fromNodeId,
        toNodeId: -1,
        color: "#3b5a9e",
        shape: "straight",
        iconStart: "none",
        iconEnd: "arrow",
        text: "",
      };

      this.$set(this.drawNewLineInformation, "newLink", link);
      this.$set(this.drawNewLineInformation, "fromNodeId", fromNodeId);

      this.$set(this, "isNewLinkMoving", true); // mousemove
    },

    calcLinkWithHookSourceAndDestination(link) {
      const nodeFrom = _.find(this.localValue.widgetValue.nodes, {
        id: link.fromNodeId,
      });
      const nodeTo = _.find(this.localValue.widgetValue.nodes, {
        id: link.toNodeId,
      });
      if (!nodeFrom.y || !nodeFrom.x) return " ";
      if (!nodeTo.y || !nodeTo.x) return " ";

      let alignmentFrom = this.calcPositionWithDegree(nodeFrom, nodeTo, "from");
      let cordsFrom = this.calcCordsFromNodeId(link, "from", "straight");

      let alignmentTo = this.calcPositionWithDegree(nodeFrom, nodeTo, "to");
      let cordsTo = this.calcCordsFromNodeId(link, "to", "straight");
      let paths = connect(
        cordsFrom.x,
        cordsFrom.y,
        cordsTo.x,
        cordsTo.y,
        alignmentFrom,
        alignmentTo
      ).paths;

      return paths;
    },
    // TODO fix why round things and square nodes dont work properly
    calcMidPointOfHookedLineForText(paths) {
      // boolean when to display text
      let displayText = false;

      // when link is not straight but with 2 hooks
      let path = paths[2];
      // when the line is straight there will be less pathss
      if (paths.length === 3) {
        path = paths[1];
      }

      let stringX1 = path.substr(1, 3);
      let stringY1 = path.substr(5, 3);
      let stringX2 = path.substr(9, 3);
      let stringY2 = path.substr(13, 3);

      // check if strings contain letters inside of them so that when it does it will not place a text.
      const paragraph = stringX1 + stringY1 + stringX2 + stringY2;

      // any character that is not a word character or whitespace
      const regex = /[a-zA-Z]/;

      if (paragraph.search(regex) === -1) {
        displayText = true;
      }

      // TODO when a letter comes in remove the letter this comes because the substring is always 3 (can me more specific when automated)
      let x1 = parseInt(stringX1);
      let y1 = parseInt(stringY1);
      let x2 = parseInt(stringX2);
      let y2 = parseInt(stringY2);

      return {
        point: this.midPointStraightLine(x1, y1, x2, y2),
        display: displayText,
      };
    },

    arowDownAndTrashCanPosition(nodeX, nodeY, node) {
      // TODO Fix off-page
      if (
        node.shape === "rectangle" ||
        node.shape === "document" ||
        node.shape === "roundedrectangle" ||
        node.shape === "skewedrectangle" ||
        node.shape === "subroutine"
      ) {
        return {
          arrow: { x: nodeX + 60, y: nodeY + 30 },
          trashCan: { x: nodeX + 130, y: nodeY },
        };
      }
      if (
        node.shape === "circle" ||
        node.shape === "or" ||
        node.shape === "summing-junction" ||
        node.shape === "internal-storage"
      ) {
        return {
          arrow: { x: nodeX + 20, y: nodeY + 65 },
          trashCan: { x: nodeX + 70, y: nodeY + 20 },
        };
      }
      if (node.shape === "diamond") {
        return {
          arrow: { x: nodeX + 20, y: nodeY + 90 },
          trashCan: { x: nodeX + 75, y: nodeY + 35 },
        };
      }
      if (
        node.shape === "database" ||
        node.shape === "off-page" ||
        node.shape === "off-page-top"
      ) {
        return {
          arrow: { x: nodeX + 25, y: nodeY + 70 },
          trashCan: { x: nodeX + 77, y: nodeY + 28 },
        };
      }
      if (node.shape === "merge") {
        return {
          arrow: { x: nodeX + 25, y: nodeY + 60 },
          trashCan: { x: nodeX + 70, y: nodeY + 20 },
        };
      }
    },

    newLineFromNodeType(fromNodeId) {
      const nodeFrom = _.find(this.localValue.widgetValue.nodes, {
        id: fromNodeId,
      });

      if (
        nodeFrom.shape === "rectangle" ||
        nodeFrom.shape === "document" ||
        nodeFrom.shape === "roundedrectangle" ||
        nodeFrom.shape === "skewedrectangle" ||
        nodeFrom.shape === "subroutine"
      ) {
        return {
          x: nodeFrom.x + 130 / 2,
          y: nodeFrom.y + 30,
        };
      }

      if (nodeFrom.shape === "diamond") {
        return { x: nodeFrom.x + 20, y: nodeFrom.y + 90 };
      }

      if (
        nodeFrom.shape === "database" ||
        nodeFrom.shape === "off-page" ||
        nodeFrom.shape === "merge" ||
        nodeFrom.shape === "off-page-top"
      ) {
        return {
          x: nodeFrom.x + 80 / 2,
          y: nodeFrom.y + 80,
        };
      }
      if (
        nodeFrom.shape === "circle" ||
        nodeFrom.shape === "or" ||
        nodeFrom.shape === "summing-junction" ||
        nodeFrom.shape === "internal-storage"
      ) {
        return {
          x: nodeFrom.x + 80 / 2,
          y: nodeFrom.y + 70,
        };
      }
    },
    iconSizeFunction(node) {
      if (node.iconSize === "s") {
        return { svg: 15, span: 100 };
      }
      if (node.iconSize === "m") {
        return { svg: 20, span: 150 };
      }
      if (node.iconSize === "l") {
        return { svg: 25, span: 200 };
      }
    },
  },
};
</script>
