<template>
  <div v-if="!_.isEmpty(localValue)" class="liBuilderForm" @mousemove="handleResize($event)" @mouseup="endResizeItem" ref="formParent">
    <draggable tag="ul" class="list-unstyled p-0 mb-3" :list="localValue.widgetValue" v-bind="formItemOptions" @change="emitter">
      <template v-for="(input, index) in localValue.widgetValue">
        <li class="liBuilderListItem" :ref="'formItem_'+index" :key="index" :class="'col-'+input.cols" :style="'width:'+input.width+'%'" @mouseenter="$set(hoverMe, index, !hoverMe[index])" @mouseleave="$set(hoverMe, index, !hoverMe[index])">
          <!-- /.END RESIZE HANDLE -->
          <b-form-group class="liBuilderFormItem mb-0" :id="'input-group-'+String(input.id)">
            <!-- RESIZE HANDLE -->
            <button class="resizeBtn btn p-0" @mousedown="startResizeItem($event, input,index)">
              <!-- <b-icon-grip-horizontal class="grips" /> -->
            </button>
            <!-- ACTIONS -->
            <div class="actions" v-if="hoverMe[index]">
              <!-- MOVE ITEM -->
              <b-button variant="link" class="handle moveBtn btn-xs btn text-primary mr-2">
                <b-icon-arrows-move />
              </b-button>
              <!-- /.END MOVE ITEM -->
              <!-- REMOVE ITEM -->
              <b-dropdown right variant="link" class="btn-round text-primary removeFormItemBtn mr-2" size="xs" toggle-class="text-decoration-none" no-caret>
                <template v-slot:button-content>
                  <b-icon-trash />
                </template>
                <div class="bg-dark p-2">
                  <p class="bg-dark small text-light float-left w-100 p-1 pl-2">
                    Remove input?
                  </p>
                  <b-button variant="danger" block @click.prevent="removeFormItem(index)">
                    Remove
                  </b-button>
                </div>
              </b-dropdown>
              <!-- /.END REMOVE ITEM -->
              <!-- ITEM OPTIONS  -->
              <b-button variant="link" class="btn-xs text-primary mr-2" @click.prevent="showWidgetItemModal(input)" v-if="input.type != 'hr'">
                <b-icon-three-dots />
              </b-button>
              <!-- /. END ITEM OPTIONS  -->
            </div>
            <!-- /. END ACTIONS -->
            <!-- FORM ITEM PREVIEW -->
            <div class="inner">
              <!-- LABEL -->
              <label :class="{'text-muted': input.label == ''}" v-if="input.type != 'hr' && input.type != 'text' ">{{(input.label != '')? input.label : 'Your label here...' }}</label>
              <!-- REGULAR INPUT -->
              <b-form-input v-if="input.type == 'input'" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'input'+String(input.id)" disabled></b-form-input>
              <!-- PASSWORD INPUT -->
              <b-form-input v-if="input.type == 'password'" type="password" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'inputPassword'+String(input.id)" disabled></b-form-input>
              <!-- EMAIL INPUT -->
              <b-form-input v-if="input.type == 'email'" type="email" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'inputPassword'+String(input.id)" disabled></b-form-input>
              <!-- DATE INPUT -->
              <b-form-input v-if="input.type == 'date'" type="date" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'inputPassword'+String(input.id)" disabled></b-form-input>
              <!-- TIME INPUT -->
              <b-form-input v-if="input.type == 'time'" type="time" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'inputPassword'+String(input.id)" disabled></b-form-input>
              <!-- RANGE INPUT -->
              <b-form-input v-if="input.type == 'range'" type="range" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'inputPassword'+String(input.id)" disabled></b-form-input>
              <!-- COLOR INPUT -->
              <b-form-input v-if="input.type == 'color'" type="color" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'inputPassword'+String(input.id)" disabled></b-form-input>
              <!-- TEXTAREA -->
              <b-form-textarea rows="3" v-if="input.type == 'textarea'" :id="String(input.id)" v-model="input.value" required :placeholder="input.placeholder" @input="emitter" :key="'textarea'+String(input.id)" disabled></b-form-textarea>
              <!-- CHECKBOX -->
              <b-form-group v-if="input.type == 'checkbox'" class="mb-0">
                <b-form-checkbox-group :id="String(input.id)" v-model="input.selected" :options="computeSelectOptions(input.selectedOptions)" @change="emitter" :key="'checkbox'+String(input.id)" disabled></b-form-checkbox-group>
              </b-form-group>
              <!-- RADIO -->
              <b-form-group v-if="input.type == 'radio'" class="mb-0">
                <b-form-radio-group :id="String(input.id)" v-model="input.selected" :options="computeSelectOptions(input.selectedOptions)" @change="emitter" :key="'radio'+String(input.id)" disabled></b-form-radio-group>
              </b-form-group>
              <!-- SELECT -->
              <b-form-select v-if="input.type == 'select'" :id="String(input.id)" v-model="input.selected" :options="computeSelectOptions(input.selectedOptions)" @select="emitter" :key="'select'+String(input.id)" disabled>
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                </template>
              </b-form-select>
              <!-- DATEPICKER -->
              <b-form-datepicker v-if="input.type == 'datepicker'" :id="String(input.id)" v-model="input.value" :key="'datepicker'+String(input.id)" @input="emitter" disabled></b-form-datepicker>
              <!-- DESIGN -->
              <!-- HR -->
              <hr  v-if="input.type == 'hr'" class="my-0"/>
              <!-- TEXT -->
              <div  v-if="input.type == 'text'" v-html="input.label"/>
            </div>
            <!-- /.END FORM PREVIEW -->
          </b-form-group>
        </li>
      </template>
    </draggable>
    
    <div class="addRow">
      <!-- EXPLANOTION IMAGE -->
      <img :src="explainImage" class="liImg-explainImage" v-if="_.isEmpty(localValue.widgetValue) " />
      <b-button variant="primary" size="sm" class="btn-round liAaddFormItem" @click.prevent="addFormItem">
        <b-icon-plus />
      </b-button>
    </div>
    <!-- ITEM OPTIONS MODAL -->
    <!-- PORTAL TO WIDGET MODAL ITEM -->
    <portal to="liModalContent" v-if="modalItemInit && modalItem" :key="'inputItemPortal'+String(modalItem.id)">
      <div class="mb-3">
        <label>Select an input type</label>
        <b-form-select v-model="modalItem.type" :options="type" @select="emitter" size="sm" :key="'inputType'+String(modalItem.id)"></b-form-select>
      </div>
      <!-- FORM INPUTS -->
      <template v-if="modalItem.type != 'text' && modalItem.type != 'hr' ">
        <div class="mb-3">
          <label>Label</label>
          <b-form-input v-model="modalItem.label" @input="emitter" size="sm" :key="'inputLabel'+String(modalItem.id)"></b-form-input>
        </div>
        <div class="mb-3">
          <label>Placeholder</label>
          <b-form-input v-model="modalItem.placeholder" @input="emitter" size="sm" :key="'inputPlaceholder'+String(modalItem.id)"></b-form-input>
        </div>
        <div class="mb-3">
          <label>Object column</label>
          <b-form-input v-model="modalItem.column" @input="emitter" size="sm" :key="'inputColumn'+String(modalItem.id)"></b-form-input>
        </div>
        <div :class="(modalItem.type== 'select' || modalItem.type == 'radio' || modalItem.type == 'checkbox')? 'mb-3': '' " class="w-50">
          <label>Required</label>
          <b-form-checkbox v-model="modalItem.required" @input="emitter" :key="'inputRequired'+String(modalItem.id)"></b-form-checkbox>
        </div>
        <div class="mb-0" v-if="modalItem.type== 'select' || modalItem.type== 'radio'|| modalItem.type== 'checkbox'">
          <label>Options</label>
          <b-form-textarea rows="4" v-model="modalItem.selectedOptions" class="mb-2" @input="emitter" :key="'inputSelectedOptions'+String(modalItem.id)"></b-form-textarea>
          <label><i>Hint, put all the options on a new line.</i></label>
        </div>
      </template>
      <template v-if="modalItem.type == 'text'">
        <div class="mb-3">
          <label>Text</label>
          <ckeditor :editor="editor" v-model="modalItem.label" @blur="emitter" :config="editorConfig" :key="'text'+String(modalItem.id)" ></ckeditor>
        </div>
      </template>
      <!-- MODAL FOOTER -->
      <liWidgetFooter :hideWidgetModal="hideWidgetItemModal" />
    </portal>
    <!-- /. END PORTAL TO WIDGET MODAL -->
    <!-- /.END ITEM OPTIONS MODAL -->
  </div>
</template>
<script>
// EXPLAIN IMAGE
import explainImage from "../../assets/images/SVG/liBuilder-Form-1-dark.svg";
// REQUIRED
import  ClassicEditor  from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";
import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
// BASIC TEXT EDITING
import  BoldPlugin   from "@ckeditor/ckeditor5-basic-styles/src/bold";
import  ItalicPlugin  from "@ckeditor/ckeditor5-basic-styles/src/italic";
import  Underline  from "@ckeditor/ckeditor5-basic-styles/src/underline";
import  Strikethrough  from "@ckeditor/ckeditor5-basic-styles/src/strikethrough";
import  Subscript  from "@ckeditor/ckeditor5-basic-styles/src/subscript";
import  Superscript  from "@ckeditor/ckeditor5-basic-styles/src/superscript";
import  ParagraphPlugin  from "@ckeditor/ckeditor5-paragraph/src/paragraph";
// ALIGNMENT
import  AlignmentPlugin  from "@ckeditor/ckeditor5-alignment/src/alignment";
// HEADINGS
import  HeadingPlugin  from "@ckeditor/ckeditor5-heading/src/heading";
export default {
  name: "liBuilderForm",
  data() {
    return {
      hoverMe: [],
      explainImage: explainImage,
      formItemOptions: {
        group: "localValue",
        handle: ".handle",
        ghostClass: "ghost-builder-form-item",
        disabled: false,
      },
      dragging: false,
      selected: { index: null, max: null },
      mouse: {
        x: 0,
      },
      type: [
        { value: "input", text: "Singleline text" },
        { value: "textarea", text: "Multiline text" },
        { value: "password", text: "Password" },
        { value: "email", text: "Email" },
        { value: "color", text: "Color" },
        { value: "date", text: "Date" },
        { value: "time", text: "Time" },
        { value: "range", text: "Range" },
        { value: "checkbox", text: "Checkbox" },
        { value: "radio", text: "Radio" },
        { value: "select", text: "Select" },
        { value: "datepicker", text: "Datepicker" },
        {
            label: 'Design',
            options: [
              { value:"hr", text: "Hairline" },
              { value: "text", text: "Text"}
            ]
          }
      ],
      localValue: null,
      modalItemInit: false,
      modalItem: false,
      editor: ClassicEditor,
      editorData: null,
      editorConfig: {
        plugins: [
          EssentialsPlugin,BoldPlugin,ItalicPlugin,Underline,Strikethrough,Subscript,Superscript,ParagraphPlugin,AlignmentPlugin,HeadingPlugin,
        ],
        toolbar: {
          items: [
            "heading","|","bold","italic","underline","strikethrough","subscript","superscript","|","alignment","|","undo","redo",
          ],
        },
      },
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId:null,
  },
  mounted() {
    this.localValue = this._.cloneDeep(this.value);
     this.$nextTick(() => {
        this.emitter();
      });
  },
  computed: {
    widgetModalItemOptions() {
      let modalOptions = this._.cloneDeep(this.WIDGET_MODAL_ITEM_OPTIONS);
      return modalOptions;
    },
  },
  methods: {
    showWidgetItemModal(input) {
      this.modalItem = input;
      this.openModal(this.widgetModalItemOptions).then(() => {
        this.modalItemInit = true;
      });
    },
    hideWidgetItemModal() {
      this.closeModal(true).then(() => {
        this.modalItemInit = false;
        this.modalItem = false;
      });
    },
    endResizeItem() {
      if (this.dragging) {
        // console.debug('FORM, endResizeItem');
        this.selected.index = null;
        this.selected.max = null;
        this.dragging = false;
        this.emitter();
      }
    },
    startResizeItem(e, item, index) {
      // console.debug('FORM, startResizeItem');
      this.selected.index = index;
      this.selected.max = this.$refs.formParent.getBoundingClientRect().width;
      this.dragging = true;
    },
    handleResize(e) {
      if (this.dragging) {
        const item = this.$refs["formItem_" + this.selected.index][0];
        const left = item.getBoundingClientRect().left - 10;
        this.mouse.x =
          e.pageX || e.clientX + document.documentElement.scrollLeft;
        let percentage = ((this.mouse.x - left) / this.selected.max) * 100;
        // pixels
        // item.style.width = this.mouse.x - left+ 'px';
        // percentage
        // item.style.width = percentage+ '%';
        this.localValue.widgetValue[this.selected.index].width = Math.ceil(
          percentage
        );
      }
    },
    emitter() {
      this.$emit("input", this.localValue);
    },
    computeSelectOptions(value) {
      return value.split("\n");
    },
    removeFormItem(index) {
      this.localValue.widgetValue.splice(index, 1);
      this.emitter();
    },
    addFormItem() {
      const uniqueId = Date.now();
      const newInput = {
        type: "input",
        label: "",
        placeholder: "",
        id: uniqueId,
        value: "",
        selectedOptions: "",
        selected: null,
        cols: 12,
        required: true,
        width: 100,
        column: "",
      };
      this.localValue.widgetValue.splice(
        this.localValue.widgetValue.length,
        0,
        newInput
      );
      this.emitter();
    },
  },
};
</script>

