<template>
  <div class="liBuilderiFrame" :key="'liBuilderiFrame'+componentId" v-resize @resize="iFrameContainerResize" >
     <b-input-group>
      <b-input-group-prepend>
        <div class="input-group-text border-0">
          Url:
        </div>
      </b-input-group-prepend>
      <b-form-input v-model="localValue.widgetValue" class="bg-white" @input="emitter" placeholder="must start with 'https://' or 'http://'"/>
     </b-input-group>
    <img :src="explainImage" class="liImg-explainImage" v-if="_.isEmpty(localValue.widgetValue) " />
    <template v-if="!_.isEmpty(localValue.widgetValue) && localValue.widgetValue.startsWith('https://') || localValue.widgetValue.startsWith('http://')" >
      <div class="iFrameContainer" :style="'height:'+iFrameContainer[1]+'px;'">
        <vue-friendly-iframe :src="localValue.widgetValue"/>
      </div>
    </template>
  </div>
</template>
<script>

// EPLAIN IMAGE
import explainImage from '../../assets/images/SVG/liBuilder-iFrame-1-dark.svg';
export default {
  name:'liBuilderiFrame',
  data() {
    return {
      explainImage: explainImage,
      localValue: null,
      iFrameContainer: [0,0]
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId:null,
  },
  mounted(){
    this.localValue = this._.cloneDeep(this.value); 
  },
  methods: {
    iFrameContainerResize(e) {
      this.iFrameContainer = [e.detail.width, (e.detail.height - 64)];
    },
    emitter(input) {
      this.$set(this.localValue,'widgetValue', input);
      this.$emit("input", this.localValue);
    },
  }
};
</script>
