<template>
  <!-- TAB ITEM OPTIONS  [BUTTON]-->
  <b-tab
    :title="name + ' settings'"
    active
    v-if="localValue != null"
    class="bg-light p-2 small liWidgetTab"
  >
    <!-- //TODO -->
    <div class="inner">
      <portal-target name="currentNodeDiagramTab"> </portal-target>

      <!-- <pre>{{ currentNode }}</pre> -->
    </div>
  </b-tab>
  <!-- /.END TAB ITEM OPTIONS  -->
</template>
<script>
export default {
  name: "liBuilderButtonsTab",
  data() {
    return {
      localValue: null,
    };
  },
  mounted() {
    this.localValue = this.value;
    this.$nextTick(() => {
      this.emitter();
    });
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    design: null,
    componentId: null,
  },
  computed: {},
  methods: {
    emitter() {
      this.$emit("input", this.localValue);
    },
  },
};
</script>
