<template>
  <div class="liBuilderText" v-if="!_.isEmpty(editorData)" :key="'liBuilderText'+componentId">
    <ckeditor :editor="editor" :value="editorData" :config="editorConfig" @input="emitter"></ckeditor>
    <img :src="explainImage" class="liImg-explainImage" v-if="localValue.widgetValue === ''" />
  </div>
</template>
<script>
// REQUIRED
// import ClassicEditor from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";
import ClassicEditor from "@ckeditor/ckeditor5-editor-balloon/src/ballooneditor";
import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
// TEXT EDITING
import BoldPlugin from "@ckeditor/ckeditor5-basic-styles/src/bold";
import ItalicPlugin from "@ckeditor/ckeditor5-basic-styles/src/italic";
import Underline from "@ckeditor/ckeditor5-basic-styles/src/underline";
import Strikethrough from "@ckeditor/ckeditor5-basic-styles/src/strikethrough";
import FontColor from '@ckeditor/ckeditor5-font/src/fontcolor';
import FontFamily from '@ckeditor/ckeditor5-font/src/fontfamily';
import FontBackgroundColor from '@ckeditor/ckeditor5-font/src/fontbackgroundcolor';
import Subscript from "@ckeditor/ckeditor5-basic-styles/src/subscript";
import Superscript from "@ckeditor/ckeditor5-basic-styles/src/superscript";
import ParagraphPlugin from "@ckeditor/ckeditor5-paragraph/src/paragraph";
// HR
import HorizontalLine from '@ckeditor/ckeditor5-horizontal-line/src/horizontalline';
// LINKS
import LinkPlugin from "@ckeditor/ckeditor5-link/src/link";
// ALIGNMENT
import AlignmentPlugin from "@ckeditor/ckeditor5-alignment/src/alignment";
// HEADINGS
import HeadingPlugin from "@ckeditor/ckeditor5-heading/src/heading";
//LISTS
import ListStylePlugin from "@ckeditor/ckeditor5-list/src/liststyle";
// import TodoList from "@ckeditor/ckeditor5-list/src/todolist";
// TABLES
import Table from "@ckeditor/ckeditor5-table/src/table";
import TableToolbar from "@ckeditor/ckeditor5-table/src/tabletoolbar";
// INDENT
import Indent from "@ckeditor/ckeditor5-indent/src/indent";
import IndentBlock from "@ckeditor/ckeditor5-indent/src/indentblock";
// CODE BLOCKS
// import  CodeBlock  from "@ckeditor/ckeditor5-code-block/src/codeblock";

// EPLAIN IMAGE
import explainImage from "../../assets/images/SVG/liBuilder-Text-1-dark.svg";
export default {
  name: "liBuilderText",
  data() {
    return {
      explainImage: explainImage,
      localValue: null,
      // CKEDITOR STUFF
      editorData: null,
      editor: ClassicEditor,
      editorConfig: {
        plugins: [
          HorizontalLine,
          EssentialsPlugin,
          BoldPlugin,
          ItalicPlugin,
          Underline,
          Strikethrough,
          Subscript,
          Superscript,
          LinkPlugin,
          ParagraphPlugin,
          AlignmentPlugin,
          HeadingPlugin,
          FontColor,
          FontFamily,
          FontBackgroundColor,
          ListStylePlugin,
          Indent,
          IndentBlock,
          Table,
          TableToolbar,
        ],
        toolbar: {
          items: [
            "heading",
            "|",
            "bold",
            "italic",
            "underline",
            "strikethrough",
            "subscript",
            "superscript",
            "|",
            'fontFamily', 
            'fontColor', 
            'fontBackgroundColor', 
            "|",
            'horizontalLine',
            "|",
            "outdent",
            "indent",
            "|",
            "link",
            "|",
            "alignment",
            "|",
            "bulletedList",
            "numberedList",
            "|",
            "insertTable",
            "|",
            "undo",
            "redo",
          ],
        },
        table: {
          contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"],
        },
        link: {
          addTargetToExternalLinks: true,
        },
      },
    };
  },
  props: {
    value: null,
    id: null,
    name: null,
    currentNode: null,
    linkNodes: null,
    componentId: null,
  },
  mounted() {
    this.editorData =
      this.value.widgetValue === "" ? "  " : this.value.widgetValue;
    this.localValue = this.value;
  },
  methods: {
    emitter(input) {
      this.$set(this.localValue, "widgetValue", input);
      this.$emit("input", this.localValue);
    },
  },
};
</script>
