<template>
  <main>
    <vue-headful :title="pageTitle" />
    <img :src="loginLogo" class="liLoginLogo" />

    <b-tabs
      nav-wrapper-class="d-none"
      v-model="tabIndex"
      content-class="mt-3 m-auto p-5 bg-white rounded shadow liLogin"
    >
      <b-tab title="Login">
        <h3 class="pl-3 mb-5">Login</h3>
        <form @submit.prevent="onSubmit" novalidate>
          <vue-form-generator
            :schema="loginSchema"
            :model="user"
            :options="formOptions"
            ref="apcLoginForm"
          />
          <div class="pl-3 ">
            <b-button
              type="submit"
              variant="primary"
              pill
              class="w-50 mt-3"
              :disabled="submitting == true"
            >
              <b-spinner
                variant="light"
                :small="true"
                label="Spinning"
                class="LI_spinnerInBtn"
                v-if="submitting == true"
              ></b-spinner>
              <span v-else>Login</span>
            </b-button>
            <b-button variant="link" class="w-50 mt-3" pill @click.prevent="tabIndex++"
              >Forgot password?</b-button
            >
          </div>
        </form>
      </b-tab>

      <b-tab title="Forgot Password">
        <h3 class="pl-3 mb-5">Request new password</h3>
        <form @submit.prevent="onSubmitForgot" novalidate>
          <vue-form-generator
            :schema="forgotSchema"
            :model="forgot"
            :options="formOptions"
            ref="apcForgotForm"
          />
          <div class="pl-3 ">
            <p v-if="forgotPass" class="text-success">
                If there is an account associated with this email address. An email will be send with further instructions.
            </p>
            <b-button
              type="submit"
              variant="primary"
              pill
              class="px-5 w-50 my-3"
              :disabled="submitting == true"
            >
              <b-spinner
                variant="light"
                :small="true"
                label="Spinning"
                class="LI_spinnerInBtn"
                v-if="submitting == true"
              ></b-spinner>
              <span v-else>Request</span> </b-button
            >
            <b-button variant="link" class="w-50" pill @click.prevent="tabIndex--"
              >Back to login</b-button
            >
            
          </div>
        </form>
      </b-tab>
    </b-tabs>
    <b-alert
      :show="dismissCountDown"
      variant="warning"
      class="position-fixed fixed-bottom m-0 rounded-0"
      style="z-index: 10"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      <p>
        {{ statusText }}<br /><span class="small"
          >This alert will dismiss after{{ dismissCountDown }} seconds...</span
        >
      </p>
      <b-progress
        variant="warning"
        :max="dismissSecs"
        :value="dismissCountDown"
        height="4px"
      ></b-progress>
    </b-alert>
  </main>
</template>

<script>
import loginSchema from "../../assets/js/schemas/login.js";
import forgotSchema from "../../assets/js/schemas/forgot.js";
import imageHeader from "../../assets/images/pages/login/loginImage.jpg";
import loginLogo from "../../assets/images/pages/login/login_logo.svg";
export default {
  name: "Login",
  data() {
    return {
      tabIndex: 0,
      loginLogo: loginLogo,
      pageTitle: this.createPageTitle("Please login"),
      user: {
        username: "",
        password: "",
      },
      forgot: {
        email: "",
      },
      submitting: false,
      show: true,
      statusText: "",
      dismissSecs: 6,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: false,
        validateAsync: true,
      },
      loginSchema: loginSchema,
      forgotSchema: forgotSchema,
      forgotPass: false,
      images: {
        imageHeader,
      },
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/");
    } else {
      this.liLoading = false;
    }
  },
  activated() {
    if (this.loggedIn) {
      this.$router.push("/");
    } else {
      this.liLoading = false;
    }
  },
  watch: {
    dismissCountDown: function() {
      if (this.dismissCountDown <= 0) {
        this.statusText = "";
      }
    },
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    onSubmit() {
      this.submitting = true;
      this.$refs.apcLoginForm.validate().then((response) => {
        if (response.length === 0) {
          this.liLoading = true;
          this.$store.dispatch("auth/login", this.user).then(
            () => {
              this.submitting = false;
              this.$router.push("/");
            }
            ,
            (reject) => {
              this.statusText = reject.statusText;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            }
            ,
            // eslint-disable-next-line
            (error) => {
            
              this.statusText = error.data.statusText;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            }
          );
        } else {
          this.submitting = false;
        }
      });
    },
    onSubmitForgot() {
      this.submitting = true;
      this.$refs.apcForgotForm.validate().then((response) => {
        console.log(response.length);
        if (response.length === 0) {
          this.liLoading = true;
          this.$store.dispatch("auth/forgotPassword", this.forgot.email).then(
            () => {
              this.submitting = false;
              this.liLoading = false;
              this.forgot.email = "";
              this.forgotPass = true;

            },
            (reject) => {
              this.statusText = reject;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            },
            (error) => {
              this.statusText = error;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            }
          );
        } else {
          this.submitting = false;
          this.liLoading = false;
        }
      });
    },
  },
};
</script>
