<template>
  <main>
    <vue-headful :title="pageTitle" />
    <img :src="loginLogo" class="liLoginLogo m-5" />
      <div class="mt-3 m-auto p-5 bg-white rounded shadow liLogin">
        <h3 class="pl-3 mb-5">Reset your password</h3>
        <form @submit.prevent="onSubmitForgot" novalidate>
          <vue-form-generator
            :schema="resetSchema"
            :model="forgot"
            :options="formOptions"
            ref="apcResetForm"
          />
          <div class="pl-3 ">
            <p v-if="forgotPass" class="text-success">
                If there is an account associated with this email address. An email will be send with further instructions.
            </p>
            <b-button
              type="submit"
              variant="primary"
              pill
              class="px-5 w-50 my-3"
              :disabled="submitting == true"
            >
              <b-spinner
                variant="light"
                :small="true"
                label="Spinning"
                class="LI_spinnerInBtn"
                v-if="submitting == true"
              ></b-spinner>
              <span v-else>Reset</span> </b-button
            >
            
          </div>
        </form>
    </div>
  </main>
</template>

<script>
import resetSchema from "../../assets/js/schemas/reset.js";
import loginLogo from "../../assets/images/pages/login/login_logo.svg";
export default {
  name: "Login",
  data() {
    return {
      loginLogo: loginLogo,
      pageTitle: this.createPageTitle("Reset your password"),
      reset: {
        password: "",
      },
      submitting: false,
      show: true,
      statusText: "",
      dismissSecs: 6,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: false,
        validateAsync: true,
      },
      resetSchema: resetSchema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/");
    } else {
      this.liLoading = false;
    }
  },
  activated() {
    if (this.loggedIn) {
      this.$router.push("/");
    } else {
      this.liLoading = false;
    }
  },
  watch: {
    dismissCountDown: function() {
      if (this.dismissCountDown <= 0) {
        this.statusText = "";
      }
    },
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    onSubmit() {
      this.submitting = true;
      this.$refs.apcResetForm.validate().then((response) => {
        if (response.length === 0) {
          this.liLoading = true;
          this.$store.dispatch("auth/reset", this.reset.password).then(
            () => {
              this.submitting = false;
              this.$router.push("/");
            },
            (reject) => {
              this.statusText = reject.data.statusText;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            },
            // eslint-disable-next-line
            (error) => {
              this.statusText = error.data.statusText;
              setTimeout(() => {
                this.showAlert();
                this.liLoading = false;
                this.submitting = false;
              }, 600);
            }
          );
        } else {
          this.submitting = false;
        }
      });
    },
    
  },
};
</script>
