
<template>
 <div :class="block.styleClasses" class="list">
    <b-jumbotron class="mt-3 py-4 bg-white shadow">
      <h3 class="py-3" v-if="block.label != ''">
        {{ block.label }}
      </h3>
      <b-row class="mx-0 mt-3" v-if=" block.listSettings.addInline ">
        <template v-if="block.listSettings.addInline">
          <b-input-group class="col-12 col-md-6 pl-md-0">
            <b-form-input autocomplete="off" v-model="newTable.name" :placeholder="'Type to add '+ block.listSettings.addInlineLabel"  @keypress.enter="addTable" />
            <b-input-group-append>
              <b-button variant="outline-primary" class="round" @click.prevent="addTable">
                <b-icon-plus />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
         <template v-if="block.listSettings.search">
          <b-input-group class="col-12 col-md-6 pr-md-0">
            <b-form-input v-model="search" :placeholder="'Type to search '+ block.listSettings.searchInlineLabel" />
            <b-input-group-append v-if="search != ''">
              <b-button variant="outline-dark" class="round" @click.prevent="clearSearch">
                <b-icon-x />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </template>
      </b-row>
    </b-jumbotron>
    <div class="bg-light rounded">
       <template v-if="!_.isEmpty(tableItems) && tableItems.length == 0">
        <div class="h-100 d-flex w-100">
          <div class="m-auto text-center">
            <div style="font-size: 4rem;">
              <svg version="1.1" id="appcourtLogo" x="0px" y="0px" viewBox="0 0 300 300" class="bg-primary d-inline-block mb-4 p-1 rounded-circle" style="width:60px;">
                <g>
                  <path class="fill-white" d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"></path>
                  <path class="fill-white" d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"></path>
                  <path class="fill-white" d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"></path>
                </g>
              </svg>
            </div>
            <h4>No {{block.componentSettings.label}} found...</h4>
            <p>
              Please add a {{block.componentSettings.single}} or try another search term
            </p>
          </div>
        </div>
      </template>
      <template v-else>
        <liTableItem :tables="tableItems" @openTableModal="openTableModal"/>
      </template>
    </div>
    <!-- MODAL -->
    <portal to="liModalContent">
      <div v-if="tableModalActive && tableModalItem">
        <div class="content">
          <liEditTable :item="tableModalItem" :key="tableModalItem.table"/>
        </div>
      </div>
    </portal>
  </div>
</template>
<script>
export default {
  name: "liDatabaseList",
  props: {
    block: Object,
  },
  data() {
    return {
      search: "",
      newTable: {
        name: "",
      },
      tableModalActive: false,
      tableModalItem: false,
      tableModalOptions : {
          headerTitle: "",
          headerBgVariant: "white",
          headerTextVariant: "dark",
          size: "xl",
          scrollable: true,
          noCloseOnEsc: true,
          noCloseOnBackdrop: true,
          hideHeaderClose: false,
          hideBackdrop:false,
        },
    };
  },
  mounted() {
    this.setup();
  },
  activated() {
    this.setup();
  },
  computed: {
    tableItems() {
      return this.search != ""
        ? this.searchList(
            this.$store.getters["liDatabase/getDatabases"],
            this.search
          )
        : this.$store.getters["liDatabase/getDatabases"];
    }
  },
  methods: {
     // SEARCH FUNCTIONS
    searchList(input, search) {
      if (input != "error") {
        var copy = (o) => {
          return Object.assign({}, o);
        };
        var result = input.map(copy).filter(function f(item) {
          if (item.table.toLowerCase().includes(search.toLowerCase()))
            return true;
        });
        return result;
      }
    },
    clearSearch() {
      this.search = "";
    },
    // TABLE FUNCTIONS
    // CREATE
    addTable() {
      
    },
    // MODAL FUNCIONS
    // OPEN
    openTableModal(index){
      this.tableModalItem = this.tableItems[index];
      this.tableModalOptions.headerTitle = "Table: "+this.tableModalItem.table;
      this.openModal(this.tableModalOptions).then(() => {
        this.tableModalActive = true;
      });
    },
    closeTableModal(){
     this.closeModal(true).then(() => {
       this.tableModalOptions.headerTitle ="";
        this.tableModalActive = false;
        this.tableModalItem = false;
      });
    },
    // SETUP FUNCTIONS
    setup() {
      this.getDatabases();
    },
    // GET THE TREE FROM SERVER
    getDatabases() {
      this.$store
        .dispatch("liDatabase/GET_ALL", {
          vm: this,
        })
        .then(() => {
          this.liLoading = false;
        });
    },
  },
};
</script>
