<template>
    <b-list-group flush>
      <b-list-group-item 
        class="liListItem pr-2 py-3 rounded my-1 hover-shadow cursor-pointer" 
        v-for="(table, index) in tables" 
        :key="index" 
        @click.prevent="openTableModal(index)"
        >
        <div class="d-flex justify-content-between">
          {{table.table}}
          <b-button size="sm" variant="link" @click.prevent="openTableModal(index)">
            <b-icon-pencil class="hover-scale text-body"></b-icon-pencil>
          </b-button>
        </div>
      </b-list-group-item>
    </b-list-group>
</template>
<script>
export default {
  name: "tableItem",
  methods: {
    openTableModal(index){
      this.$emit('openTableModal',index);
    }
  },
  props: {
    tables:null,
  },
};
</script>
