<template>
    <vue-dropzone
      :id="dropzoneId"
      class="liDropzone"
      :ref="`ref${dropzoneId}`"
      :options="dropzoneOptions"
      :useCustomSlot="true"
      :duplicateCheck="true"
      @vdropzone-error="DropZoneError"
      @vdropzone-success="DropZoneSuccess"
      @vdropzone-sending="DropZoneSending"
      @vdropzone-file-added="DropZoneAddedFile"
    >
      <div class="liDropzoneContent">
        <div class="content">
          <!-- EXPLANOTION IMAGE -->
          <img :src="explainImage" class="liImg-explainImage"/>
          <!-- <h3 class="title">Drag and drop to upload an image</h3>
          <div class="subtitle">...or click to select a file from your device</div> -->
          <b-button variant="primary" size="sm" class="btn-round">
            <b-icon-upload />
          </b-button>
        </div>
      </div>
    </vue-dropzone>
  
</template>
<script>
const API_URL_UPLOAD = process.env.VUE_APP_API_UPLOAD_URL;
import explainImage from '../../assets/images/SVG/liBuilder-Document-1-dark.svg';
export default {
  name: "liDropzoneBuilderFile",
   props: {
    value: null,
  },
  data: function() {
    return {
      explainImage:explainImage,
      dropzoneId: 'liDropzone'+Date.now(),
      dropzoneOptions: {
        maxFilesize: 9,
        maxFiles:1,
        acceptedFiles:'.pdf,.doc,.docx,.csv,.xls,.xlsx',
        thumbnailWidth: 200,
        url: `${API_URL_UPLOAD}?guid=${localStorage.getItem('liSession')}&type=cardfile`,
        addRemoveLinks: true,
        dictRemoveFile: "Done",
        headers: {
          Accept: "application/json, text/plain, */*",
          Authorization: 'Bearer ' + localStorage.getItem('liSession')
        }
      }
    };
  },
  methods: {
    DropZoneAddedFile(file) {
      console.debug(file);
     
    },
    DropZoneSending(file, xhr, formData) {
      console.debug(file);
      console.debug(xhr);
      console.debug(formData);
      
    },
    DropZoneError(file,message) {
      console.debug(file);
      this.$refs[`ref${this.dropzoneId}`].removeAllFiles();
      this.$bvToast.toast(message, {
          title: 'Sorry',
          autoHideDelay: 5000,
          variant:'danger'
        })
    },
     DropZoneSuccess(file, response) {
      console.log(file);
      console.log(response);
      if (response.status == "0" && response.statusText == "Ok") {
        console.debug("uploadComplete");
         let re = /(?:\.([^.]+))?$/,
             ext = re.exec(file.name)[1];   // "txt"
             console.log("ext",ext);
             let obj = {
               file: response.file,
               extension: ext,
               original_name: file.name
             };
        this.$emit('addImage',obj);
      }
    }
  }
};
</script>