<template>
  <g>
    <svg
      :x="x"
      :y="y"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="#3b5a9e"
      class="bi bi-arrow-down-circle"
      viewBox="0 0 16 16"
      style="cursor: pointer"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
      />
    </svg>

    <svg
      :x="x"
      :y="y"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="#3b5a9e"
      class="bi bi-arrow-down-circle"
      viewBox="0 0 16 16"
      style="cursor: pointer; opacity:0;"
    >
      <path
        d="M 1 8 A 7 7 0 0 0 1 8 z m 15 0 A 8 8 0 1 1 0 8 a 8 8 0 0 1 16 0 z z"
      />
    </svg>
  </g>
</template>

<script>
export default {
  props: {
    x: Number,
    y: Number,
  },
};
</script>
