<template>
  <g>
    <!-- making it work for the trashcan  invisible-->

    <text
      v-if="node.shape !== 'container'"
      :x="this.textPosition().x"
      :y="this.textPosition().y"
    >
      {{
        node.shape !== "circle"
          ? node.title.substring(0, 16) + "…"
          : node.title.substring(0, 6) + "…"
      }}
    </text>

    <!-- not live version -->

    <!--invisible rect for trashcan and arrow -->
    <g v-if="!live && node.shape !== 'container'">
      <rect
        :x="invisibleRecShapeByNode().trashCan.x"
        :y="invisibleRecShapeByNode().trashCan.y"
        :width="invisibleRecShapeByNode().trashCan.width"
        :height="invisibleRecShapeByNode().trashCan.height"
        style="fill: white; opacity: 0"
      ></rect>
      <rect
        :x="invisibleRecShapeByNode().arrow.x"
        :y="invisibleRecShapeByNode().arrow.y"
        :width="invisibleRecShapeByNode().arrow.width"
        :height="invisibleRecShapeByNode().arrow.height"
        style="fill: white; opacity: 0"
      ></rect>
      <!-- end arrow and trashcan  -->
    </g>

    <!-- shapes -->
    <rect
      v-if="node.shape === 'roundedrectangle'"
      :shape="node.shape"
      :width="130"
      :height="30"
      rx="15"
      :style="svgNodeStyle(node)"
      class="node roundedrectangle"
      :x="x"
      :y="y"
    ></rect>

    <circle
      v-if="node.shape === 'circle'"
      class="node circle"
      :cx="x + 130 / 2 / 2"
      :cy="y + 130 / 2 / 2"
      :r="130 / 2 / 2"
      :style="svgNodeStyle(node)"
    />
    <!-- merge -->
    <svg
      v-if="node.shape === 'merge'"
      width="80"
      height="80"
      :style="svgNodeStyle(node)"
      xmlns="http://www.w3.org/2000/svg"
      :x="x"
      :y="y"
      viewBox="0 0 80 80"
    >
      <path
        d="M68.9511 0.553537L35.6879 59.346L1.40366 1.14301L68.9511 0.553537Z"
      />
    </svg>

    <!-- <svg width="70" height="61" viewBox="0 0 70 61" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M68.9511 0.553537L35.6879 59.346L1.40366 1.14301L68.9511 0.553537Z" fill="white" stroke="#CCCCCC"/>
</svg> -->

    <!-- "or" -->
    <g v-if="node.shape === 'or'">
      <circle
        :cx="x + 130 / 2 / 2"
        :cy="y + 130 / 2 / 2"
        :r="130 / 2 / 2"
        :style="svgNodeStyle(node)"
      />
      <path
        :style="svgNodeStyle(node)"
        :d="
          `M ${x + 130 / 2 / 2},${y} L ${x + 130 / 2 / 2},${y + 130 / 2 - -2}`
        "
      ></path>
      <path
        :style="svgNodeStyle(node)"
        :d="`M ${x},${y + 130 / 2 / 2} L ${x + 130 / 2},${y + 130 / 2 / 2}`"
      ></path>
    </g>

    <!-- end of "or" -->

    <g v-if="node.shape === 'summing-junction'">
      <circle
        :cx="x + 130 / 2 / 2"
        :cy="y + 130 / 2 / 2"
        :r="130 / 2 / 2"
        :style="svgNodeStyle(node)"
      />
      <path
        :style="svgNodeStyle(node)"
        :d="`M ${x + 5},${y + 10} L ${x + 60},${y + 130 / 2 - 12}`"
      ></path>

      <path
        :style="svgNodeStyle(node)"
        stroke-width="3"
        :d="`M ${x + 60},${y + 10} L ${x + 5},${y + 130 / 2 - 12}`"
      ></path>
    </g>

    <rect
      v-if="node.shape === 'rectangle'"
      :width="130"
      :height="30"
      class="node rectangle"
      :style="svgNodeStyle(node)"
      :x="x"
      :y="y"
    />
    <!-- internal storage -->
    <g v-if="node.shape === 'internal-storage'">
      <rect
        :width="130 / 2"
        :height="130 / 2"
        :style="svgNodeStyle(node)"
        :x="x"
        :y="y"
      />
      <path
        :style="svgNodeStyle(node)"
        :d="`M ${x + 12},${y} L ${x + 12},${y + 130 / 2}`"
      >
      </path>
      <path
        :style="svgNodeStyle(node)"
        :d="`M ${x},${y + 130 / 10} L ${x + 130 / 2},${y + 130 / 10}`"
      ></path>
    </g>
    <!-- end of "internal storage" -->

    <g v-if="node.shape === 'subroutine'">
      <rect :width="130" :height="30" :style="svgNodeStyle(node)" :x="x" :y="y">
      </rect>
      <path
        :style="svgNodeStyle(node)"
        :d="`M ${x + 12},${y} L ${x + 12},${y + 30}`"
      >
      </path>
      <path
        :style="svgNodeStyle(node)"
        :d="`M ${x + 130 - 12},${y} L ${x + 130 - 12},${y + 30}`"
      >
      </path>
    </g>

    <rect
      v-if="node.shape === 'diamond'"
      :width="130 / 2"
      :height="130 / 2"
      :transform="'rotate(45 ' + (x + 17) + ' ' + (y + 38) + ')'"
      :x="x"
      :y="y"
      :style="svgNodeStyle(node)"
    />

    <svg
      v-if="node.shape === 'document'"
      :x="x"
      :y="y"
      :style="svgNodeStyle(node)"
      :height="35"
      :width="130"
    >
      <path
        d="M125,30C80.1,19.2,34.7,44.9,0,30C0,20.3,0,0,0,0h125C125,0,125,20,125,30z"
      />
    </svg>

    <svg
      v-if="node.shape === 'database'"
      :x="x"
      :y="y"
      :style="svgNodeStyle(node)"
      xmlns="http://www.w3.org/2000/svg"
      :height="80"
      :width="80"
      viewBox="395 1243 80 70"
    >
      <path
        d="M 402 1257 C 402 1265 462 1265 462 1257 M 402 1261 C 402 1269 462 1269 462 1261 M 402 1265 C 402 1273 462 1273 462 1265 M 402 1257 C 402 1246.33 462 1246.33 462 1257 L 462 1301 C 462 1313 402 1311.67 402 1301 Z"
      ></path>
    </svg>

    <rect
      v-if="node.shape === 'skewedrectangle'"
      :width="130"
      :height="30"
      :style="
        svgNodeStyle(node) +
          'stroke-width: 1;' +
          'transform-origin: center;' +
          'transform-box: fill-box;' +
          'transform: skew(-30deg);' +
          'fill:none'
      "
      :x="x"
      :y="y"
    />

    <svg
      v-if="node.shape === 'off-page'"
      :x="x"
      :y="y"
      :width="80"
      :height="80"
      :style="svgNodeStyle(node)"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="873.9 998.9 60.2 60.2"
    >
      <path
        d="M 874 999 L 934 999 L 934 1029 L 904 1059 L 874 1029 Z"
        fill="none"
      />
    </svg>

    <!-- //TODO finish off-page-top -->

    <!-- <path
      d="M 332 967.2 L 364 967.2 L 364 987.2 L 348 999.2 L 332 987.2 Z"
      fill="rgb(255, 255, 255)"
      stroke="rgb(0, 0, 0)"
      stroke-width="0.4"
      stroke-miterlimit="10"
      transform="rotate(-180,348,983.2)"
      pointer-events="all"
    ></path> -->

    <svg
      v-if="node.shape === 'off-page-top'"
      :style="svgNodeStyle(node)"
      :x="x"
      :y="y"
      :width="80"
      :height="80"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="873 970 63 61"
    >
      <path
        d="M 874 999 l 0 30 L 874 1029 Z L 904 971 L 904 971 L 935 999 M 874 1029 L 935 1030 L 935 999"
      />
    </svg>

    <rect
      v-if="node.shape === 'container'"
      :width="node.width"
      :height="node.height"
      :style="svgNodeStyle(node)"
      :x="x"
      :y="y"
    />
  </g>
</template>

<script>
export default {
  name: "node",
  props: {
    node: Object,
    x: Number,
    y: Number,
    isMouseInNode: Boolean,
    hoverMeNode: Object,
    selectedNode: Object,
    isMoving: Boolean,
    live: Boolean,
  },
  data() {
    return {};
  },
  methods: {
    svgNodeStyle() {
      let style = "";
      let selectedNode = null;

      if (this.selectedNode) {
        selectedNode = this.selectedNode;
      } else {
        selectedNode = "not defined";
      }
      if (
        (this.isMouseInNode && this.node.id === this.hoverMeNode.id) ||
        (this.node.id === selectedNode.id && this.live === false)
      ) {
        style += `stroke: ${this.node.borderColour};`;
        style += "filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));";
      } else {
        style += `stroke: ${this.node.borderColour};`;
      }

      style += "stroke-width:1 ;";
      if (this.selectedNode !== "container") {
        style += `fill: ${this.node.backgroundColour};`;
        style += "fill-opacity: 0.3";
      }

      return style;
    },

    textPosition() {
      if (
        this.node.shape === "rectangle" ||
        this.node.shape === "document" ||
        this.node.shape === "roundedrectangle" ||
        this.node.shape === "skewedrectangle" ||
        this.node.shape === "subroutine" ||
        this.node.shape === "off-page"
      ) {
        return {
          x: this.x + 130 / 7,
          y: this.y + 30 / 1.5,
        };
      }
      if (this.node.shape === "diamond") {
        return {
          x: this.x + 130 / 13,
          y: this.y + 130 / 2.9,
        };
      }
      // round things or square things
      if (
        this.node.shape === "circle" ||
        this.node.shape === "or" ||
        this.node.shape === "summing-junction" ||
        this.node.shape === "internal-storage"
      ) {
        return {
          x: this.x + 130 / 13,
          y: this.y + 130 / 3.6,
        };
      }
      if (
        this.node.shape === "database" ||
        this.node.shape === "off-page-top"
      ) {
        return {
          x: this.x + 80 / 6,
          y: this.y + 80 / 1.5,
        };
      }
      // triangle shapes
      if (this.node.shape === "merge") {
        return {
          x: this.x + 80 / 6,
          y: this.y + 80 / 5,
        };
      }
    },

    // invisible blocks to make buttons work on the node sides
    invisibleRecShapeByNode() {
      if (
        this.node.shape === "rectangle" ||
        this.node.shape === "document" ||
        this.node.shape === "roundedrectangle" ||
        this.node.shape === "skewedrectangle" ||
        this.node.shape === "subroutine"
      ) {
        return {
          arrow: { x: this.x + 60, y: this.y + 30, width: 30, height: 30 },
          trashCan: { x: this.x, y: this.y, width: 160, height: 30 },
        };
      }
      // round things  or square things
      if (
        this.node.shape === "circle" ||
        this.node.shape === "or" ||
        this.node.shape === "summing-junction" ||
        this.node.shape === "internal-storage"
      ) {
        return {
          arrow: {
            x: this.x + 20,
            y: this.y,
            width: 30,
            height: 100,
          },
          trashCan: { x: this.x, y: this.y, width: 160, height: 60 },
        };
      }
      if (this.node.shape === "diamond") {
        return {
          arrow: {
            x: this.x + 20,
            y: this.y,
            width: 30,
            height: 110,
          },
          trashCan: { x: this.x, y: this.y, width: 160, height: 60 },
        };
      }
      if (
        this.node.shape === "database" ||
        this.node.shape === "off-page" ||
        this.node.shape === "off-page-top"
      ) {
        return {
          arrow: {
            x: this.x + 20,
            y: this.y,
            width: 90,
            height: 100,
          },
          trashCan: { x: this.x, y: this.y, width: 160, height: 60 },
        };
      }
      if (this.node.shape === "merge") {
        return {
          arrow: {
            x: this.x + 20,
            y: this.y,
            width: 90,
            height: 90,
          },
          trashCan: { x: this.x, y: this.y, width: 80, height: 60 },
        };
      }
    },
  },
};
</script>

<style scoped>
.node-container text {
  user-select: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}
</style>
