<template>
  <div class="settingsTemplate" v-if="selectedNode != null">
    <div style="background-color: white; padding: 30px">
      <!--//TODO fix container -->

      <label>Node</label>
      <hr />
      <b-form-group
        label-cols="4"
        label-cols-lg="2"
        label="Shape"
        label-for="input-shape"
      >
        <b-form-select
          id="input-default "
          v-model="selectedNode.shape"
          :options="this.shapes"
        ></b-form-select>
      </b-form-group>

      <b-form-group
        label-cols="4"
        label-cols-lg="5"
        label="Border-color"
        label-for="input-default"
      >
        <input type="color" v-model="selectedNode.borderColour" />
      </b-form-group>

      <!-- //TODO set width and height of container  -->

      <template v-if="selectedNode.shape === 'container'">
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="width"
          label-for="input-default"
        >
          <input type="number" v-model.number="selectedNode.width" />
        </b-form-group>

        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="height"
          label-for="input-default"
        >
          <input type="number" v-model.number="selectedNode.height" />
        </b-form-group>
      </template>
    </div>

    <template v-if="selectedNode.shape !== 'container'">
      <!-- icon -->
      <div style="background-color: white; padding: 30px; margin: 10px">
        <label>Icon</label>
        <hr />

        <b-form-group
          label-cols="6"
          label-cols-lg="6"
          label="Type"
          label-for="input-default"
        >
          <liIconFieldSmall
            :size="'sm'"
            class="ml-2"
            v-model="selectedNode.icon"
          />
        </b-form-group>

        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Size"
          label-for="input-default"
        >
          <b-form-select
            id="input-default "
            v-model="selectedNode.iconSize"
            :options="this.iconSizes"
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label-cols="4"
          label-cols-lg="5"
          label="color"
          label-for="input-default"
        >
          <b-form-input
            type="color"
            v-model="selectedNode.iconColor"
          ></b-form-input>
        </b-form-group>
      </div>

      <div style="background-color: white; padding: 30px; margin: 10px">
        <label>Action</label>
        <hr />

        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Type"
          label-for="action"
        >
          <b-form-select
            id="input-position "
            v-model="selectedNode.action"
            :options="type"
          ></b-form-select>
        </b-form-group>
      </div>

      <div
        style="background-color: white; padding: 30px; margin: 10px"
        v-if="selectedNode.action === 'link'"
      >
        <b-form-group
          label-cols="1"
          label-cols-lg="4"
          label="Destination"
          label-for="input-destination"
        >
          <b-form-select
            id="input-destination"
            v-model="selectedNode.to"
            :options="linkNodesfunction"
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Label"
          label-for="input-default"
        >
          <input maxlength="30" v-model="selectedNode.title" />
        </b-form-group>
      </div>

      <div
        style="background-color: white; padding: 30px; margin: 10px"
        v-if="selectedNode.action === 'popover'"
      >
        <!-- trigger -->

        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Trigger"
          label-for="input-trigger"
        >
          <b-form-select
            id="input-trigger"
            v-model="selectedNode.popoverTrigger"
            :options="trigger"
          ></b-form-select>
        </b-form-group>

        <!-- title -->
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Title"
          label-for="input-default"
        >
          <input v-model="selectedNode.title" />
        </b-form-group>

        <!-- text -->
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Text"
          label-for="input-default"
        >
          <textarea
            v-model="selectedNode.text"
            rows="4"
            cols="30"
            maxlength="250"
          >
          </textarea>
        </b-form-group>
      </div>

      <div
        style="background-color: white; padding: 30px; margin: 10px"
        v-if="selectedNode.action === 'static'"
      >
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="Label"
          label-for="input-default"
        >
          <input v-model="selectedNode.title" />
        </b-form-group>

        <button
          class="btn btn-primary"
          background="#3b5a9e"
          @click="deleteNode"
        >
          Delete node
        </button>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    selectedNode: Object,
    linkNodes: Array,
  },
  data() {
    return {
      shapes: [
        { value: "roundedrectangle", text: "roundedrectangle" },
        { value: "rectangle", text: "rectangle" },
        { value: "skewedrectangle", text: "skewedrectangle" },
        { value: "circle", text: "circle" },
        { value: "diamond", text: "diamond" },
        { value: "document", text: "document" },
        { value: "database", text: "database" },
        { value: "subroutine", text: "subroutine" },
        { value: "or", text: "or" },
        { value: "summing-junction", text: "summing junction" },
        { value: "internal-storage", text: "internal storage" },
        { value: "off-page", text: "off-page" },
        { value: "merge", text: "merge" },
        { value: "off-page-top", text: "off-page-top" },
        // //TODO fix container
        { value: "container", text: "container" },
      ],
      iconSizes: [
        { value: "s", text: "1" },
        { value: "m", text: "2" },
        { value: "l", text: "3" },
      ],
      Icons: [],

      trigger: [
        { value: "click", text: "Click" },
        { value: "hover", text: "Hover" },
      ],
      type: [
        { value: "link", text: "Link to a slide" },
        { value: "popover", text: "Popover" },
        { value: "static", text: "Static" },
      ],
      position: [
        { value: "top", text: "Top" },
        { value: "bottom", text: "Bottom" },
        { value: "left", text: "Left" },
        { value: "Right", text: "Right" },
      ],
    };
  },

  computed: {
    linkNodesfunction() {
      console.log(this.linkNodes[0], "linknodes");
      return this.linkNodes.map((linkNod) => ({
        value: linkNod.properties.identifier,
        text: linkNod.properties.name,
      }));
    },
  },
};
</script>

<style scoped>
.settingsTemplate {
  height: auto;
  width: 300px;
  border: 1px solid black;
  float: right;
  padding: 20px;
  background-color: #f8f9fb;
}

.settingsLabels {
  padding-right: 100px;
}
</style>
