<template>
  <div
    class="liProcessContainer"
    @mousemove="handleMove"
    @mouseup="handleUp"
    @mousedown="handleDown"
  >
    <div class="liControlContainer top left">
      <template v-if="action.selected != currentSlide">
        <b-button
          variant="outline-primary"
          class="p-0 btn-round text-center mr-2"
          @click.prevent="nodePlay(action.selected)"
        >
          <b-icon-play
        /></b-button>
        navigate to the <b>{{ action.selected.name }}</b> slide?
      </template>
    </div>
    <!-- // LINKS -->
    <svg width="100%" :height="`${height}px`" class="liProcessLinks">
      <defs>
        <!-- arrowhead marker definition -->
        <marker
          id="arrow"
          viewBox="0 0 10 10"
          refX="5"
          refY="5"
          markerWidth="10"
          markerHeight="10"
          orient="auto-start-reverse"
        >
          <path d="M 0 0 L 10 5 L 0 10 z" class="liSvgFillDark" />
        </marker>
        <!-- dot marker definition -->
        <!-- <marker id="dot" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="5" markerHeight="5">
          <circle cx="5" cy="5" r="5" class="liSvgFillDark"/>
        </marker> -->
        <!-- dot marker definition -->
        <marker
          id="dot"
          viewBox="0 0 20 20"
          refX="5"
          refY="5"
          markerWidth="15"
          markerHeight="15"
        >
          <g>
            <path
              fill-rule="evenodd"
              class="liSvgFillDanger"
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            ></path>
          </g>
        </marker>
        <!-- background color for text -->
        <filter x="0" y="0" width="1" height="1" id="textBg">
          <feFlood flood-color="#f8f9fa" />
          <feComposite in="SourceGraphic" operator="atop" />
        </filter>
      </defs>
      <template v-if="showNodeLinks == '1'">
        <liProcessLinkLive
          v-for="(link, index) in lines"
          type="lines"
          :key="`link${index}`"
          :ref="'link' + link.id"
          :showNodeLinkLabels="showNodeLinkLabels"
          :options="linkOptions"
          :link="link"
        />
      </template>

      <template v-if="showNodeContentLinks == '1' && linesInContent != null">
        <liProcessLinkLive
          v-for="(link, index) in linesInContent"
          type="linesInContent"
          :showNodeContentLinkLabels="showNodeContentLinkLabels"
          :key="`linkInContent${index}`"
          :options="linkOptions"
          :link="link"
          :ref="'linkInContent' + link.id"
        />
      </template>
    </svg>
    <!-- // NODES -->
    <transition-group name="processNodeTransition">
      <liProcessNodeLive
        v-for="node in process.nodes"
        :ref="'node' + node.properties.id"
        :options="nodeOptions"
        :node="node"
        :key="`node${node.properties.id}`"
        :selected="node.selected"
        @nodeSelect="nodeSelect(node, $event)"
      />
    </transition-group>
  </div>
</template>
<script>
import { getMousePosition } from "../liPositions";

export default {
  name: "liProcessLive",
  props: {
    showNodeContentLinks: null,
    showNodeContentLinkLabels: null,
    showNodeLinks: null,
    showNodeLinkLabels: null,
    process: null,
    canvasDefault: null,
    currentSlide: null,
    nodeSelected: null,
    linksInContent: null,
    height: {
      type: Number,
      default: 400,
    },
  },
  data() {
    return {
      action: {
        linking: false,
        dragging: false,
        scrolling: false,
        selected: this.nodeSelected,
      },
      mouse: {
        x: 0,
        y: 0,
        lastX: 0,
        lastY: 0,
      },
      draggingLink: null,
      rootDivOffset: {
        top: 0,
        left: 0,
      },
      fromToLinks: [],
      fromToLinksInContent: [],
    };
  },
  computed: {
    nodeOptions() {
      return {
        centerY: this.canvasDefault.centerY,
        centerX: this.canvasDefault.centerX,
        scale: this.canvasDefault.scale,
        offsetTop: this.rootDivOffset.top,
        offsetLeft: this.rootDivOffset.left,
        selected: this.action.selected,
        currentSlide: this.currentSlide,
      };
    },
    linkOptions() {
      return {
        centerY: this.canvasDefault.centerY,
        centerX: this.canvasDefault.centerX,
        scale: this.canvasDefault.scale,
      };
    },
    svgOption() {
      return "transform: scale(" + this.canvasDefault.scale + ");";
    },
     lines() {
      const lines = this.process.links.map((link) => {
        const fromNode = this.findNodeWithID(link.properties.from);
        const toNode = this.findNodeWithID(link.properties.to);
        const toSelf = link.properties.from == link.properties.to ? true : false;

        let fromTo = false;
        if (!this.fromToLinks.includes(link.properties.from + "=>" + link.properties.to)) {
          let node = this.process.links.find((link_item) => {
            return link_item.properties.to === link.properties.from && link_item.properties.from === link.properties.to;
          });
          if (node != undefined) {
            this.fromToLinks.push(link.properties.to + "=>" + link.properties.from);
            fromTo = true;
          }
        }
        let x, y, cy, cx, ex, ey, anchorFrom, anchorTo;
        if (Number(fromNode.properties.y) > Number(toNode.properties.y)) {
          anchorTo = "bottom";
          anchorFrom = "top";
        } else {
          anchorTo = "top";
          anchorFrom = "bottom";
        }
        x = Number(
          this.canvasDefault.centerX +
            Number(fromNode.properties.x) * this.canvasDefault.scale
        );
        y = Number(
          this.canvasDefault.centerY +
            Number(fromNode.properties.y) * this.canvasDefault.scale
        );
        [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
        x = Number(
          this.canvasDefault.centerX +
            Number(toNode.properties.x) * this.canvasDefault.scale
        );
        y = Number(
          this.canvasDefault.centerY +
            Number(toNode.properties.y) * this.canvasDefault.scale
        );
        [ex, ey] = this.getPortPosition(anchorTo, Number(x), Number(y));
        return {
          id: link.properties.id,
          start: [cx, cy],
          end: [ex, ey],
          self: toSelf,
          bgColour: link.properties.bgColour,
          textColour: link.properties.textColour,
          toNodeType: toNode.properties.type,
          fromNodeType: fromNode.properties.type,
          type: 'link',
          contentLink:false,
          target: link.properties.target,
          fromTo: fromTo,
          name: link.properties.name,
          anchorPositions:[anchorTo,anchorFrom]
        };
      });
      if (this.draggingLink) {
        let x, y, cy, cx;
        const fromNode = this.draggingLink.node.properties;
        x = Number(
          this.canvasDefault.centerX +
            Number(fromNode.x) * this.canvasDefault.scale
        );
        y = Number(
          this.canvasDefault.centerY +
            Number(fromNode.y) * this.canvasDefault.scale
        );
        [cx, cy] = this.getPortPosition("bottom", x, y);
        // push temp dragging link, mouse cursor postion = link end postion
        lines.push({
          start: [cx, cy],
          end: [this.draggingLink.mx, this.draggingLink.my],
          fromNodeType: 0,
          toNodeType: 0
        });
      // console.log(link);
      }
      return lines;
    },
    linesInContent() {
      const lines = this.linksInContent.map((link) => {
        const fromNode = this.findNodeWithID(link.from);
        const toNode = this.findNodeWithID(link.to);
        if(!this._.isEmpty(link.to) && !this._.isEmpty(toNode)){
          const toSelf = link.from == link.to ? true : false;
          let fromTo = false;
          if (!this.fromToLinksInContent.includes(link.from + "=>" + link.to)) {
            let node = this.process.links.find((link_item) => {
              return link_item.to === link.from && link_item.from === link.to;
            });
            if (node != undefined) {
              this.fromToLinksInContent.push(link.to + "=>" + link.from);
              fromTo = true;
            }
          }
          let x, y, cy, cx, ex, ey, anchorFrom, anchorTo;
          if (Number(fromNode.y) > Number(toNode.y)) {
            anchorTo = "bottom";
            anchorFrom = "top";
          } else {
            anchorTo = "top";
            anchorFrom = "bottom";
          }
          x = Number(
            this.canvasDefault.centerX +
              Number(fromNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(fromNode.properties.y) * this.canvasDefault.scale
          );
          [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
          x = Number(
            this.canvasDefault.centerX +
              Number(toNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(toNode.properties.y) * this.canvasDefault.scale
          );
          [ex, ey] = this.getPortPosition(anchorTo, Number(x), Number(y));
          let offsetCalc = 180/100 * (37 * this.canvasDefault.scale);
          
          return {
            id: link.id,
            start: [(cx +offsetCalc), cy],
            end: [ex, ey],
            self: toSelf,
            bgColour: link.bgColour,
            textColour: link.textColour,
            type: 'linkInContent',
            toNodeType: toNode.properties.type,
            fromNodeType: fromNode.properties.type,
            contentLink: true,
            target: link.target,
            fromTo: fromTo,
            name: link.name,
            anchorPositions:[anchorTo,anchorFrom]
          };
        } else {
          let x, y, cy, cx, anchorFrom, ey;
          anchorFrom = "bottom";
          x = Number(
            this.canvasDefault.centerX +
              Number(fromNode.properties.x) * this.canvasDefault.scale
          );
          y = Number(
            this.canvasDefault.centerY +
              Number(fromNode.properties.y) * this.canvasDefault.scale
          );
          [cx, cy] = this.getPortPosition(anchorFrom, Number(x), Number(y));
          ey =  y;
          let offsetCalc = 180/100 * (37 * this.canvasDefault.scale);
          
          return {
            id: link.id,
            start: [cx+offsetCalc, cy],
            end: [cx+offsetCalc, ey -offsetCalc],
            self: false,
            bgColour: "#ff0000",
            textColour: link.textColour,
            type: 'deadlink',
            toNodeType: null,
            fromNodeType: fromNode.properties.type,
            contentLink: true,
            target: link.target,
            fromTo: false,
            name: link.name,
            anchorPositions:[0,anchorFrom]
          };
        }
        // console.log(link);
      });
      if (this.draggingLink) {
        let x, y, cy, cx;
        const fromNode = this.draggingLink.node;
        x = Number(
          this.canvasDefault.centerX +
            Number(fromNode.x) * this.canvasDefault.scale
        );
        y = Number(
          this.canvasDefault.centerY +
            Number(fromNode.y) * this.canvasDefault.scale
        );
        [cx, cy] = this.getPortPosition("bottom", x, y);
        // push temp dragging link, mouse cursor postion = link end postion
        lines.push({
          start: [cx, cy],
          end: [this.draggingLink.mx, this.draggingLink.my],
        });
      }
      return lines;
      // return false;
    },
  },
  mounted() {
    this.rootDivOffset.top = this.$el ? this.$el.offsetTop : 0;
    this.rootDivOffset.left = this.$el ? this.$el.offsetLeft : 0;
  },
  methods: {
    findNodeWithID(identifier) {
      return this.process.nodes.find((item) => {
        return identifier === item.properties.identifier;
      });
    },
    getPortPosition(type, x, y) {
      if (type === "top") {
        return [
          x + this.canvasDefault.linkPosTopX * this.canvasDefault.scale,
          y + this.canvasDefault.linkPosTopY * this.canvasDefault.scale,
        ];
      } else if (type === "bottom") {
        return [
          x + this.canvasDefault.linkPosBottomX * this.canvasDefault.scale,
          y + this.canvasDefault.linkPosBottomY * this.canvasDefault.scale,
        ];
      }
    },
    // NODE FUNCCTIONS
    nodeSelect(node) {
      console.log(node);
      this.action.selected = node;
    },
    nodePlay(node) {
      this.$emit("nodePlay", node);
    },
    handleMove(e) {
      if (this.action.scrolling) {
        [this.mouse.x, this.mouse.y] = getMousePosition(this.$el, e);
        let diffX = this.mouse.x - Number(this.mouse.lastX);
        let diffY = this.mouse.y - Number(this.mouse.lastY);
        this.mouse.lastX = this.mouse.x;
        this.mouse.lastY = this.mouse.y;

        this.canvasDefault.centerX += diffX;
        this.canvasDefault.centerY += diffY;
      }
    },
    handleUp() {
      this.action.linking = false;
      this.action.dragging = null;
      this.action.scrolling = false;
    },
    handleDown(e) {
      const target = e.target || e.srcElement;
      if (
        (target === this.$el || target.matches("svg, svg *")) &&
        e.which === 1
      ) {
        this.action.scrolling = true;
        [this.mouse.lastX, this.mouse.lastY] = getMousePosition(this.$el, e);
      }

      this.$emit("canvasClick", e);
    },
    moveSelectedNode(dx, dy) {
      let left =
        Number(this.action.dragging.x) + Number(dx) / this.canvasDefault.scale;
      let top =
        Number(this.action.dragging.y) + Number(dy) / this.canvasDefault.scale;
      Object.assign(this.action.dragging, {
        x: left,
        y: top,
      });
    },
  },
};
</script>
