<template>
  <div ref="liProcessContainer" class="w-100 liProcessWrapper position-relative">
    <!-- CONTROLS TOP RIGHT -->
    <div class="liControlContainer top right d-flex justify-content-between align-items-center">
      <!-- ZOOM PROCESS -->
      <b-form-input class="liZoomRange d-inline-block" v-model="canvasDefault.scale" type="range" min="0.2" max="2" step="0.2"></b-form-input>
     <!-- FILTERS -->
        <b-button id="canvasFilters" variant="link" class="text-dark">
            <b-icon-filter />
        </b-button>
        <!-- FILTERS POPOVER -->
        <b-popover target="canvasFilters" triggers="click blur" placement="bottomleft" >
        <template #title>Filters</template>
          <template v-if="presentation !=null">
            <label>Slides:</label>
            <hr class="mt-0"/>
            <label class="w-100">Links <b-form-checkbox v-model="presentation.properties.show_node_links"  @change="updatePresentation"  value="1"  unchecked-value="0" class="ml-2 d-inline float-right" size="sm" switch  /></label>
            <label class="w-100">Link labels <b-form-checkbox v-model="presentation.properties.show_node_link_labels" @change="updatePresentation" value="1" unchecked-value="0" class="ml-2 d-inline float-right" size="sm" switch  /></label>
            <label class="mt-3">Content:</label>
            <hr class="mt-0"/>
            <label class="w-100">Links <b-form-checkbox v-model="presentation.properties.show_node_content_links" @change="updatePresentation"  value="1" unchecked-value="0" class="ml-2 d-inline float-right" size="sm" switch  /></label>
            <label class="w-100">Link labels <b-form-checkbox v-model="presentation.properties.show_node_content_link_labels" @change="updatePresentation" value="1" unchecked-value="0" class="ml-2 d-inline float-right" size="sm" switch  /></label>
          </template>
        </b-popover>
        <!-- /.END FILTERS -->
    </div>
    <!-- /.END CONTROLS TOP RIGHT -->
    <!--/. END CONTROLS -->
    <div class="w-100 d-flex justify-content-between">
      <!-- PROCESS CANVAS   -->
      <template v-if="process && linksInContent !=null">
        <liProcessLive ref="liProcess" 
          :showNodeLinks="presentation.properties.show_node_links" 
          :showNodeLinkLabels="presentation.properties.show_node_link_labels" 
          :showNodeContentLinks="presentation.properties.show_node_content_links" 
          :showNodeContentLinkLabels="presentation.properties.show_node_content_link_labels"
          :process="process" 
          :linksInContent="linksInContent" 
          :canvasDefault="canvasDefault" 
          :height="windowHeight - 90" 
          :nodeSelected="nodeSelected" 
          :currentSlide="currentSlide"
          @canvasClick="canvasClick" 
          @nodePlay="nodePlay"
        />
      </template>
    </div>
  </div>
</template>
<script>
export default {
  name: "liProcessCanvas",
  props: {
    block: Object,
    nodeSelected: Object,
    currentSlide: Object,
    presentation: null,
    share:{
      required:false,
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      linksInContent: null,
      showNodeLinks: true,
      showNodeContentLinks: false,
      // DEFAULT SETTINGS CANVAS
      canvasDefault: {
        centerX: 1424 / 2,
        centerY: 800 / 2,
        scale: 0.8,
        linkPosTopX: 90,
        linkPosTopY: 0,
        linkPosBottomX: 90,
        linkPosBottomY: 35,
      },
    };
  },
  computed: {
    nodes: {
      get() {
        if(this.share){
          return this.block.properties._allSlides;
        } else {
          return this.block.nodes;
        }
        
      },
    },
    links: {
      get() {
        if(this.share){
          return this.block.properties._allLinks;
        } else {
          return this.block.links;
        }
      },
    },
    process: {
      get() {
        if(this.share){
        return { nodes: this.block.properties._allSlides, links: this.block.properties._allLinks };
        
        } else {
          return { nodes: this.block.nodes, links: this.block.links };
        }
        
      },
    },
  },
  mounted(){
    this.findNodeContentLinks();
    this.canvasDefault.centerX = (this.windowWidth /2) /2;
  },
  methods: {
    // CANVAS FUNCTIONS
    // ZOOM CANVAS
    zoom(direction) {
      const operators = {
        "+": function (a, b) {
          return a + b;
        },
        "-": function (a, b) {
          return a - b;
        },
      };
      if (direction == "=") {
        this.canvasDefault.scale = 1;
      } else {
        this.canvasDefault.scale =
          this.canvasDefault.scale <= 0.4 && direction == "-"
            ? this.canvasDefault.scale
            : operators[direction](this.canvasDefault.scale, 0.1);
      }
    },
    findNodeContentLinks(){
      let foundLinks = [];
      this.process.nodes.forEach(node => {
        if(node.properties.internal_links != null && node.properties.internal_links != 'null'  && !this._.isEmpty(node.properties.internal_links)){
          foundLinks.push(JSON.parse(node.properties.internal_links) );
        }
      });
      this.linksInContent = this._.flatten(foundLinks);
    },
    //eslint-disable-next-line
    canvasClick(e) {
    },
    nodePlay(node) {
      this.$emit('goToSlide',node,'aside');
    },
    updatePresentation(){
      this.$nextTick(()=> {
        this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        item: this.presentation,
        options:{
          silent:true,
        }
        });
      });
      
    }
    
  },
};
</script>
