<template>
  <div class="d-flex h-100 w-100 component loader rounded" :class="styleClasses" :style="'z-index:'+zIndex">
    <b-spinner class="m-auto" variant="light" type="grow" label="Spinning"></b-spinner>
  </div>
</template>
<script>
export default {
  name: "componentLoader",
  props:{
    styleClasses:{
      default: () => ['position-absolute'],
      type: Array,
      required: false,
    },
    zIndex:{
      type: Number,
      required: false,
      default: 1021
    }
  }
};
</script>
