<template>
  <div class="d-flex vh-100 vw-100 position-fixed loader" v-if="localliLoading" style="z-index: 1021">
    <b-spinner class="m-auto" variant="light" type="grow" label="Spinning" v-if="localliLoading"></b-spinner>
  </div>
</template>
<script>
export default {
  name: "Loader",
  computed: {
    localliLoading() {
      return this.$store.getters["liStatic/getLoading"];
    },
  },
};
</script>
