<template>
  <b-navbar
 v-if="share!=null && presentation !=null && brandingSettings != null"
    type="dark"
    fixed="top"
    variant="primary"
    :class="$route.name"
    class=""
    style="z-index:1009!important;"
     :style="{
      backgroundColor: `${brandingSettings.navbarBgColor}!important`,
      color: `${brandingSettings.navbarTextColor}!important`
    }"
  >
  <div
      class="liAccountLogo shadow"
      v-if="
         _.isEmpty(presentation.properties.logo)
      "
    >
     
        <img
          :src="`${apiPublicPath}?guid=${guid}&file=${presentation.properties.logo}`"
          class="img-logo"
        />
     
  </div>
    <b-navbar-brand>
      <b-btn variant="transparent" class="btn-round p-1 cursor-default">
        <svg
          version="1.1"
          id="appcourtLogo"
          x="0px"
          y="0px"
          viewBox="0 0 300 300"
        >
          <g>
            <path
              :class="
                getContrastYIQ(
                  brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M75.3,110.3c12-29.2,40.8-49.8,74.2-49.8c33.6,0,62.4,20.8,74.4,50.1L300,288.2V0H0v285.8 L75.3,110.3L75.3,110.3z"
            ></path>
            <path
              :class="
                getContrastYIQ(
                  brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M149.5,84.3c-31.2,0-56.6,25.4-56.6,56.6c0,31.2,25.4,56.6,56.6,56.6s56.6-25.4,56.6-56.6 c0-7.4-1.5-14.5-4.1-21l-0.1-0.2l0,0C193.5,99,173.2,84.3,149.5,84.3z"
            ></path>
            <path
              :class="
                getContrastYIQ(
                  brandingSettings.navbarBgColor
                ) == 'white'
                  ? 'fill-white'
                  : 'fill-primary'
              "
              d="M223.9,170.9c-11.9,29.4-40.8,50.3-74.4,50.3c-33.7,0-62.5-20.9-74.4-50.3L19.7,300h259.5 L223.9,170.9z"
            ></path>
          </g>
        </svg>
      </b-btn>
    </b-navbar-brand>
  </b-navbar>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name: "NavbarShare",
  data(){
    return{
      apiPublicPath: API_URL_PUBLIC,
      guid:localStorage.getItem('liSession'),
      brandingSettings:null,
    }
  },
  computed: {
    share() {
      return this.$store.getters["liShare/getShare"](this.$route.params.share);
    },
    presentation() {
        if(this.share != null){
          if (this.$route.params.presentation === undefined) {
            return this.$store.getters["liShare/getPresentation"](
              this.share.properties.foreign_identifier
            );

          } else {
            return this.$store.getters["liShare/getPresentation"](
              this.$route.params.presentation
            );
          }
        } else {
          return null;
        }
    },
  },
  watch:{
    presentation(val){
      this.brandingSettings = this._.cloneDeep(val.properties.brandingSettings);
    },
    brandingSettings(val){
      if (typeof val != "object"){
        this.brandingSettings = JSON.parse(this.brandingSettings);
      }
    }

  }
};
</script>
