<template v-cloak>
  <div v-if="notes != null" class="liComments">
      <div class="top position-relative">
        <div ref="notesOuter" class="liNotes px-3">
          <article
            v-for="(note, index) in notes"
            :key="index"
            class="liNote position-relative rounded p-2 pb-4 mt-3"
            :class="(app_user.name == note.properties.user) ? 'self' : 'other'"
          >
            <p class="liNoteText">{{ note.properties.name }}</p>
            <div class="liNoteDate small">
              {{ note.properties.user }} @ {{ timeAgo(note.properties.created_at) }}
              <span
                @click.prevent="updateStatus(note)"
                class="cursor-pointer status ml-1 updateStatus"
                :class="note.properties.status == 1 ? 'text-primary' : ''"
              >
                <b-iconstack font-scale="1.5">
                  <b-icon stacked icon="square"></b-icon>
                  <b-icon stacked :icon="note.properties.status == 1 ? 'check' : ''" />
                </b-iconstack>
              </span>
            </div>
          </article>

          <div class="m-auto text-center" v-if="_.isEmpty(notes)">
            <div style="font-size: 4rem;">
              <b-icon
                icon="chat"
                class="bg-primary mb-2 rounded-circle p-3 mt-4"
                variant="light"
              />
            </div>
            <h4>No comment(s)</h4>
            <p>
              Be the first to leave a comment...
            </p>
          </div>
        </div>
      </div>
      <div
        class="addCommentContainer bg-light"
      >
        <b-input-group>
          <b-form-input id="test" v-model="commentText" class="bg-white"  maxlength="255" @keypress.enter="submitComment"></b-form-input>
          <b-input-group-append>
            <b-button variant="link" class="round addComment" @click="submitComment">
              <b-icon icon="plus"></b-icon>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </div>
  </div>
</template>
<script>
export default {
  name: "liComments",
  props: {
    notes: null,
    object: null,
    name: null,
  },
  data() {
    return {
      commentText:"",
    };
  },
  mounted() {},
  activated() {},
  computed: {},
  methods: {
    submitComment(){
      if(!this._.isEmpty(this.commentText)){
        this.$emit('addComment',this.commentText);
        this.$nextTick(()=>{
          this.commentText = "";
        });
      } 
    },
    updateStatus(note) {
      note.properties.status = note.properties.status == 1 ? 0 : 1;
      this.$store.dispatch("liDynamic/UPDATE_COLLECTION_ITEM", {
        vm: this,
        item: note,
        options: {
          additionalName: this.name,
          silent: false,
          update: "store",
        },
      });
    },
  },
};
</script>
