<template >
  <b-col cols="12">
    <b-row>
      <!-- TOOLS -->
      <section class="liBuilderGridStackToolbar shadow border-bottom">
        <div class="gstoolbar container-fluid position-relative p-0 pr-3">
          <div class="gswidgets  d-flex justify-content-between" v-if="localWidgets !=null">
            <!-- TITLE -->
            <div class="currentNode">
              <p class="mb-0 mt-1 d-inline-block ">
                Slide content for &nbsp;<b>{{_.capitalize(currentNode.name)}}</b>
              </p>
            </div>
            <!-- WIDGETS -->
            <b-button-group vertical class="position-absolute liWidgets">
              <template v-for="(item) in localWidgets">
                <div id="new" class="newWidget grid-stack-item" :data-liType="item.type" data-liNew="NEW" :key="item.type" :data-gs-width="item.defaultWidth" :data-gs-height="item.defaultHeight" v-b-tooltip.hover.right :title="item.name">
                  <div class="grid-stack-item-content">
                    <b-icon :icon="item.icon" class="icon" />
                  </div>
                </div>
              </template>
            </b-button-group>
            <!-- ACTIONS -->
            <div class="actions text-right justify-content-between d-flex">
              <div class="w-25">
                <!-- TEXT COLOUR  -->
                <liColorFieldSmall 
                 type="sketch"
                 :initialValue="'#000000'" 
                 :key="'tc'+currentNode.id" 
                 :size="'xs'"
                 :presetColors="DEFAULT_COLORS"
                 containerClass="" 
                 showRemove="0"
                 v-model="currentNode.content_settings.inlineStyles.textColor" 
                 v-b-tooltip.left title="Slide text colour" 
                 class="mr-2 mt-1"
                 />
                
              </div>
              <div class="w-25">
                <!-- BG COLOUR -->
                <liColorFieldSmall 
                 type="sketch"
                 :initialValue="'#ffffff'" 
                 :key="'bc'+currentNode.id" 
                 :size="'xs'"
                 :presetColors="DEFAULT_COLORS"
                 containerClass="" 
                 showRemove="0"
                 v-model="currentNode.content_settings.inlineStyles.backgroundColor" 
                 v-b-tooltip.right title="Slide background colour" 
                 class="mr-2 mt-1"
                 />
                 
              </div>
              <div class="w-25">
                <!-- COMPACT -->
                <b-button class="gscompact btn-round p-0 border-0 mr-1 text-dark" variant="outline-light" @click.prevent="gridCompact()" v-b-tooltip.hover title="Compact grid items">
                  <b-icon-arrows-collapse />
                </b-button>
              </div>
              <div class="w-25">
                <!-- FlOAT -->
                <b-button v-if="grid != undefined" class="gsfloat btn-round p-0 border-0 mr-1 text-dark" variant="outline-light" @click.prevent="gridFLoat()" v-b-tooltip.hover.top="(gridGetFloat() == true) ? 'Turn off floating grid': 'Turn on floating grid'">
                  <b-icon :icon="(gridGetFloat() == true)?'layout-wtf':'columns'" />
                </b-button>
              </div>
              <div class="w-25">
                <!-- SAVE -->
                <b-button class="gssave btn-round p-0 " variant="primary" @click.prevent="closeGridBuilder(true)" v-b-tooltip.hover title="Save">
                  <b-icon-check />
                </b-button>
              </div>
            </div>
            <!-- settings -->
            <div class="liBuilderGridStackWidgetSettings">
              <portal-target name="liWidgetSettings" />
            </div>
          </div>
        </div>
      </section>
      <!-- /.TOOLS -->
      <!-- ITEMS -->
      <section class="liBuilderGridStack p-3 mb-5 rounded" 
        :style="{
          backgroundColor: currentNode.content_settings.inlineStyles.backgroundColor, 
          color : currentNode.content_settings.inlineStyles.textColor, 
          }"
      >
        <!-- Total links: {{(_.isEmpty(this.currentNode.internal_links))? 0 : this.currentNode.internal_links.length}}
        <pre>{{this.currentNode.internal_links}}</pre> -->
        <div :class="'grid-stack '+gridId">
          <div class="d-flex h-100 w-100 loader grid" v-if="loadingGrid">
            <div class="m-auto text-center">
              <b-spinner class="m-auto" variant="light" type="grow" label="Spinning"></b-spinner>
              <p class="text-light">Preparing your assets...</p>
            </div>
          </div>
        </div>
      </section>
      <!-- /.ITEMS -->
    </b-row>
    <!-- MODAL 
    <portal to="liModalContent"  v-if="modalActive">
        <div class="content text-center">
          <h3>Your're about to <b>close</b> the slide builder.</h3>
          <p>Any any adjustments you have made will be canceled.<br><i>Are you sure? This cannot be undone!</i></p>
        </div>
        <div class="actions text-center">
          <b-button variant="warning" @click.prevent="closeSlideBuilder">Close the slide builder</b-button>
        </div>
    </portal>
    -->
  </b-col>
</template>
<script>
import { GridStack } from "gridstack";
import Vue from "vue";
import base from "../builderWidgets/base/base";
import builderWidgets from "../builderWidgets/liBuilderWidgets.js";


export default {
  name: "liGridStack",
  props: {
    value: null,
    processNodes: null,
    currentNode: null,
    currentProject: null,
  },
  data() {
    return {
      modalActive: false,
      loadingGrid: false,
      localWidgets: builderWidgets,
      grid: undefined,
      gridId: "liGridStack_" + this.generateUUID(),
      items: null,
      selectedWidget: null,
    };
  },
  watch: {
    items(val) {
      // console.log(val);
      this.$emit("input", JSON.stringify(val));
    },
  },
  mounted() {
    this.items = this._.cloneDeep(this.value);
    // Provides access to the GridStack instance across the Vue component.
    this.grid = GridStack.init(
      {
        float: true,
        cellHeight: "50px",
        minRow: 1,
        resizable: {
          handles: "se, sw",
        },
        draggable: {
          handle: ".gsdrag",
          scroll: true,
          appendTo: "body",
          alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
            navigator.userAgent
          ),
        },
        acceptWidgets: true,
        dragIn: ".newWidget", // class that can be dragged from outside
        dragInOptions: {
          revert: "invalid",
          scroll: false,
          appendTo: "body",
          helper: "clone",
        },
        removable: ".trash", // drag-out delete class
        removeTimeout: 100,
      },
      this.gridId
    );
    // LOAD THE GRID ITEMS
    this.loadGrid();
    // ADD FUNCTIONALITY TO THE GRID INSTANCE
    this.grid.on("added removed change", (event, nodes) => {
      // CHANGE EVENT
      if (event.type == "change" && nodes != null) {
        nodes.forEach((node) => {
          let currentNode = this.findCurrentItem(node.id);
          console.log('currentNode',currentNode);
          if (currentNode != undefined) {
            this.$set(currentNode, "x", node.x);
            this.$set(currentNode, "y", node.y);
            this.$set(currentNode, "height", node.height);
            this.$set(currentNode, "width", node.width);
          }
        });
      }
      // /. END CHANGE EVENT
      // REMOVE EVENT
      if (event.type == "removed" && nodes != null) {
        // console.log("removed", nodes);
        this.liLoadingGrid = true;
        // CHECK IF THERE IS ACTUALLY AN ITEM TO REMOVE
        if (!this._.isEmpty(nodes[0].id)) {
          let widgetIndex = this.findCurrentItemIndex(nodes[0].id);
          let widgetId = nodes[0].id;
          // CHECK IF THERE ARE INTERNAL LINKS ON THIS NODE
          console.log(this.currentNode.internal_links);
          if (!this._.isEmpty(this.currentNode.internal_links)) {
            this.currentNode.internal_links = this.currentNode.internal_links.filter(
              (linkItem) => {
                return linkItem.widgetId != widgetId;
              }
            );
          }
          // AND FINALLY, ACTUALLY REMOVE THE WIDGET
          if (widgetIndex != -1) {
            this.items.splice(widgetIndex, 1);
          }
          setTimeout(() => {
            this.liLoadingGrid = false;
          }, 200);
        }
      }
      // /. END REMOVE EVENT
      // ADDED EVENT
      if (event.type == "added" && nodes != null) {
        let addedNode = nodes[0];
        this.liLoadingGrid = true;
        if (addedNode.el.dataset.linew == "NEW") {
          this.grid.removeWidget("#new");
          setTimeout(() => {
            this.addWidget(null, addedNode.el.dataset.litype, addedNode);
          }, 200);
        }
      }
      // /. END ADDED EVENT
    });
  },
  methods: {
    // GRID FUNCTIONS
    gridCompact() {
      this.grid.compact();
    },
    gridGetFloat() {
      return this.grid.getFloat();
    },
    gridFLoat() {
      this.grid.float(this.grid.getFloat() == true ? false : true);
    },
    // GRID BUILDER FUNCTIONS
    closeGridBuilder(commit) {
      if (commit === true) {
        this.$emit("input", JSON.stringify(this.items));
        this.$emit("closeBuilder", commit);
      } else {
        const modalOptions = {
          headerTitle: "You're about to close the slide builder",
          headerBgVariant: "warning",
          headerTextVariant: "dark",
          size: "md",
        };
        this.openModal(modalOptions).then(() => {
          this.modalActive = true;
        });
      }
    },
    closeSlideBuilder() {
      this.closeModal(true).then(() => {
        this.$emit("closeBuilder", false);
      });
    },
    loadGrid() {
      this.liLoadingGrid = true;
      this.items.forEach((item) => {
        this.addWidget(item, item.type);
      });
      this.liLoadingGrid = false;
    },
    findCurrentItem(id) {
      // console.log('findCurrentItem items',this.items);
      return this.items.find((gridItem) => gridItem.id == id);
    },
    findCurrentItemIndex(id) {
      console.log('findCurrentItemIndex items',this.items);
      return this.items.findIndex((gridItem) => gridItem.id == id);
    },
    changeInternalLinksItem(value) {
      if (this._.isEmpty(this.currentNode.internal_links)) {
        this.currentNode.internal_links = value;
      } else {
        this.currentNode.internal_links = this._.unionWith(
          value,
          this.currentNode.internal_links,
          function (newLinks, currentLinks) {
            return (
              currentLinks.id === newLinks.id &&
              currentLinks.widgetId === newLinks.widgetId
            );
          }
        );
      }
    },
    removeInternalLinksItem(value) {
      this.currentNode.internal_links = this._.remove(
        this.currentNode.internal_links,
        (link) => {
          return link.id != value.id;
        }
      );
    },
    changeGridItem(value) {
      if (!this._.isEmpty(value.value.additional.links)) {
        this.changeInternalLinksItem(value.value.additional.links);
      }
      if (!this._.isEmpty(value.value.additional.removed_links)) {
        this.removeInternalLinksItem(value.value.additional.removed_links);
        this.$delete(value.value.additional, "removed_links");
      }
      this.$set(this.findCurrentItem(value.id), "value", value.value);
      // console.log('changeDesignGridItem',value);
    },
    changeDesignGridItem(value) {
      this.$set(this.findCurrentItem(value.id), "design", value.design);
      // console.log("changeDesignGridItem",value)
    },
    findWidget(type) {
      return this.localWidgets.find((widget) => widget.type == type);
    },
    addWidget(item = null, type = null, addedItem = null) {
      let _uid = this.generateWidgetId();
      let props = null;
      if (item != null && type === "CLONE") {
        // widget is added via CLONE FUNCTION // NOT IN USE AT THE MOMENT, NEED TO FIX
        props = {
          id: item.id,
          type: item.type,
          name: item.name + "[CLONE]",
          linkNodes: this.processNodes,
          currentNode: this.currentNode,
          currentProject: this.currentProject,
          value: item.value,
          design: item.design,
          internal_links: item.internal_links
        };
        this.items.splice(0, 0, item);
      } else if (item != null) {
        // widget is add via loadGridFunction
        console.log(this.currentProject)
        props = {
          id: item.id,
          type: item.type,
          name: item.name,
          linkNodes: this.processNodes,
          currentNode: this.currentNode,
          currentProject: this.currentProject,
          value: item.value,
          design: item.design,
          internal_links: item.internal_links
        };
      } else {
        // widget is add via drag and drop
        const widget = this.findWidget(type);
        item = {
          x: addedItem.x,
          y: addedItem.y,
          id: _uid,
          name: widget.name,
          width: widget.defaultWidth,
          height: widget.defaultHeight,
          type: widget.type,
          value: {
            widgetValue: widget.defaultValue,
            additional: { links: null },
          },
          design: this._.cloneDeep(this.WIDGET_SETTINGS),
          internal_links: null,
        };
        props = {
          id: _uid,
          name: widget.name,
          type: widget.type,
          linkNodes: this.processNodes,
          currentNode: this.currentNode,
          currentProject: this.currentProject,
          value: {
            widgetValue: widget.defaultValue,
            additional: { links: null },
          },
          design: this._.cloneDeep(this.WIDGET_SETTINGS),
          internal_links: null,
        };
        this.items.splice(0, 0, item);
      }
      const builderWidget = Vue.extend(base);
      let mounted = new builderWidget({
        parent: this,
        propsData: props,
      }).$mount();
      mounted.$on("input", (e) => this.changeGridItem(e));
      mounted.$on("changeDesign", (e) => this.changeDesignGridItem(e));
      mounted.$on("changeLinks", (e) => this.changeInternalLinksItem(e));
      mounted.$on("removeWidget", (e) => this.removeWidget(e));
      mounted.$on("selectedWidget", (e) => this.selectWidget(e));
      mounted.$on("cloneWidget", (e) => this.cloneWidget(e));
      this.grid.addWidget(mounted.$el, {
        x: item.x,
        y: item.y,
        width: item.width,
        height: item.height,
        id: item.id,
        name: item.name,
      });
      this.liLoadingGrid = false;
    },
    selectWidget(id){
      if (this.selectedWidget != null){
        let currentDomWidget = document.getElementById(this.selectedWidget);
        if (currentDomWidget !=null) currentDomWidget.classList.remove('active');
      } 
      let newDomWidget = document.getElementById(id);
      if (newDomWidget !=null) newDomWidget.classList.add('active');
      this.selectedWidget = id;

    },
    cloneWidget(id) {
      // console.log('orignal item',this.findCurrentItem(id));
      let clonedItem = this._.cloneDeep(this.findCurrentItem(id));
      let newWidgetId = this.generateWidgetId();
      // set new id for this item // generate new GUID
      clonedItem.id = newWidgetId;
      // set new x position for this item
      clonedItem.x =
        clonedItem.x + clonedItem.width < 12
          ? clonedItem.x + clonedItem.width
          : 0;
      // set new y position for this item
      clonedItem.y =
        clonedItem.x === 0 ? clonedItem.y + clonedItem.height : clonedItem.y;
      let hasLinks = false,
        foundLinks = false;
      // TO DO SOMETHING ABOUT.... OR NOT?
      // FIRST FIND THE WIDGET TYPE TO EXAMINE IF THE WIDGET ACTUALLY HAS LINKS
      const currentLocalWidget = this.localWidgets.find((localWidgetItem) => {
        return clonedItem.type === localWidgetItem.type;
      });
      // CHECK IF THE WIDGET-TYPE ACTUALLY HAS LINKS
      if (currentLocalWidget.links[0]) {
        // THIS WIDGET-TYPE HAS LINKS
        // GET THE PATH WHERE THE LINKS ARE
        hasLinks = currentLocalWidget.links[1];
        // CHECK IF THERE ARE INTERNAL LINKS AVAILABLE IN THE CURRENT WIDGET
        foundLinks = !this._.isEmpty(clonedItem.value.additional.links)
          ? clonedItem.value.additional.links
          : false;
      }
      if (currentLocalWidget.type === "Diagram") {
        console.log('cloning diagram widget');
        console.log('foundLinks',foundLinks);
        clonedItem.value.widgetValue.nodes.forEach((node) => {
          const newItemId = this.generateUUID();
          clonedItem.value.widgetValue.links.forEach((linkItem) => {
            if (node.id === linkItem.from) {
              linkItem.from = newItemId;
            }
            if (node.id === linkItem.to) {
              linkItem.to = newItemId;
            }
          });
          if (hasLinks && foundLinks) {
            let found = foundLinks.find((button) => {
              return button.id === node.id;
            });
            if (found != undefined) {
              found.widgetId = newWidgetId;
              found.id = newItemId;
            }
            clonedItem.value.additional.links = foundLinks;
          }
          node.widgetId = newWidgetId;
          node.id = newItemId;
        });
        clonedItem.value.widgetValue.links.forEach((link) => {
          const newLinkid = this.generateUUID();
          link.widgetId = newWidgetId;
          link.id = newLinkid;
        });
      } else if (currentLocalWidget.type === "Hotspots") {
        clonedItem.value.widgetValue.forEach((node) => {
          const newItemId = this.generateUUID();
          if (hasLinks && foundLinks) {
            let found = foundLinks.find((button) => {
              return button.id === node.id;
            });
            if (found != undefined) {
              found.widgetId = newWidgetId;
              found.id = newItemId;              
            }
            clonedItem.value.additional.links = foundLinks;
          }
          node.widgetId = newWidgetId;
          node.id = newItemId;
        });
      } else if (
        currentLocalWidget.type != "Diagram" &&
        currentLocalWidget.type != "Hotspots" &&
        hasLinks &&
        foundLinks
      ) {
        // THIS WIDGET TYPE HAS LINKS
        // AND THE CURRENT WIDGET ALSO HAS LINKS
        // LETS CHANGE THEM
        this.pathIndex(clonedItem.value, hasLinks).forEach((widgetItem) => {
          const newWidgetItemId = this.generateUUID();
          // THERE ARE LINKS LETS CHANGE THEM
          // IF THERE ARE INTERNAL LINKS FOR THIS WIDGET WE NEED TO CHANGE THEM ALL
          foundLinks.forEach((linkItem) => {
            if (widgetItem.id == linkItem.id) {
              linkItem.widgetId = newWidgetId;
              linkItem.id = newWidgetItemId;
            }
          });
          widgetItem.widgetId = newWidgetId;
          widgetItem.id = newWidgetItemId;
          clonedItem.value.additional.links = foundLinks;
        });
      }

      // console.log(hasLinks,foundLinks);
      // console.log('clonedItem',clonedItem);
      this.addWidget(clonedItem, "CLONE");
    },
    removeWidget(id) {
      this.grid.removeWidget(id);
      this.selectedWidget = null;
    },
  },
};
</script>