 <template>
  <b-tab
    title="Slide settings"
    class="liSlideTabSettings"
    v-if="!_.isEmpty(localValue)"
  >
    <b-row>
      <!-- //TODO setting  the nodesettings component inside this component -->
      <div class="m-3 w-100">
        <div class="box-model w-100">
          <!-- POSITION -->
          <div class="c p p-top">
            <b-form-input
              v-model="localValue.inlineStyles.top"
              @input="widgetSettingsEmitter"
              size="sm"
              class="bg-white"
              :key="'top' + componentId"
            />
          </div>
          <div class="c p p-right d-flex">
            <b-form-input
              v-model="localValue.inlineStyles.right"
              @input="widgetSettingsEmitter"
              size="sm"
              class="bg-white my-auto"
              :key="'right' + componentId"
            />
          </div>
          <div class="c p p-bottom">
            <b-form-input
              v-model="localValue.inlineStyles.bottom"
              @input="widgetSettingsEmitter"
              size="sm"
              class="bg-white"
              :key="'bottom' + componentId"
            />
          </div>
          <div class="c p p-left d-flex">
            <b-form-input
              v-model="localValue.inlineStyles.left"
              @input="widgetSettingsEmitter"
              size="sm"
              class="bg-white my-auto"
              :key="'left' + componentId"
            />
          </div>
          <!-- MARGIN -->
          <div class="c m m-top">
            <template v-if="!localValue.settings.marginLinked">
              <b-form-input
                v-model="localValue.inlineStyles.marginTop"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'mtop' + componentId"
              />
            </template>
            <template v-else>
              <b-form-input
                v-model="localValue.inlineStyles.margin"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'m' + componentId"
              />
            </template>
          </div>
          <div class="c m m-right d-flex">
            <template v-if="!localValue.settings.marginLinked">
              <b-form-input
                v-model="localValue.inlineStyles.marginRight"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white my-auto"
                :key="'mright' + componentId"
              />
            </template>
          </div>
          <div class="c m m-bottom">
            <template v-if="!localValue.settings.marginLinked">
              <b-form-input
                v-model="localValue.inlineStyles.marginBottom"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'mbottom' + componentId"
              />
            </template>
          </div>
          <div class="c m m-left d-flex">
            <template v-if="!localValue.settings.marginLinked">
              <b-form-input
                v-model="localValue.inlineStyles.marginLeft"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white my-auto"
                :key="'mleft' + componentId"
              />
            </template>
          </div>
          <!-- PADDING -->
          <div class="c pa pa-top">
            <template v-if="!localValue.settings.paddingLinked">
              <b-form-input
                v-model="localValue.inlineStyles.paddingTop"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'patop' + componentId"
              />
            </template>
            <template v-else>
              <b-form-input
                v-model="localValue.inlineStyles.padding"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'pa' + componentId"
              />
            </template>
          </div>
          <div class="c pa pa-right d-flex">
            <template v-if="!localValue.settings.paddingLinked">
              <b-form-input
                v-model="localValue.inlineStyles.paddingRight"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white my-auto"
                :key="'paRight' + componentId"
              />
            </template>
          </div>
          <div class="c pa pa-bottom">
            <template v-if="!localValue.settings.paddingLinked">
              <b-form-input
                v-model="localValue.inlineStyles.paddingBottom"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'pbottom' + componentId"
              />
            </template>
          </div>
          <div class="c pa pa-left d-flex">
            <template v-if="!localValue.settings.paddingLinked">
              <b-form-input
                v-model="localValue.inlineStyles.paddingLeft"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white my-auto"
                :key="'pleft' + componentId"
              />
            </template>
          </div>

          <!-- BORDER -->
          <div class="c b bw-top">
            <template v-if="!localValue.settings.borderSizeLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderTopWidth"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'bwtop' + componentId"
              />
            </template>
            <template v-else>
              <b-form-input
                v-model="localValue.inlineStyles.borderWidth"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'bw' + componentId"
              />
            </template>
          </div>
          <div class="c b bw-right d-flex">
            <template v-if="!localValue.settings.borderSizeLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderRightWidth"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white my-auto"
                :key="'bwright' + componentId"
              />
            </template>
          </div>
          <div class="c b bw-bottom">
            <template v-if="!localValue.settings.borderSizeLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderBottomWidth"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'bwbottom' + componentId"
              />
            </template>
          </div>
          <div class="c b bw-left d-flex">
            <template v-if="!localValue.settings.borderSizeLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderLeftWidth"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white my-auto"
                :key="'bwleft' + componentId"
              />
            </template>
          </div>
          <div class="c b br-top-left">
            <template v-if="!localValue.settings.borderRadiusLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderTopLeftRadius"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'brtop' + componentId"
              />
            </template>
          </div>
          <div class="c b br-top-right">
            <template v-if="!localValue.settings.borderRadiusLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderTopRightRadius"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'brright' + componentId"
              />
            </template>
            <template v-else>
              <b-form-input
                v-model="localValue.inlineStyles.borderRadius"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'br' + componentId"
              />
            </template>
          </div>
          <div class="c b br-bottom-right">
            <template v-if="!localValue.settings.borderRadiusLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderBottomRightRadius"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'brbottom' + componentId"
              />
            </template>
          </div>
          <div class="c b br-bottom-left">
            <template v-if="!localValue.settings.borderRadiusLinked">
              <b-form-input
                v-model="localValue.inlineStyles.borderBottomLeftRadius"
                @input="widgetSettingsEmitter"
                size="sm"
                class="bg-white"
                :key="'brleft' + componentId"
              />
            </template>
          </div>
          <div class="c b b-style d-flex">
            <b-button
              :id="'borderStyle' + popoverID"
              class="m-auto w-75 text-center btn-round"
              variant="light"
              :class="
                localValue.inlineStyles.borderStyle === null ? 'p-0' : 'p-1'
              "
            >
              <template v-if="localValue.inlineStyles.borderStyle === null">
                <b-icon icon="border-style" />
              </template>
              <template v-else>
                <div
                  class="borderStylePreview w-100"
                  :style="computeBorderStyle()"
                />
              </template>
            </b-button>
            <b-popover
              :target="'borderStyle' + popoverID"
              triggers="focus"
              placement="bottom"
            >
              <!--//TODO work on settings for the  nodes and the links -->
              <template #title>Border style</template>
              <b-form-select
                size="sm"
                v-model="localValue.inlineStyles.borderStyle"
                :options="borderTypes"
                @change="widgetSettingsEmitter"
                :key="'bs' + componentId"
              />
            </b-popover>
          </div>
          <div class="c b b-width d-flex">
            <!-- <liColorFieldSmall @changeColor="widgetSettingsEmitter" :size="'sm'" class="m-auto" v-model="localValue.inlineStyles.borderColor" :key="'bc'+componentId"/> -->
            <b-form-input
              type="color"
              :size="'sm'"
              class="m-auto liColor"
              v-model="localValue.inlineStyles.borderColor"
              :key="'bc' + componentId"
            />
          </div>
          <!-- CENTER -->
          <div class="c center d-flex">
            <b-button
              :id="'alignContent' + popoverID"
              class="m-auto w-75 text-center btn-round"
              variant="light"
              :class="
                localValue.inlineStyles.borderStyle === null ? 'p-0' : 'p-1'
              "
            >
              <b-icon icon="align-middle" />
            </b-button>
            <b-popover
              :target="'alignContent' + popoverID"
              triggers="focus"
              placement="bottom"
            >
              <template #title>Align content</template>
              <div class="w-100">
                <label>Horizontal</label>
              </div>
              <div class="w-100 mb-2">
                <b-button-group size="sm">
                  <b-button
                    :class="
                      localValue.classes.horizontalAlign ==
                      horizontalAlignTypes[1]
                        ? 'active'
                        : ''
                    "
                    @click.prevent="horizontalAlign(1)"
                  >
                    <b-icon icon="align-start" />
                  </b-button>
                  <b-button
                    :class="
                      localValue.classes.horizontalAlign ==
                      horizontalAlignTypes[2]
                        ? 'active'
                        : ''
                    "
                    @click.prevent="horizontalAlign(2)"
                  >
                    <b-icon icon="align-center" />
                  </b-button>
                  <b-button
                    :class="
                      localValue.classes.horizontalAlign ==
                      horizontalAlignTypes[3]
                        ? 'active'
                        : ''
                    "
                    @click.prevent="horizontalAlign(3)"
                  >
                    <b-icon icon="align-end" />
                  </b-button>
                  <b-button
                    @click.prevent="horizontalAlign(horizontalAlignTypes[0])"
                  >
                    <b-icon icon="x" />
                  </b-button>
                </b-button-group>
              </div>
              <div class="w-100">
                <label>Vertical</label>
              </div>
              <div class="w-100 mb-2">
                <b-button-group size="sm">
                  <b-button
                    :class="
                      localValue.classes.verticalAlign == verticalAlignTypes[1]
                        ? 'active'
                        : ''
                    "
                    @click.prevent="verticalAlign(1)"
                  >
                    <b-icon icon="align-top" />
                  </b-button>
                  <b-button
                    :class="
                      localValue.classes.verticalAlign == verticalAlignTypes[2]
                        ? 'active'
                        : ''
                    "
                    @click.prevent="verticalAlign(2)"
                  >
                    <b-icon icon="align-middle" />
                  </b-button>
                  <b-button
                    :class="
                      localValue.classes.verticalAlign == verticalAlignTypes[3]
                        ? 'active'
                        : ''
                    "
                    @click.prevent="verticalAlign(3)"
                  >
                    <b-icon icon="align-bottom" />
                  </b-button>
                  <b-button
                    @click.prevent="verticalAlign(verticalAlignTypes[0])"
                  >
                    <b-icon icon="x" />
                  </b-button>
                </b-button-group>
              </div>
            </b-popover>
            <!-- <liColorFieldSmall @changeColor="widgetSettingsEmitter" :size="'sm'" class="m-auto" v-model="localValue.inlineStyles.backgroundColor" :key="'bgc'+componentId" /> -->
            <b-form-input
              type="color"
              :size="'sm'"
              class="m-auto liColor"
              v-model="localValue.inlineStyles.backgroundColor"
              :key="'bgc' + componentId"
            />
          </div>
          <!-- LABELS -->
          <div class="c p p-label label d-flex">
            <div class="my-auto">Position</div>
          </div>
          <div class="c m m-label label d-flex">
            <div class="my-auto">
              Margin
              <div
                class="d-inline-block cursor-pointer ml-1"
                @click.prevent="marginLinked"
              >
                <b-iconstack>
                  <b-icon stacked icon="link" />
                  <b-icon
                    :icon="
                      localValue.settings.marginLinked ? '' : 'slash-circle'
                    "
                    font-scale="2"
                    shift-h="-2"
                    shift-v="1.5"
                  />
                </b-iconstack>
              </div>
            </div>
          </div>
          <div class="c b b-label label d-flex">
            <div class="my-auto">
              Border
              <div
                class="d-inline-block cursor-pointer ml-1"
                @click.prevent="borderSizeLinked"
              >
                <b-iconstack>
                  <b-icon stacked icon="link" />
                  <b-icon
                    :icon="
                      localValue.settings.borderSizeLinked ? '' : 'slash-circle'
                    "
                    font-scale="2"
                    shift-h="-2"
                    shift-v="1.5"
                  />
                </b-iconstack>
              </div>
            </div>
          </div>
          <div class="c pa pa-label label d-flex">
            <div class="my-auto">
              Padding
              <div
                class="d-inline-block cursor-pointer ml-1"
                @click.prevent="paddingLinked"
              >
                <b-iconstack>
                  <b-icon stacked icon="link" />
                  <b-icon
                    :icon="
                      localValue.settings.paddingLinked ? '' : 'slash-circle'
                    "
                    font-scale="2"
                    shift-h="-2"
                    shift-v="1.5"
                  />
                </b-iconstack>
              </div>
            </div>
          </div>
          <div class="c b b-fill-2 label d-flex">
            <div class="my-auto">
              Radius
              <div
                class="d-inline-block cursor-pointer ml-1"
                @click.prevent="borderRadiusLinked"
              >
                <b-iconstack>
                  <b-icon stacked icon="link" />
                  <b-icon
                    :icon="
                      localValue.settings.borderRadiusLinked
                        ? ''
                        : 'slash-circle'
                    "
                    font-scale="2"
                    shift-h="-2"
                    shift-v="1.5"
                  />
                </b-iconstack>
              </div>
            </div>
          </div>
          <!-- FILLERS -->
          <div class="c p p-fill-1"></div>
          <div class="c p p-fill-2"></div>
          <div class="c p p-fill-3"></div>
          <div class="c p p-fill-4"></div>
          <div class="c p p-fill-6"></div>
          <div class="c p p-fill-5"></div>
          <div class="c p p-fill-7"></div>
          <div class="c p p-fill-8"></div>
          <div class="c m m-fill-1"></div>
          <div class="c m m-fill-2"></div>
          <div class="c m m-fill-3"></div>
          <div class="c m m-fill-4"></div>
          <div class="c m m-fill-5"></div>
          <div class="c m m-fill-6"></div>
          <div class="c m m-fill-7"></div>
          <div class="c m m-fill-8"></div>
          <div class="c b b-fill-1"></div>
          <div class="c b b-fill-3"></div>
          <div class="c b b-fill-4"></div>
          <div class="c b b-fill-5"></div>
          <div class="c pa pa-fill-1"></div>
          <div class="c pa pa-fill-2"></div>
          <div class="c pa pa-fill-3"></div>
        </div>
      </div>
    </b-row>
  </b-tab>
</template>
 <script>
// TODO adding important
import { bus } from "/src/main";

export default {
  name: "liSlideSettings",
  components: {},
  data() {
    return {
      localValue: null,
      popoverID: this.generateUUID(),
      borderTypes: [
        { value: null, text: "Select a border style" },
        { value: "solid", text: "Solid" },
        { value: "dotted", text: "Dotted" },
        { value: "dashed", text: "Dashed" },
      ],
      horizontalAlignTypes: [
        false,
        "justify-content-start",
        "justify-content-center",
        "justify-content-end",
      ],
      verticalAlignTypes: [
        false,
        "align-items-start",
        "align-items-center",
        "align-items-end",
      ],
    };
  },
  props: {
    value: null,
    componentId: null,
  },
  created() {},
  mounted() {
    this.localValue = this.value;
  },
  methods: {
    computeBorderStyle() {
      return (
        "height:1px; width:30px; border-top:1px " +
        this.localValue.inlineStyles.borderStyle +
        " #000;"
      );
    },
    paddingLinked() {
      this.localValue.settings.paddingLinked =
        !this.localValue.settings.paddingLinked;
      this.widgetSettingsEmitter();
    },
    marginLinked() {
      this.localValue.settings.marginLinked =
        !this.localValue.settings.marginLinked;
      this.widgetSettingsEmitter();
    },
    borderRadiusLinked() {
      console.log("border radius");
      this.localValue.settings.borderRadiusLinked =
        !this.localValue.settings.borderRadiusLinked;
      this.widgetSettingsEmitter();
    },
    borderSizeLinked() {
      this.localValue.settings.borderSizeLinked =
        !this.localValue.settings.borderSizeLinked;
      this.widgetSettingsEmitter();
    },
    horizontalAlign(index) {
      this.localValue.classes.horizontalAlign =
        this.horizontalAlignTypes[index];
      this.widgetSettingsEmitter();
    },
    verticalAlign(index) {
      this.localValue.classes.verticalAlign = this.verticalAlignTypes[index];
      this.widgetSettingsEmitter();
    },
    widgetSettingsEmitter() {
      console.log("WidgetSettings, emitter", this.localValue);
      this.$emit("widgetSettingsChange", this.localValue);
    },
  },
};
</script>