// BUILDER DOCUMENT WIDGET
.liBuilderDocument {
  &.liUpload {
    height: 100%;
    width: 100%;
  }

  &.liUploaded {
    width: 100%;
  }


  .liImg-explainImage {
    width: 185px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -68px;

  }

  .liDropzone {
    border: 1px dashed $primary;
    height: 100%;
    width: 100%;

    .dz-message {
      width: 100%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .icon {
    max-width: 150px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .filename {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 85%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
    width: 100%;
  }

  .remove {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderDocumentLive {
  .icon {
    max-width: 90px;
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  .filename {
    width: 100%;
    font-size: 85%;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: calc(35% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
  }

  .download {
    position: absolute;
    top: calc(35% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}