 // BUILDER TABLE WIDGET
 .liBuilderTable {
   width: 100%;

   .liImg-explainImage {
     position: absolute;
     top: 0;
     right: 0;
     width: 250px;
     pointer-events: none;
     user-select: none;
     z-index: 0;
   }

   .table {
    //  background-color: $light;
     th {
       border-top:0px;
       &.liTableColumn {
         &:hover {

           .moveHeaderBtn,
           .removeHeaderBtn {
             opacity: 1;
             visibility: visible;
             pointer-events: unset;
           }
         }
       }
     }
     .liTableRowColumn{
       vertical-align: middle;
     }
     .liTableColumn {

       .moveHeaderBtn,
       .removeHeaderBtn {
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
       }
     }

     .liTableRow {
       .removeRowBtn {
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
       }

       &:hover {
         .removeRowBtn {
           opacity: 1;
           visibility: visible;
           pointer-events: unset;
         }
       }
     }
   }

   .addHeaderbtn {
     height: 31px;
   }
   .addHeaderbtn-zero{
    float: right;
   }
   .ghost-builder-table-item {
     background-color: $primary !important;
     color: $light;
   }
 }

/*
 * LIVE BUILDER STYLING
 */
 .liBuilderTableLive {
  .table {
     th {
       border-top:0px;
     }
  }
}