// BUILDER FORM WIDGET
.liBuilderForm {
  width: 100%;
  // position: relative;
  .addRow{
    position: sticky ;
    bottom: 5px;
    margin-left: 50%;
    transform: translateX(-25px);
  }
  .liImg-explainImage {
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    top: -12px;
    left: 50%;
    width: 250px;
    transform: translateX(-47%);
  }

  .list-unstyled {
    // background-color: $light;
  }

  .ghost-builder-form-item {
    background-color: $primary !important;
    color: $light;
  }

  .custom-control-label,
  label {
    font-size: 0.8rem;
  }

  .liBuilderListItem {
    border: 1px dashed transparent;
    position: relative;
    padding: 0;
    display: inline-block;

    .actions {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: right;
      padding-top: 5px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      .moveBtn {
        cursor: move;
      }
    }

    .resizeBtn {
      position: absolute;
      height: 16px;
      width: 16px;
      bottom: 2px;
      right: 6px;
      cursor: se-resize !important;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transform: rotate(-45deg);
      z-index: 1;
      &::before {
        color: $primary;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin: 4px;
        font-size: 20px;
        content: "\f0d7";
      }
    }

    &:hover {
      .resizeBtn {
        visibility: unset;
        opacity: 1;
        pointer-events: unset;
      }

      // z-index: 32;

      .actions {
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
      }
    }
    &:hover {
      border: 1px dashed $primary;
    }
  }

  .form-group {
    // padding: 13px;


  }
}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderFormLive {
  display: inline-block;
  width: 100%;
}

