// BUILDER VIDEO
.liBuilderVideo {
  width: 100%;

  .liImg-explainImage {
    pointer-events: none;
    position: absolute;
    width: 1000px;
    left: 0;
    top: -9px;
    z-index: 0;
  }

  .videoContainer {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderVideoLive {
  width: 100%;

  .videoContainer {
    display: block;
    width: 100%;
    height: 100%;
  }
}