// BUILDER IMAGE WIDGET
.liBuilderFile {
  &.liUpload {
    height: 100%;
    width: 100%;
  }

  &.liUploaded {
    width: 100%;
  }


  .liImg-explainImage {
    width: 230px;
    position: absolute;
    right: 47%;
    top: -143px;
  }

  .liDropzone {
    border: 1px dashed $primary;
    height: 100%;
    width: 100%;

    .dz-message {
      width: 100%;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .remove {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}