// BUILDER HOTSPOTS WIDGET
.liBuilderHotspots {
  width:100%;
  display: unset;
  .liBuilderHotspotsCanvas {
    width:100%;
    position: relative;
    .removeImage{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .liBuilderHotSpotItem {
      cursor: move;
      position: absolute;
      border: 1px dashed transparent;

      &:hover {
        border: 1px dashed $white;
      }

      .deadlink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }

      .liBuilderHotSpot {
        width: 25px;
        height: 25px;
        border-radius: 135px;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        cursor: move;
        .icon{
          pointer-events: none;
        }
        &.li-xs {
          width: 25px;
          height: 25px;
        }

        &.li-sm {
          width: 25px;
          height: 25px;
        }

        &.li-lg {
          width: 25px;
          height: 25px;
        }

        &.li-2x {
          width: 50px;
          height: 50px;
        }

        &.li-3x {
          width: 65px;
          height: 65px;
        }

        &.li-5x {
          width: 95px;
          height: 95px;
        }

        &.li-7x {
          width: 125px;
          height: 125px;
        }

        &.li-10x {
          width: 155px;
          height: 155px;
        }
      }

      .actions {
        border-radius: 10px;
        padding: 2px 0;
        position: absolute;
        z-index: 10;
        width: 66px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: right;
        box-shadow: $box-shadow;
      }
    }

    .liHotspotBgImage {
      user-select: none;
      pointer-events: none;
    }

    .addHotspot {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
    }
  }
}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderHotspotsLive {
  display: unset!important;
  .liBuilderHotspotsCanvas {
    position: relative;
    width:100%;
    .liBuilderHotSpotItem {
      cursor: pointer;
      position: absolute;

      .liBuilderHotSpot {
        width: 25px;
        height: 25px;
        border-radius: 135px;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: space-around;

        &.link {
          .liHotspotItem {
            border-radius: 135px;
            &.empty{
              width: 100%;
              height:100%;
              display: flex;
            }
            
            .icon {
              will-change: opacity;
              transition: opacity .2s;
            }

            .label {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 3;
              min-width: 100px;
              padding: 3px 5px;
              border-radius: 5px;
              opacity: 0;
              will-change: opacity;
              transition: opacity .5s;
            }
          }

          &:hover {
            .liHotspotItem {
              .label {
                opacity: 1;
              }

              .icon {
                opacity: 0;
              }
            }
          }
        }

        &.li-xs {
          width: 25px;
          height: 25px;
        }

        &.li-sm {
          width: 25px;
          height: 25px;
        }

        &.li-lg {
          width: 25px;
          height: 25px;
        }

        &.li-2x {
          width: 50px;
          height: 50px;
        }

        &.li-3x {
          width: 65px;
          height: 65px;
        }

        &.li-5x {
          width: 95px;
          height: 95px;
        }

        &.li-7x {
          width: 125px;
          height: 125px;
        }

        &.li-10x {
          width: 155px;
          height: 155px;
        }
      }

      .actions {
        border-radius: 10px;
        padding: 2px 0;
        position: absolute;
        z-index: 10;
        width: 66px;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        text-align: right;
        box-shadow: $box-shadow;
      }
    }

    .liHotspotBgImage {
      user-select: none;
      pointer-events: none;
    }

    .addHotspot {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
    }
  }
}