 // BUILDER TABLE WIDGET
 .liBuilderObject {
   width: 100%;

   .liImg-explainImage {
     position: absolute;
     top: 130px;
     left: calc(50% - 225px);
     width: 250px;
     pointer-events: none;
     user-select: none;
     z-index: 0;
   }

   .table {
     background-color: $light;

     .moveHeaderBtn {
       cursor: move;
     }

     th {
       &.liTableColumn {
         &:hover {

           .moveHeaderBtn,
           .removeHeaderBtn {
             opacity: 1;
             visibility: visible;
             pointer-events: unset;
           }
         }
       }
     }

     .liTableColumn {

       .moveHeaderBtn,
       .removeHeaderBtn {
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
       }
     }

     .liTableRow {
       .liTableObjectColumn{
         vertical-align: middle;
       }
       .removeRowBtn {
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
       }

       &:hover {
         .removeRowBtn {
           opacity: 1;
           visibility: visible;
           pointer-events: unset;
         }
       }
     }
   }

   .addHeaderbtn {
     height: 31px;
   }

   .ghost-builder-table-item {
     background-color: $primary !important;
     color: $light;
   }
 }

/*
 * LIVE BUILDER STYLING
 */