// BUILDER DIAGRAM WIDGET
.liBuilderDiagram {
  display: block;
  width: 100%;
  height: 100%;

  .liBuilderDiagramCanvas {
    width: 100%;
    height: 100%;
    position: relative;

    .liBuilderNodeItem {
      cursor: move;
      position: absolute;
      .deadlink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
      .liAddLink {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 16px;
        border-radius: 30px;
        background-color: $white;
        border: 1px solid $primary;
        cursor: s-resize;
        z-index: 1;
        text-align: center;

        .b-icon {
          user-select: none;
          pointer-events: none;
        }
      }
      &.diamond {
        width: 65px;
        height: 65px;
        .liBuilderNode {
          width: 65px;
          height: 65px;
          display: table;
          table-layout: fixed;
          // background-color: green;
          .liAddLink {
            bottom: -16px;
          }
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 65px;
            height: 65px;
            padding: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }

      &.round {
        width: 50px;
        height: 50px;
        
        .liBuilderNode {
          width: 50px;
          height: 50px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 50px;
            height: 50px;
            padding: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }

      &.rectangle {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.roundedrectangle {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.skewedrectangle {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.document {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.directdata{
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }

      .actions {
        border-radius: 10px;
        padding: 2px 0;
        position: absolute;
        z-index: 10;
        width: 66px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: right;
        box-shadow: $box-shadow;
        
      }

      .label {
        text-align: center;
        font-size: 75%;
        user-select: none;
        pointer-events: none;
      }

     
      
    }

    .nodeAdd {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 2;
    }
  }

  .liBuilderLinksCanvas {
    .linkIcon {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      dominant-baseline: central;
      font-size: 20px;
    }

    .linkHandle {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      dominant-baseline: central;
      font-size: 12px;
    }

    .linkText {
      dominant-baseline: ideographic;
    }

    .actions {
      fill: $primary;
      stroke-width: 0;
      cursor: pointer;

      .background {
        fill: $white;
        stroke: $primary;
        stroke-width: 0;
      }
    }

  }
}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderDiagramLive {
  display: block;
  width: 100%;
  height: 100%;

  .liBuilderDiagramCanvas {
    width: 100%;
    height: 100%;
    position: relative;

    .liBuilderNodeItem {
      position: absolute;

      .deadlink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.diamond {
        width: 65px;
        height: 65px;
        .liBuilderNode {
          width: 65px;
          height: 65px;
          display: table;
          table-layout: fixed;
          .popOver {
            width: 50px;
            height: 50px;
            display: table;
            table-layout: fixed;
           }
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 65px;
            height: 65px;
            padding: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            position: absolute;
            width: auto;
            min-width: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            border: 1px solid $primary;
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.round {
        width: 50px;
        height: 50px;
        .liBuilderNode {
          width: 50px;
          height: 50px;
          display: table;
          table-layout: fixed;
          .popOver {
            width: 50px;
            height: 50px;
            display: table;
            table-layout: fixed;
           }
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 50px;
            height: 50px;
            padding: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          
          .fullLabel{
            position: absolute;
            width: auto;
            min-width: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            border: 1px solid $primary;
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.rectangle {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          .popOver {
            width: 125px;
            height: 30px;
            display: table;
            table-layout: fixed;
           }
          &.no-icon{
            .label{
              padding-top:5px;
            }
          }
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            max-width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.no-icon{
              height: 20px;
              padding: 5px;
            }
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            position: absolute;
            border: 1px solid $primary;
            width: auto;
            min-width: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.roundedrectangle {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          display: table;
          table-layout: fixed;
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .popOver {
            width: 125px;
            height: 30px;
            display: table;
            table-layout: fixed;
           }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 75%;
            line-height: 1;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            border: 1px solid $primary;
            position: absolute;
            width: 200px;
            left: -100%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.skewedrectangle {
        width:  125px;
        height: 30px;
        .liBuilderNode {
          width:  125px;
          height: 30px;
          &.no-icon{
            .label{
              padding-top:5px;
              padding-left: 10px;
            }
          }
          display: table;
          table-layout: fixed;
          .popOver {
            width: 115px;
            height: 30px;
            display: table;
            table-layout: fixed;
           }
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            max-width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            &.no-icon{
              height: 20px;
              padding: 5px;
            }
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            position: absolute;
            border: 1px solid $primary;
            width: auto;
            min-width: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.document {
        width:  125px;
        height: 30px;

        .liBuilderNode {
          width:  125px;
          height: 30px;
          &.no-icon{
            .label{
              padding-top:5px;
            }
          }
          display: table;
          table-layout: fixed;
          .popOver {
            width: 125px;
            height: 30px;
            display: table;
            table-layout: fixed;
           }
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            max-width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: left;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &.no-icon{
              height: 20px;
              padding: 5px;
            }
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            position: absolute;
            border: 1px solid $primary;
            width: auto;
            min-width: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
      &.directdata {
        width:  125px;
          height: 30px;

        .liBuilderNode {
          width:  125px;
          height: 30px;
          &.no-icon{
            .label{
              padding-top:5px;
            }
          }
          display: table;
          table-layout: fixed;
          .popOver {
            width: 125px;
            height: 30px;
            display: table;
            table-layout: fixed;
           }
          &:hover{
            .fullLabel{
              display: block;
            }
          }
          .icon{
            position: absolute;
            top: -15px;
            left: 50%;
            transform:translateX(-50%);
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid $primary;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            background-color: $white;
            display: flex;
          }
          .label {
            width: 125px;
            max-width: 125px;
            height: 30px;
            padding: 10px 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: table-cell;
            vertical-align: middle;
            &.no-icon{
              height: 20px;
              padding: 5px;
            }
            &.link{
              pointer-events: unset;
            }
          }
          .fullLabel{
            position: absolute;
            border: 1px solid $primary;
            width: auto;
            min-width: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            padding: 5px;
            background-color: $white;
            border-radius: 5px;
            font-size: 75%;
            line-height: 1;
            text-align: center;
            user-select: none;
            display: none;
            
          }
        }
        &.li-xs {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-sm {
          .icon{
            width: 20px;
            height: 20px;
          }
        }
  
        &.li-lg {
         .icon{
            width: 30px;
            height: 30px;
            top:-25px;
          }
        }
  
        &.li-2x,
        &.li-3x,
        &.li-5x,
        &.li-7x,
        &.li-10x {
          .icon{
            width: 39px;
            height: 39px;
            top:-25px;
            span{
              font-size: 2em!important;
            }
          }
        }
      }
    }
  }

  .liBuilderLinksCanvas {
    .linkIcon {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      dominant-baseline: central;
      font-size: 20px;
    }

    .linkHandle {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      dominant-baseline: central;
      font-size: 12px;
    }

    .linkText {
      dominant-baseline: ideographic;
    }
  }
}