// BUILDER BUTTONS WIDGET
.liBuilderButtons {
  .list-unstyled {
    margin: 0px;
    padding: 0;
    display: inline-block;

    .liBuilderButtonItem {
      border: 1px dashed transparent;
      margin-top: 0;
      position: relative;

      .actions {
        border-radius: 10px;
        padding: 2px;
        position: absolute;
        z-index: 10;
        width: 95px;
        top: 50%;
        left: 50%;
        box-shadow: $box-shadow;
        text-align: center;
        transform: translate(-50%,-50%);
        .moveBtn {
          cursor: move;
        }
      }

      .liButton{
        min-width: 110px;
      }
      &:hover {
        // border: 1px dashed $primary;
      }
    }
  }
  .addRow{
    position: sticky ;
    bottom:0;
    left:0;
  }
  &.horizontal {
    .list-unstyled {
      float: left;

      .liBuilderButtonItem {
        float: left;
        // margin-left: 10px;

      }
    }

    // .addRow {
    //   width: 100%;
    //   margin-top: 60px;
    //   display: block;
    // }
  }

  &.vertical {
    .liBuilderButtonItem {
      .liButton {
        width: 100%;

      }
    }
  }

  &.group {
    .liBuilderButtonItem {
      border: 0px dashed transparent;
      margin: 0px;

      .liButton {
        border-radius: 0;
      }

      &:hover {
        border: 0px dashed transparent;
      }
    }

    &.horizontal {
      .liBuilderButtonItem {
        margin: 0px;

        &:last-child {
          .liButton {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }

        &:first-child {
          .liButton {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
    }

    &.vertical {
      .liBuilderButtonItem {
        margin: 0px;

        .liButton {
          width: 100%;

        }

        &:last-child {
          .liButton {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }

        &:first-child {
          .liButton {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
      }
    }
  }

  .liImg-explainImage {
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    top: -12px;
    left: 50%;
    width: 250px;
    transform: translateX(-47%);
  }

  .ghost-builder-button-item {
    background-color: $primary !important;
    color: $light;
  }

  .custom-control-label,
  label {
    font-size: 0.8rem;
  }

}

/*
 * LIVE BUILDER STYLING
 */