// BUILDER iFRAME
.liBuilderiFrame {
  width: 100%;

  .liImg-explainImage {
    position: absolute;
    width: 1000px;
    left: 0;
    top: -9px;
    z-index: 0;
    pointer-events: none;
  }

  .iFrameContainer {
    display: block;
    width: 100%;
    height: 100%;

    .vue-friendly-iframe {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

  }

}

/*
 * LIVE BUILDER STYLING
 */
.liBuilderiFrameLive {
  width: 100%;

  .iFrameContainer {
    display: block;
    width: 100%;
    height: 100%;

    .vue-friendly-iframe {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

  }
}