<template>
  <div
    class="grid-stack-item"
    :id="id"
    :ref="id"
    :key="'item-' + type + '-' + localId"
    @click.prevent="showWidgetModal(id)"
    @mouseenter="showHeader = true"
    @mouseleave="showHeader = false"
  >
    <!-- WIDGET HEADER -->
    <liWidgetHeader
      v-if="baseValue != null && showHeader"
      :id="id"
      :name="name"
      :showWidgetModal="showWidgetModal"
      :removeWidget="removeWidget"
      :cloneWidget="cloneWidget"
      :key="'header-' + type + '-' + localId"
    />
    <!-- /.END WIDGET HEADER -->
    <!-- WIDGET CONTET -->
    <div
      class="grid-stack-item-content liBuilderContent d-flex"
      v-if="baseValue != null"
      :style="computedWidgetComponentStyle(baseDesign)"
      :class="computedWidgetComponentClass(baseDesign.classes)"
    >
      <component
        :is="'liBuilder' + type"
        :key="'item-builder-' + type + '-' + localId"
        :componentId="id"
        :id="id"
        :name="name"
        :type="type"
        :currentNode="currentNode"
        :currentProject="currentProject"
        :linkNodes="linkNodes"
        :design="baseDesign"
        v-model="baseValue"
        @input="baseEmitterItem"
      />
    </div>

    <!-- // baseEmitterItem is a function -->
    <!-- /.END WIDGET CONTET -->
    <!-- PORTAL TO WIDGET MODAL MAIN -->
    <portal
      to="liWidgetSettings"
      v-if="modalInit && builderSettingsWidgetItem === id"
      :key="'portal' + localId"
    >
      <div v-if="modalInit">
        <b-tabs fill small :key="'tabs' + localId">
          <template v-if="componentExist('liBuilder' + type + 'Tab')">
            <!-- TAB ITEM OPTIONS  -->
            <component
              :is="'liBuilder' + type + 'Tab'"
              :id="id"
              :key="'main-settings-' + type + '-' + localId"
              :componentId="id"
              :name="name"
              :type="type"
              :currentNode="currentNode"
              :linkNodes="linkNodes"
              :design="baseDesign"
              v-model="baseValue"
              @input="baseEmitterItem"
            />
            <!-- /.END TAB ITEM OPTIONS  -->
          </template>
          <!-- TAB WIDGET SETTINGS -->
          <liWidgetTabSettings
            v-model="baseDesign"
            :key="'item-design-' + type + '-' + localId"
            :componentId="id"
            @widgetSettingsChange="widgetSettingsChange"
          />
          <!-- /.END WIDGET SETTINGS -->
        </b-tabs>
      </div>
      <template v-else>
        <div class="h-100 d-flex w-100">
          <div class="m-auto text-center">
            <div style="font-size: 4rem">
              <b-icon
                icon="window"
                class="bg-primary mb-2 rounded-circle p-3 mt-4"
                variant="light"
              />
            </div>
            <h4>Please select a widget</h4>
            <p class="px-3">
              Please select a widget on the left canvas to edit it's content.
            </p>
          </div>
        </div>
      </template>
      <!-- FOOTER -->
      <!-- <liWidgetFooter v-if="baseValue !=null" :hideWidgetModal="hideWidgetModal" /> -->
    </portal>
    <!-- /. END PORTAL TO WIDGET MODAL -->
  </div>
</template>
<script>
function loadedComponents() {
  var loaded = [];
  var components = this.$options.components;
  for (var key in components) {
    loaded.push(key);
  }
  return loaded;
}
function componentExists(component) {
  var components = loadedComponents.call(this);
  if (components.indexOf(component) !== -1) {
    return true;
  }
  return false;
}
export default {
  name: "liWidgetBase",
  data() {
    return {
      showHeader: false,
      modalInit: false,
      baseValue: null,
      baseDesign: null,
      baseLinks: null,
      localId: this.generateUUID(),
      removing: false,
    };
  },
  props: {
    id: null,
    name: null,
    type: null,
    currentNode: null,
    currentProject: null,
    linkNodes: null,
    value: null,
    design: null,
    internal_links: null,
    widget: null,
    width: null,
    height: null,
  },
  mounted() {
    this.baseValue = this._.cloneDeep(this.value);
    this.baseDesign = this.design;
    this.baseLinks = this.internal_links;
  },
  computed: {
    widgetModalOptions() {
      let modalOptions = this._.cloneDeep(this.WIDGET_MODAL_OPTIONS);
      modalOptions.headerTitle = this.name;
      return modalOptions;
    },
    localliLoading() {
      return this.$store.getters["liStatic/getLoading"];
    },
    builderSettingsWidgetItem: {
      get() {
        return this.$store.getters["liStatic/getBuilderSettingsWidgetItem"];
      },
      set(status) {
        this.$store.commit("liStatic/setBuilderSettingsWidgetItem", status);
      },
    },
  },
  methods: {
    componentExist(name) {
      return componentExists.call(this, name);
    },
    computedWidgetComponentClass(item) {
      let classValue = "";
      for (const value of Object.values(item)) {
        if (value) {
          classValue += value + " ";
        }
      }
      return classValue;
    },
    computedWidgetComponentStyle(item) {
      // console.log('computedWidgetComponentStyle',item);
      let styleValue = "";
      for (const [key, value] of Object.entries(item.inlineStyles)) {
        if (!this._.isEmpty(value)) {
          const styleAttribute = key.replace(/[A-Z]/g, "-$&").toLowerCase();
          let ignore = false;
          ignore =
            !item.settings.paddingLinked && styleAttribute === "padding"
              ? true
              : false;
          ignore =
            !item.settings.marginLinked && styleAttribute === "margin"
              ? true
              : false;
          ignore =
            !item.settings.borderSizeLinked && styleAttribute === "border-width"
              ? true
              : false;
          ignore =
            !item.settings.borderRadiusLinked &&
            styleAttribute === "border-radius"
              ? true
              : false;
          styleValue += !ignore
            ? styleAttribute + ":" + this.computeWidgetStyleValue(value) + "; "
            : "";
        }
      }
      return styleValue;
    },
    computeWidgetStyleValue(value) {
      console.log(value, "baseValue");
      let styleValue = value.toString().replace(/[,]+/g, " ");
      if (
        this.isNumeric(styleValue) &&
        !styleValue.endsWith("px", 2) &&
        !styleValue.endsWith("%", 1)
      ) {
        styleValue += "px";
        return styleValue;
      } else {
        return value;
      }
    },
    showWidgetModal(id) {
      if (!this.removing) {
        this.builderSettingsWidgetItem = id;
        if (this.builderSettingsWidgetItem === id) {
          this.modalInit = true;
          this.$emit("selectedWidget", id);
        } else {
          this.modalInit = false;
        }
      }
    },
    hideWidgetModal() {
      this.modalInit = false;
      // this.closeModal(true).then(() => {
      // });
    },
    widgetSettingsChange(value) {
      this.baseDesign = value;
      this.$emit("changeDesign", { design: this.baseDesign, id: this.id });
    },
    baseEmitterItem() {
      // => changeGridItem
      // console.log("baseEmitterItem", this.baseValue);
      this.$emit("input", { value: this.baseValue, id: this.id });
    },
    cloneWidget(id) {
      // console.log('removeWidget',id);
      this.$emit("cloneWidget", id);
    },
    removeWidget(id) {
      // console.log('removeWidget',id);
      this.removing = true;
      this.modalInit = false;
      this.$emit("selectedWidget", null);
      this.$emit("removeWidget", id);
    },
  },
};
</script>
