<template>
  <main class="LiFeatures">
    <!-- PageTitle -->
    <vue-headful :title="pageTitle" />
    <!-- BODY-->
    <template v-if="viewContent.hasOwnProperty('body')">
      <div :class="viewContent.body.content.styleClasses" class="liContent">
        <template v-for="(block, index) in viewContent.body.content">
          <component :is="block.type" :block="block" :key="`${block.identifier}${index}`" />
        </template>
      </div>
    </template>
  </main>
</template>
<script>
export default {
  name: "Feature",
  data() {
    return {
      pageTitle: "Loading...",
      identifier: this.$route.params.identifier,
      query: this.$route.query,
      auditItem: null,
    };
  },
  computed: {
    viewContent() {
      return this.$store.getters["liStatic/getFeature"](this.identifier);
    },
  },
  mounted() {
    this.liPresenting = false;
    if (this.viewContent == "error") {
      this.getFeature();
    } else {
      this.setTitle();
    }
  },
  activated() {
    this.liPresenting = false;
    if (this.viewContent == "error") {
      this.getFeature();
    } else {
      this.setTitle();
    }
  },
  methods: {
    getFeature() {
      this.$store
        .dispatch("liStatic/GET_FEATURE", {
          identifier: this.identifier,
          vm: this,
        })
        .then(() => {
          this.setTitle();
        });
    },
    setTitle() {
      this.pageTitle = this.createPageTitle(this.viewContent.label_plural);
    },
  },
};
</script>
