<template>
  <main class="apcDefaultPresentation presentation">
    <template
      v-if="
        presentation &&
          presentation.scene != 'error' &&
          presentation.nodes != 'error' &&
          presentation.links != 'error' &&
          !_.isEmpty(currentSlide)
      "
    >
      <!-- PageTitle -->

      <vue-headful :title="pageTitle" />
      <!-- !--! EXPIRIMENTAL !--!  HEADER -->
      <aside
        class="position-fixed text-white liBreadCrumbs"
        style="z-index:1010; left:50px; top: 20px;"
      >
        <p
          id="presentationName"
          :style="{
            backgroundColor: `${scene.properties.brandingSettings.navbarBgColor}!important`,
            color: `${scene.properties.brandingSettings.navbarTextColor}!important`,
          }"
        >
          <b-icon icon="caret-right" class="mx-2" />
          <span
            @click.prevent="resetPresentation"
            v-b-tooltip.hover.bottom="
              'Go back to the start of this presentation'
            "
            class="d-inline-block cursor-pointer"
            >{{ presentation.scene.properties.name }}</span
          >
          <b-icon icon="caret-right" class="mx-2" />
          {{ currentSlide.properties.name }}
        </p>
      </aside>
      <!-- END !--! EXPIRIMENTAL !--!  HEADER -->
      <!-- PAUSE CONTAINER -->
      <aside
        id="pauseContainer"
        class="asideContainer"
        v-if="!_.isEmpty(asideContainer) && asideContainer == 'pause'"
        :class="
          container[asideContainer].class != ''
            ? container[asideContainer].class
            : ''
        "
      >
        <header class="d-flex">
          <h3 class="w-75 p-3">
            {{ presentation.scene.properties.name }}
          </h3>
          <div class="w-25 text-right p-3">
            <b-button
              @click.prevent="closeAside"
              variant="outline-primary"
              class="text-right btn-round p-0 text-center"
            >
              <b-icon-x />
            </b-button>
          </div>
        </header>
        <main class="px-3">
          <div class="inner">
            <liProcessCanvasLive
              :block="presentation"
              :presentation="scene"
              :nodeSelected="currentSlide"
              :currentSlide="currentSlide"
              @goToSlide="goToSlide"
            />
          </div>
        </main>

        <aside
          id="breadCrumbsContainer"
          v-if="!_.isEmpty(asideContainer) && asideContainer == 'pause'"
          :class="
            container[asideContainer].class != ''
              ? container[asideContainer].class
              : ''
          "
        >
          <header class="bg-light px-3">
            <h3 class="w-100 pt-3">
              <b-button
                variant="outline-secondary"
                size="sm"
                class="btn-round"
                @click.prevent="resetPresentation"
                v-b-tooltip.hover.left="'Go back to the start of this preview'"
              >
                <b-icon icon="arrow-counterclockwise"></b-icon>
              </b-button>
              Preview
            </h3>
          </header>
          <h5 class="w-100 pt-3 pl-3">Callstack</h5>
          <template
            v-for="(breadCrumb, label, presentationIndex) in breadCrumbs"
          >
            <ul
              :key="presentationIndex"
              class="list-group list-group-flush border-0 mx-3 mt-2"
            >
              <li class="list-group-item">
                <h5>{{ label | labelTruncate }}</h5>
                <hr class="mb-1" />
                <ul class="list-group list-group-flush border-0 p-0">
                  <template v-for="(slide, stepsIndex) in breadCrumb">
                    <li :key="stepsIndex" class="list-group-item py-1 px-0">
                      <!-- <span class="callStackLink cursor-pointer" disabled @click.prevent="goToSlide(slide, 'history')"> {{slide.slideName}}</span> -->
                      <span class="callStackLink">
                        <b-icon
                          icon="signpost-fill"
                          v-if="slide.slideType === 'portal'"
                          class="mr-2"
                        />
                        {{ slide.slideName }}
                      </span>
                    </li>
                  </template>
                </ul>
              </li>
            </ul>
          </template>
        </aside>
      </aside>
      <!-- /.PAUSE CONTAINER -->
      <aside
        class="asideBackdrop cursor-pointer"
        v-if="!_.isEmpty(asideContainer)"
        :class="container[asideContainer].class"
        @click.prevent="closeAside"
      />
      <!-- /.COMMENTS CONTAINER -->

      <!-- DEFAULT BUTTONS -->
      <nav
        id="defaultButtonsInContent"
        v-if="
          !_.isEmpty(currentSlideButtons) &&
            (currentSlide.properties.type == 0 ||
              currentSlide.properties.links_visible == 1)
        "
        class="p-1 rounded shadow text-center"
      >
        <template v-for="(button, index) in currentSlideButtons">
          <!-- <b-button v-if="findNodeWithID(button.properties.to).type != 2" :to="'/presentation/'+$route.params.identifier+'/slide/'+button.properties.to" :key="index" class="defaultBtn" :style="computedButtonStyle(button)"> -->
          <b-button
            v-if="findNodeWithID(button.properties.to).type != 2"
            @click.prevent="btnClick(button)"
            :key="index"
            class="defaultBtn"
            :style="computedButtonStyle(button)"
          >
            <span
              v-if="!_.isEmpty(button.properties.icon)"
              class="mr-2"
              :class="button.properties.icon"
            />
            <template v-if="!_.isEmpty(button.properties.name)">
              {{ button.properties.name }}
            </template>
            <template v-else>
              <i>No label set...</i>
            </template>
          </b-button>
        </template>
      </nav>
      <!--/. END DEFAULT BUTTONS -->

      <nav id="defaultNavigationButtons" class="p-2 rounded shadow text-center">
        <b-button
          @click.prevent="slideBack"
          variant="light"
          class="back control-btn"
          v-b-tooltip.hover.top="'Go back'"
        >
          <b-icon icon="caret-left" />
        </b-button>
        <b-button
          @click.prevent="resetPresentation"
          variant="light"
          class="reset control-btn"
          v-b-tooltip.hover.top="'Go back to the start of this presentation'"
        >
          <b-icon icon="skip-backward" />
        </b-button>
        <b-button
          @click.prevent="openAside('pause')"
          variant="light"
          class="pause control-btn"
          v-b-tooltip.hover.top="'Pause the presentation'"
        >
          <b-icon icon="pause" />
        </b-button>
        <b-button
          @click.prevent="slideNext"
          variant="light"
          class="record control-btn"
          v-b-tooltip.hover.top="'Go foreward'"
        >
          <b-icon icon="caret-right" />
        </b-button>
      </nav>

      <!-- CONTENT -->
      <!-- DEFAULT SLIDE -->
      <b-container
        v-if="currentSlide.properties.type == 0"
        id="defaultSlide"
        class="d-flex p-0"
      >
        <section class="defaultSlideContent m-auto w-100  position-relative">
          <div class="inner bg-white rounded shadow">
            <div
              id="defaultDescription"
              class="p-3 my-3"
              v-html="currentSlide.properties.description"
            />
          </div>
        </section>
      </b-container>
      <!--/. END DEFAULT SLIDE -->
      <!-- PORTAL SLIDE -->
      <b-container
        v-if="currentSlide.properties.type == 1"
        id="portalSlide"
        class="d-flex p-0"
      >
        PORTAL
      </b-container>
      <!-- NOTE SLIDE -->
      <b-container
        v-if="currentSlide.properties.type == 2"
        id="noteSlide"
        class="d-flex p-0"
      >
        NOTE
      </b-container>
      <!-- CUSTOM CONTENT SLIDE -->
      <b-container
        ref="customSlide"
        v-if="
          currentSlide.properties.type == 3 &&
            !_.isEmpty(currentSlideCustomContent)
        "
        id="customSlide"
        class="d-flex p-0"
      >
        <div
          id="customSlideContent"
          :style="computeSlideStyle()"
          class="m-auto p-3 w-100 rounded shadow position-relative"
        >
          <div
            class="apcGrid grid-stack w-100 position-relative"
            data-gs-static-grid
            :key="'grid' + currentSlide.properties.identifier"
          >
            <template v-for="(liveItem, index) in currentSlideCustomContent">
              <div
                class="grid-stack-item"
                :key="index"
                :data-gs-x="liveItem.x"
                :data-gs-y="liveItem.y"
                :data-gs-width="liveItem.width"
                :data-gs-height="liveItem.height"
              >
                <!-- //TODO this is the parent of libuilderdiagramLive so the height and width prop has to go here  -->
                <div class="grid-stack-item-content">
                  <component
                    :is="'liBuilder' + capitalize(liveItem.type) + 'Live'"
                    :block="liveItem"
                    :model="liveItem"
                    :componentStyle="
                      computedWidgetComponentStyle(liveItem.design)
                    "
                    :componentClass="
                      computedWidgetComponentClass(liveItem.design.classes)
                    "
                    @btnClick="btnClick"
                    @goToSlide="goToSlide"
                  />
                </div>
              </div>
            </template>
          </div>
        </div>
      </b-container>
      <!-- IF ELSE SLIDE -->
      <b-container
        v-if="currentSlide.properties.type == 4"
        id="ifelseSlide"
        class="d-flex p-0"
      >
      </b-container>
      <!-- /. END CONTENT -->
    </template>
  </main>
</template>
<script>
import { GridStack } from "gridstack";
export default {
  name: "presentation",
  data() {
    return {
      pageTitle: "Loading ....",
      currentSlideButtons: null,
      currentSlide: null,
      currentSlideContentSettings: null,
      currentSlideCustomContent: null,
      asideContainer: null,
      presentationObject: "appcourt/api_presentation",
      nodesObject: "appcourt/api_presentation_node",
      linksObject: "appcourt/api_presentation_link",
      container: {
        pause: {
          class: "",
        },
      },
      grid: undefined,
    };
  },
  computed: {
    breadCrumbs: {
      get() {
        return this.$store.getters["liPresentation/getBreadCrumbs"];
      },
    },
    presentationAdditionalName: {
      get() {
        return this.$route.params.identifier != null
          ? "presentation_" + this.$route.params.identifier
          : "presentation_null";
      },
    },
    nodesAdditionalName: {
      get() {
        return this.$route.params.identifier != null
          ? "nodes_" + this.$route.params.identifier
          : "nodes_null";
      },
    },
    linksAdditionalName: {
      get() {
        return this.$route.params.identifier != null
          ? "links_" + this.$route.params.identifier
          : "links_null";
      },
    },
    scene: {
      get() {
        return this.$store.getters["liDynamic/getCollectionItem"](
          this.presentationAdditionalName
        );
      },
    },
    nodes: {
      get() {
        return this.$store.getters["liDynamic/getCollection"](
          this.nodesAdditionalName
        );
      },
    },
    links: {
      get() {
        return this.$store.getters["liDynamic/getCollection"](
          this.linksAdditionalName
        );
      },
    },
    presentation() {
      // return this.$store.getters["liDynamic/getCollection"](this.name);
      return this.getPresenatation();
    },
  },
  mounted() {
    this.liPresenting = true;
    //eslint-disable-next-line
    document.addEventListener("visibilitychange", function(ev) {
      // console.debug(ev);
      // console.log(`Tab state : ${document.visibilityState}`);
      if (document.visibilityState == "visible") {
        this.liLoading = true;
        window.location.reload();
      }
    });
    if (
      this.nodes === "error" ||
      this.links == "error" ||
      this.scene == "error"
    ) {
      this.setup();
    }
  },
  activated() {
    this.liPresenting = true;
    if (
      this.nodes === "error" ||
      this.links == "error" ||
      this.scene == "error"
    ) {
      this.setup();
    } else {
      this.getSlide();
    }
  },
  filters: {
    labelTruncate(val) {
      let n = val.indexOf("-"),
        label;
      label = val.slice(n + 1);
      return label;
    },
  },
  methods: {
    computeSlideStyle() {
      let slideStyle = "";
      slideStyle += "margin-top:100px; ";
      // this.currentSlide.name_visible == 0 &&
      // this.currentSlide.description_visible == 0
      //   ? "margin-top:100px; "
      //   : "";
      slideStyle +=
        this.currentSlideContentSettings.inlineStyles.backgroundColor != ""
          ? "background-color:" +
            this.currentSlideContentSettings.inlineStyles.backgroundColor +
            "; "
          : "background-color:#fff;";
      slideStyle +=
        this.currentSlideContentSettings.inlineStyles.textColor != ""
          ? "color:" +
            this.currentSlideContentSettings.inlineStyles.textColor +
            "; "
          : "";
      return slideStyle;
    },
    computedWidgetComponentClass(item) {
      let classValue = "";
      for (const value of Object.values(item)) {
        if (value) {
          classValue += value + " ";
        }
      }
      return classValue;
    },
    computedWidgetComponentStyle(item) {
      let styleValue = "";
      for (const [key, value] of Object.entries(item.inlineStyles)) {
        if (!this._.isEmpty(value)) {
          const styleAttribute = key.replace(/[A-Z]/g, "-$&").toLowerCase();
          let ignore = false;
          ignore =
            !item.settings.paddingLinked && styleAttribute === "padding"
              ? true
              : false;
          ignore =
            !item.settings.marginLinked && styleAttribute === "margin"
              ? true
              : false;
          ignore =
            !item.settings.borderSizeLinked && styleAttribute === "border-width"
              ? true
              : false;
          ignore =
            !item.settings.borderRadiusLinked &&
            styleAttribute === "border-radius"
              ? true
              : false;
          styleValue += !ignore
            ? styleAttribute + ":" + this.computeWidgetStyleValue(value) + "; "
            : "";
        }
      }
      return styleValue;
    },
    computeWidgetStyleValue(value) {
      let styleValue = value.toString().replace(/[,]+/g, " ");
      if (
        this.isNumeric(styleValue) &&
        !styleValue.endsWith("px", 2) &&
        !styleValue.endsWith("%", 1)
      ) {
        styleValue += "px";
      }
      return styleValue;
    },
    scrollIntoView() {
      document.documentElement.scrollTop =
        this.$refs.customSlide.offsetTop - 80;
    },
    slideNext() {
      this.$router.go(1);
    },
    slideBack() {
      this.$router.go(-1);
    },
    resetPresentation() {
      this.$router.push({
        path: `/presentation/${this.$route.params.identifier}`,
      });
    },
    openAside(container) {
      if (this.asideContainer != null) {
        this.closeOpenAside(container);
      } else {
        this.asideContainer = container;
        document.body.classList.add("--apcAsideOpen");
        this.showAside();
      }
    },
    closeOpenAside(newContainer) {
      this.container[this.asideContainer].class = "animating";
      let timeout = setTimeout(() => {
        clearTimeout(timeout);
        this.container[this.asideContainer].class = "";
        this.asideContainer = newContainer;
        this.showAside();
      }, 500);
    },
    closeAside() {
      this.container[this.asideContainer].class = "";
      let timeout = setTimeout(() => {
        clearTimeout(timeout);
        this.asideContainer = null;
        document.body.classList.remove("--apcAsideOpen");
      }, 500);
    },
    showAside() {
      let timeout = setTimeout(() => {
        clearTimeout(timeout);
        this.container[this.asideContainer].class = "active";
      }, 500);
    },
    computedButtonStyle(button) {
      let style = "";
      if (button.properties.bgColour != "") {
        style +=
          "background-color:" + button.properties.bgColour + "!important; ";
        style += "border-color:" + button.properties.bgColour + "!important;";
      }
      if (button.properties.textColour != "") {
        style += "color:" + button.properties.textColour + "!important;";
      }
      return style;
    },
    getSlide() {
      // GET THE CURRENT SLIDE
      this.currentSlide =
        this.$route.params.slide != null
          ? this.findNodeWithID(this.$route.params.slide)
          : this.getStartSlide();

      if (this.currentSlide.properties.type == 0) {
        // DEFAULT SLIDE
        this.currentSlideButtons = this.findNodeLinksOut(
          this.currentSlide.properties.identifier
        );
        this.currentSlideContentSettings = JSON.parse(
          this.currentSlide.properties.content_settings
        );
        this.pageTitle =
          this.currentSlide.properties.name +
          " | " +
          this.presentation.scene.properties.name +
          " | AppCourt";
        this.$store.dispatch("liPresentation/ADD_BREADCRUMB", {
          presentation: {
            name: this.scene.properties.name,
          },
          slide: {
            presentationIdentifier: this.currentSlide.properties
              .foreign_identifier,
            slideIdentifier: this.currentSlide.properties.identifier,
            slideName: this.currentSlide.properties.name,
          },
        });
        this.liLoading = false;
      } else if (this.currentSlide.properties.type == 1) {
        // PORTAL
        let portalTo = JSON.parse(this.currentSlide.properties.portal_link);
        this.liLoading = false;
        this.$router.push(
          "/presentation/" + portalTo.presentation + "/slide/" + portalTo.slide
        );
      } else if (this.currentSlide.properties.type == 3) {
        // CUSTOM CONTENT
        // DEFAULT SLIDE
        this.currentSlideButtons = this.findNodeLinksOut(
          this.currentSlide.properties.identifier
        );
        this.currentSlideContentSettings = JSON.parse(
          this.currentSlide.properties.content_settings
        );
        this.currentSlideCustomContent = JSON.parse(
          this.currentSlide.properties.content
        );
        this.setupCustomSlideContent();

        this.pageTitle =
          this.currentSlide.properties.name +
          " | " +
          this.presentation.scene.properties.name +
          " | AppCourt";
        this.$store.dispatch("liPresentation/ADD_BREADCRUMB", {
          presentation: {
            name: this.scene.properties.name,
          },
          slide: {
            presentationIdentifier: this.currentSlide.properties
              .foreign_identifier,
            slideIdentifier: this.currentSlide.properties.identifier,
            slideName: this.currentSlide.properties.name,
          },
        });
        this.liLoading = false;
      } else if (this.currentSlide.properties.type == 4) {
        // IF / ELSE SLIDE

        this.currentSlideButtons = this.findNodeLinksOut(
          this.currentSlide.properties.identifier
        );
        this.currentSlideButtons.forEach((statement) => {
          console.log(statement.properties.ifRequest);
          if (!this._.isEmpty(statement.properties.ifRequest)) {
            if (statement.properties.ifRequest === "through") {
              this.btnClick(statement);
            } else {
              const ifArr = statement.properties.ifRequest.split(".");

              if (ifArr.length > 1) {
                let test = this.pathIndex(
                  this.$store.state.liPresentation,
                  statement.properties.ifRequest
                );
                console.log("MULTI LEVEL");
                console.log("test", test);
                if (test === statement.properties.isValue) {
                  this.btnClick(statement);
                }
              } else {
                let test = this.$store.state.liPresentation.custom[
                  statement.properties.ifRequest
                ];
                console.log("FLAT LEVEL");
                console.log("test", test);
                if (test === statement.properties.isValue) {
                  this.btnClick(statement);
                }
              }
            }
          } else {
            const h = this.$createElement;
            const messageNoStartSlide = h("div", {
              domProps: {
                innerHTML:
                  "<h3>We're sorry!</h3><h5><i>There is an error in your statements.</h5>",
              },
            });
            this.$bvModal.msgBoxOk([messageNoStartSlide], {
              title: "Syntax error",
              headerBgVariant: "warning",
              headerTextVariant: "dark",
              size: "md",
              okTitle: "ok",
              buttonSize: "md",
              okVariant: "warning",
              okClass: "px-3",
              cancelVariant: "outline-danger",
              cancelClass: "d-none",
              headerClass: "p-2 border-bottom-0",
              bodyClass: "text-center p-5",
              footerClass:
                "p-2 border-top-0 apcModalFooter justify-content-center",
            });
          }
        });
        // IF/ ELSE
        this.liLoading = false;
      }
    },
    setupCustomSlideContent() {
      console.log(this.currentSlide.properties.type);
      if (this.grid != undefined) {
        this.grid.destroy(false);
      }
      if (
        !this._.isEmpty(this.currentSlideCustomContent) &&
        this.currentSlide.properties.type == 3
      ) {
        this.$nextTick(() => {
          this.grid = GridStack.init(
            {
              staticGrid: true,
              float: true,
              cellHeight: "50px",
              animate: false,
            },
            ".apcGrid"
          );
        });
      }
    },
    addCustomToStore(toValue) {
      const VALUE_LOCATOR = toValue.indexOf("=");
      const VALUE_TO_SET = toValue.substring(0, VALUE_LOCATOR);
      const ACTUAL_VALUE = toValue.substring(VALUE_LOCATOR + 1, toValue.length);

      this.$store.dispatch("liPresentation/SET_CUSTOM_VALUE", {
        path: VALUE_TO_SET,
        value: ACTUAL_VALUE,
      });
    },
    multiIndex(obj, is) {
      // obj,['1','2','3'] -> ((obj['1'])['2'])['3']
      return is.length ? this.multiIndex(obj[is[0]], is.slice(1)) : obj;
    },
    pathIndex(obj, is) {
      // obj,'1.2.3' -> multiIndex(obj,['1','2','3'])
      return this.multiIndex(obj, is.split("."));
    },
    btnClick(button) {
      const TO = this.findNodeWithID(button.properties.to);
      if (!this._.isEmpty(button.properties.toValue)) {
        this.addCustomToStore(button.properties.toValue);
      }
      this.goToSlide(TO);
    },
    goToSlide(slide, action = null) {
      this.liLoading = true;
      if (action == "aside") {
        this.closeAside();
        let timeout = setTimeout(() => {
          clearTimeout(timeout);
          this.$router.push(
            "/presentation/" +
              this.$route.params.identifier +
              "/slide/" +
              slide.properties.identifier
          );
          this.liLoading = false;
        }, 1000);
      } else {
        const canLink = this._.has(slide, "properties")
          ? this.findNodeWithID(slide.properties.identifier)
          : undefined;
        if (canLink != undefined) {
          this.$router.push(
            "/presentation/" +
              this.$route.params.identifier +
              "/slide/" +
              slide.properties.identifier
          );
        } else {
          const h = this.$createElement;
          const messageNoStartSlide = h("div", {
            domProps: {
              innerHTML:
                "<h3>We're sorry!</h3><h5><i>The slide for this link doesn't exist, please try an other button to continue.</i></h5>",
            },
          });
          this.$bvModal.msgBoxOk([messageNoStartSlide], {
            title: "Link to non existing slide",
            headerBgVariant: "warning",
            headerTextVariant: "dark",
            size: "md",
            okTitle: "ok",
            buttonSize: "md",
            okVariant: "warning",
            okClass: "px-3",
            cancelVariant: "outline-danger",
            cancelClass: "d-none",
            headerClass: "p-2 border-bottom-0",
            bodyClass: "text-center p-5",
            footerClass:
              "p-2 border-top-0 apcModalFooter justify-content-center",
          });
        }
        this.liLoading = false;
      }
    },
    getStartSlide() {
      let startSlide = this.presentation.nodes.filter((item) => {
        return item.properties.start === "1";
      });
      return startSlide[0];
    },
    findNodeLinksOut(identifier) {
      const nodeLinksOut = this.presentation.links.filter((item) => {
        return identifier === item.properties.from;
      });

      return this._.orderBy(
        nodeLinksOut,
        [(node) => node.properties.sequence],
        ["asc"]
      );
    },
    findNodeWithID(nIdentifier) {
      let node = this.presentation.nodes.find((item) => {
        return nIdentifier === item.properties.identifier;
      });
      return node;
    },
    // SETUP FUNCTIONS
    getPresenatation() {
      let presentation = {
        scene: this.scene,
        nodes: this.nodes,
        links: this.links,
      };
      return presentation;
    },
    getCollection(object, name) {
      return this.$store.dispatch("liDynamic/GET_COLLECTION", {
        vm: this,
        object: object,
        additionalName: name,
        where: `foreign_identifier  = '${this.$route.params.identifier}'`,
        orderBy: "id ASC",
      });
    },
    getCollectionItem(object, name) {
      return this.$store.dispatch("liDynamic/GET_COLLECTION", {
        object: name,
        additionalName: object,
        vm: this,
        where: `identifier = '${this.$route.params.identifier}'`,
        options: {
          update: "store",
        },
      });
    },
    setup() {
      if (!this.liLoading) {
        this.liLoading = true;
        this.getCollectionItem(
          this.presentationAdditionalName,
          this.presentationObject
        ).then(() => {
          this.getCollection(this.nodesObject, this.nodesAdditionalName).then(
            () => {
              this.getCollection(
                this.linksObject,
                this.linksAdditionalName
              ).then(() => {
                this.getSlide();
              });
            }
          );
        });
      }
    },
  },
};
</script>
