<template>
  <div  v-if="block.value != ''" class="liBuilderVideoLive builderWidget" :style="!_.isEmpty(componentStyle)? componentStyle :'' " >
    <template v-if="block.value.widgetValue != ''" >
      <div class="videoContainer">
      <b-embed
        type="iframe"
        aspect="16by9"
        :src="'https://www.youtube.com/embed/'+block.value.widgetValue+'?rel=0'"
        allowfullscreen
      />      
      </div>
    </template>
  </div>
</template>
<script>
export default {
  name:'liBuilderiFrameLive',
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
};
</script>
