<template v-cloak>
  <div v-if="!_.isEmpty(editorData)" class="liBuilderTextLive builderWidget" :style="!_.isEmpty(componentStyle)?componentStyle :'' " :class="componentClass">
    <div class="inner d-block w-100">
      <div v-html="editorData"/>
    </div>
  </div>
</template>
<script>
export default {
  name: "liBuilderTextLive",
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
  data() {
    return {
      editorData: null,
    };
  },
  mounted(){
    this.editorData = this.block.value.widgetValue;
  }
};
</script>