<template>
<div class="liBuilderObjectLive builderWidget flex-column">
    <h3 class="w-100 d-block bg-white m-0 py-3 px-4">
      {{block.value.widgetValue.entity.name}}
    </h3>
    <div class="w-100 d-block">
      <div class="table-responsive table-hover  table-light table-striped" :style="!_.isEmpty(componentStyle)?componentStyle :'' " :class="componentClass">
        <table class="table">
          <thead>
            <template v-for="(header, index) in block.value.widgetValue.headers">
              <th :key="index" class="liTableColumn liTableColumnLive header" :class="(header.id === '_li_name')? 'table-secondary':''">
                {{header.label}}
              </th>
            </template>
          </thead>
          <tbody>
            <tr v-for="(item, index) in block.value.widgetValue.items" :key="index" class="liTableRow liTableRowLive">
              <template v-for="(comlumnId, index) in block.value.widgetValue.headers">
                <td :key="index" :class="(comlumnId.id === '_li_name')? 'table-secondary':''" :width="(comlumnId.id === '_li_mandatory')? '40px':''">
                   <!-- NAME COLUMN -->
                    <template v-if="comlumnId.id === '_li_name'">
                      <b>{{item[comlumnId.id]}}</b>
                    </template>
                    <!-- TYPE COLUMN -->
                    <template v-if="comlumnId.id === '_li_type'">
                        {{item[comlumnId.id]}}
                    </template>
                    <!-- MANDATORY COLUMN -->
                    <template v-if="comlumnId.id === '_li_mandatory'">
                      <div class="text-center">
                        <span :class="(item[comlumnId.id] ==='1')? 'fas fa-check':''"/>
                      </div>
                    </template>
                    <!-- DEFAULT VALUE COLUMN -->
                    <template v-if="comlumnId.id === '_li_defaultvalue'">
                      {{item[comlumnId.id]}}
                    </template>
                    <!-- FOREIGN KEY COLUMN -->
                    <template v-if="comlumnId.id === '_li_foreignkey'">
                      {{item[comlumnId.id]}}
                    </template>
                    <!-- COMMENTS KEY COLUMN -->
                    <template v-if="comlumnId.id === '_li_comments'">
                    {{item[comlumnId.id]}}
                    </template>
                  
                </td>
              </template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "liBuiderObjectLive",
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
};
</script>