<template v-cloak>
  <div v-if="block.value != ''" class="liBuilderButtonsLive builderWidget" :style="!_.isEmpty(componentStyle)? componentStyle :'' " :class="componentClass +block.value.additional.settings.alignment+ ' '+block.value.additional.settings.group">
    <div class="inner overflow-auto">
        <template v-for="(button, index) in block.value.widgetValue">
            <b-button @click.prevent="btnClicked(button)" 
                      class="liButton" 
                      :key="'liBtn'+index" 
                      :class="'text-'+block.value.additional.settings.textalign"
                      :style="computeBtnStyle(button)" 
                      :target="button.target" 
                      :disabled="(button.to !='')? false:true"
                       >
              <span v-if="(!_.isEmpty(button.icon))" class="mr-2" :class="button.icon" />
              <template v-if="button.name != ''">
                {{button.name}}
              </template>
              <template v-else>
                <i>No label set...</i>
              </template>
            </b-button >
        </template>
     </div>
  </div>
</template>
<script>
export default {
  name: "liBuilderButtonsLive",
  data(){
    return{
    }
  },
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
  methods:{
    computeBtnStyle(button){
      let style = "";
      style += "background-color:" + button.bgColour +"; ";
      style += "border-color:" + button.bgColour +"; ";
      style += "color:" + button.textColour +"; ";
      return style;
    },
    btnClicked(button){
       if (button.target == '_self'){
         let send = {
           properties:button
         };
         this.$emit('btnClick',send);
       } else if (button.target == '_blank'){
          let url = button.url;
          const win = window.open(url, '_blank');
          win.focus();
       }
    }
  }
};
</script>
