<template v-cloak>
  <form class="liBuilderFormLive builderWidget" :style="!_.isEmpty(componentStyle)?componentStyle :'' " :class="componentClass">
    <div class="d-block w-100">
      <template v-for="(input, index) in block.value.widgetValue">
        <div class="liBuilderListItem " :ref="'formItem_'+index" :key="index" :style="'max-width:'+input.width+'%'">
          <b-form-group class="liBuilderFormItem px-3" :id="'input-group-'+String(input.id)">
            <!-- LABEL -->
            <label :class="{'text-muted': input.label == ''}" v-if="input.type != 'hr' && input.type != 'text' ">{{(input.label != '')? input.label : 'Your label here...' }}</label>
            <!-- REGULAR INPUT -->
            <b-form-input v-if="input.type == 'input'" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- PASSWORD INPUT -->
            <b-form-input v-if="input.type == 'password'" type="password" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- EMAIL INPUT -->
            <b-form-input v-if="input.type == 'email'" type="email" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- DATE INPUT -->
            <b-form-input v-if="input.type == 'date'" type="date" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- TIME INPUT -->
            <b-form-input v-if="input.type == 'time'" type="time" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- RANGE INPUT -->
            <b-form-input v-if="input.type == 'range'" type="range" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- COLOR INPUT -->
            <b-form-input v-if="input.type == 'color'" type="color" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'input'+String(input.id)"></b-form-input>
            <!-- TEXTAREA -->
            <b-form-textarea rows="3" v-if="input.type == 'textarea'" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :placeholder="input.placeholder" :key="'textarea'+String(input.id)"></b-form-textarea>
            <!-- TEXTAREAWITHBUILDER -->
            <textAreaWithBuilderLive rows="3" v-if="input.type == 'textareawithbuilder'" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" required :key="'textareawithbuilder'+String(input.id)"></textAreaWithBuilderLive>
            <!-- CHECKBOX -->
            <b-form-group v-if="input.type == 'checkbox'" class="mb-0">
              <template v-if="input.placeholder != ''"><span class="d-inline-block mb-2">{{input.placeholder}}</span></template>
              <b-form-checkbox-group :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" :options="computeSelectOptions(input.selectedOptions)" :key="'checkbox'+String(input.id)"></b-form-checkbox-group>
            </b-form-group>
            <!-- RADIO -->
            <b-form-group v-if="input.type == 'radio'" class="mb-0">
              <template v-if="input.placeholder != ''"><span class="d-inline-block mb-2">{{input.placeholder}}</span></template>
              <b-form-radio-group :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" :options="computeSelectOptions(input.selectedOptions)" :key="'radio'+String(input.id)"></b-form-radio-group>
            </b-form-group>
            <!-- SELECT -->
            <b-form-select v-if="input.type == 'select'" :id="String(input.id)" :v-model="(input.column =='')? model['liNoColumn'+String(input.id)]: model[input.column]" :options="computeSelectOptions(input.selectedOptions)" :key="'select'+String(input.id)">
              <template #first>
                <b-form-select-option disabled>
                  <template v-if="input.placeholder != ''">{{input.placeholder}}</template>
                  <template v-else>-- Please select an option --</template>
                </b-form-select-option>
              </template>
            </b-form-select>
            <!-- DATEPICKER -->
            <b-form-datepicker v-if="input.type == 'datepicker'" :id="String(input.id)" v-model="input.value" :key="'datepicker'+String(input.id)"></b-form-datepicker>
            <!-- DESIGN -->
            <!-- HR -->
            <hr v-if="input.type == 'hr'" class="my-0" />
            <!-- TEXT -->
            <div v-if="input.type == 'text'" v-html="input.label" />
          </b-form-group>
        </div>
      </template>
    </div>
  </form>
</template>
<script>
export default {
  name: "liBuiderFormLive",
  props: {
    block: null,
    model: null,
    componentStyle: null,
    componentClass: null,
  },
  methods: {
    computeSelectOptions(value) {
      return value.split("\n");
    },
  },
};
</script>

