<template v-cloak>
  <div v-if="block.value != ''" class="liBuilderHotspotsLive builderWidget" :style="!_.isEmpty(componentStyle)? componentStyle :'' " :class="componentClass">
    <!-- HOTSPOT CANVAS -->
    <div class="liBuilderHotspotsCanvas" >
     <!-- HOTSPOTS -->
      <template v-for="(button, index) in block.value.widgetValue">
        <div class="liBuilderHotSpotItem" 
          :ref="'hotSpotItem_'+button.id" 
          :key="index"  
          :style="'left: '+button.x+'%; top: '+button.y+'%;'"
          >
          <!-- HOTSPOT -->
            <template v-if="button.type === 'link'">
              <div class="liBuilderHotSpot link" :style="computeBtnStyle(button)" :class="(button.size != '')? ' li-'+button.size : ''">
                <a @click.prevent="btnClicked(button)" 
                  class="liHotspotItem " 
                  :class="(_.isEmpty(button.icon))? 'empty' : ''"
                  :style="computeBtnStyle(button)" 
                  :target="button.target" 
                  :disabled="(button.to !='')? false:true"
                    >
                 <span v-if="(!_.isEmpty(button.icon))" class="icon" :class="(button.icon != '')? ' fa-'+button.size + ' '+ button.icon : button.icon"/>
                 <span v-if="(!_.isEmpty(button.name))" class="label" :style="'background-color:' + button.bgColour +';'">{{button.name}}</span>
              </a>
            </div>
          </template>
          <template v-else>
            <b-popover 
              :target="'liHotspotPopOverItem'+button.id" 
              :placement="button.popoverPosition" 
              :triggers="button.popoverTrigger" 
              :title="button.name" 
              :content="button.description">
            </b-popover>
            <div class="liBuilderHotSpot popOver" 
                :id="'liHotspotPopOverItem'+button.id" 
                :style="computeBtnStyle(button)" 
                :class="(button.size != '')? ' li-'+button.size : ''"
                >
              <span class="icon" :class="(button.icon != '')? ' fa-'+button.size + ' '+ button.icon : button.icon"/>
            </div>
              
          </template>
          
          <!-- /.END HOTSPOT PREVIEW -->
        </div>
      </template>
      <!-- /.END HOTSPOTS -->
      <!-- IMAGE -->
      <img :src="`${apiPublicPath}?guid=${guid}&file=${block.value.additional.settings.image}`" class="img-fluid liHotspotBgImage" v-if="block.value.additional.settings.image !=''"/>
      <!-- /. END IMAGE -->
     </div>
    <!-- /. END HOTSPOT CANVAS -->
  </div>
</template>
<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_VIEW_URL;
export default {
  name: "liBuilderHotspotsLive",
  data(){
    return{
      apiPublicPath: API_URL_PUBLIC,
      guid:localStorage.getItem('liSession'),
    }
  },
  props: {
    block: null,
    componentStyle:null,
    componentClass:null,
  },
  methods:{
    computeBtnStyle(button){
      let style = "";
      style += "background-color:" + button.bgColour +"; ";
      style += "border-color:" + button.bgColour +"; ";
      style += "color:" + button.textColour +"; ";
      return style;
    },
    btnClicked(button){
        if (button.target == '_self'){
          let send = {
           properties:button
         };
         this.$emit('btnClick',send);
       } else if (button.target == '_blank'){
          let url = button.url;
          const win = window.open(url, '_blank');
          win.focus();
       }
    }
  }
};
</script>
