<template>
  <div class="liBuilderDiagram">
    <!-- DIAGRAM CANVAS -->
    <div v-resize ref="diagramParent" @resize="canvasResize">
      <!-- //? width and height are fixed on a 2.5K screen -->
      <svg
        id="svg"
        :height="49.66666666666667 * this.block.height + 'px'"
        :width="90.45454545454545 * this.block.width + 'px'"
        class="liBuilderLinksCanvas"
        ref="diagramParent"
      >
        >

        <!-- links in json file-->
        <template v-if="this.block.value.widgetValue.links.length >= 0">
          <template v-for="link in this.block.value.widgetValue.links">
            <g
              @mousedown="() => linkMouseDown(link)"
              @mouseover="() => linkMouseOver(link)"
              @mouseleave="() => linkMouseLeave(link)"
              :key="link.id + `links`"
              style="cursor: pointer"
            >
              <!-- straight lines -->
              <g v-if="link.shape === 'straight'">
                <line
                  :marker-start="
                    'url(#arrow-start' +
                      calcCordsFromNodeId(link, 'from', link.shape).x +
                      ')'
                  "
                  :marker-end="
                    'url(#arrow-end' +
                      calcCordsFromNodeId(link, 'to', link.shape).x +
                      ')'
                  "
                  :style="svgLinkStyle(link)"
                  :x1="calcCordsFromNodeId(link, 'from', link.shape).x"
                  :y1="calcCordsFromNodeId(link, 'from', link.shape).y"
                  :x2="calcCordsFromNodeId(link, 'to', link.shape).x"
                  :y2="calcCordsFromNodeId(link, 'to', link.shape).y"
                />
                <!-- marker start -->
                <marker
                  v-if="
                    link.iconStart !== 'none' &&
                      !_.isEmpty(link) &&
                      link.shape === 'straight'
                  "
                  :id="
                    'arrow-start' +
                      calcCordsFromNodeId(link, 'from', link.shape).x
                  "
                  :style="svgLinkStyle(link)"
                  markerUnits="strokeWidth"
                  :viewbox="markerStart(link).viewbox"
                  :refX="markerStart(link).refX"
                  :refY="markerStart(link).refY"
                  :markerWidth="markerStart(link).markerWidth"
                  :markerHeight="markerStart(link).markerHeight"
                  orient="auto"
                >
                  <path :d="markerStart(link).path"></path>
                </marker>

                <!-- Marker end -->
                <marker
                  v-if="
                    link.iconEnd !== 'none' &&
                      !_.isEmpty(link) &&
                      link.shape === 'straight'
                  "
                  :id="
                    'arrow-end' + calcCordsFromNodeId(link, 'to', link.shape).x
                  "
                  :style="svgLinkStyle(link)"
                  markerUnits="strokeWidth"
                  :viewbox="markerEnd(link).viewbox"
                  :refX="markerEnd(link).refX"
                  :refY="markerEnd(link).refY"
                  :markerWidth="markerEnd(link).markerWidth"
                  :markerHeight="markerEnd(link).markerHeight"
                  orient="auto"
                >
                  <path :d="markerEnd(link).path"></path>
                </marker>

                <text
                  :style="svgLinkStyle(link)"
                  :x="
                    midPointStraightLine(
                      calcCordsFromNodeId(link, 'from', link.shape).x,
                      calcCordsFromNodeId(link, 'from', link.shape).y,
                      calcCordsFromNodeId(link, 'to', link.shape).x,
                      calcCordsFromNodeId(link, 'to', link.shape).y
                    ).x
                  "
                  :y="
                    midPointStraightLine(
                      calcCordsFromNodeId(link, 'from', link.shape).x,
                      calcCordsFromNodeId(link, 'from', link.shape).y,
                      calcCordsFromNodeId(link, 'to', link.shape).x,
                      calcCordsFromNodeId(link, 'to', link.shape).y
                    ).y
                  "
                >
                  {{ link.text }}
                </text>
              </g>

              <!-- lines with hooks -->
              <g
                :style="svgLinkStyle(link)"
                v-if="link.shape === 'hooked' && !_.isEmpty(link)"
              >
                <path
                  :marker-start="
                    'url(#arrow-start' +
                      calcLinkWithHookSourceAndDestination(link)
                  "
                  :marker-end="
                    'url(#arrow-end' +
                      calcLinkWithHookSourceAndDestination(link)
                  "
                  stroke-width="1"
                  :stroke="link.color"
                  fill="none"
                  :d="calcLinkWithHookSourceAndDestination(link)"
                ></path>
                <text
                  v-if="
                    calcMidPointOfHookedLineForText(
                      calcLinkWithHookSourceAndDestination(link)
                    ).display
                  "
                  :x="
                    calcMidPointOfHookedLineForText(
                      calcLinkWithHookSourceAndDestination(link)
                    ).point.x
                  "
                  :y="
                    calcMidPointOfHookedLineForText(
                      calcLinkWithHookSourceAndDestination(link)
                    ).point.y
                  "
                >
                  {{ link.text }}
                </text>
              </g>
              <!-- marker-start for hooked lines -->
              <marker
                v-if="
                  link.iconStart !== 'none' &&
                    !_.isEmpty(link) &&
                    link.shape === 'hooked'
                "
                :id="'arrow-start' + calcLinkWithHookSourceAndDestination(link)"
                :style="svgLinkStyle(link)"
                markerUnits="strokeWidth"
                :refX="markerStart(link).refX"
                :refY="markerStart(link).refY"
                :markerWidth="markerStart(link).markerWidth"
                :markerHeight="markerStart(link).markerHeight"
                orient="auto"
              >
                <path :d="markerStart(link).path"></path>
              </marker>

              <!-- marker-end  for hooked lines-->
              <marker
                v-if="
                  link.iconEnd !== 'none' &&
                    !_.isEmpty(link) &&
                    link.shape === 'hooked'
                "
                :id="'arrow-end' + calcLinkWithHookSourceAndDestination(link)"
                :style="svgLinkStyle(link)"
                markerUnits="strokeWidth"
                :viewbox="markerEnd(link).viewbox"
                :refX="markerEnd(link).refX"
                :refY="markerEnd(link).refY"
                :markerWidth="markerEnd(link).markerWidth"
                :markerHeight="markerEnd(link).markerHeight"
                orient="auto"
              >
                <path :d="markerEnd(link).path"></path>
              </marker>
            </g>
          </template>
        </template>
        <!-- nodes -->
        <template v-for="node in block.value.widgetValue.nodes">
          <g
            class="node-container"
            :key="node.id"
            @mousedown="() => nodeMouseDown(node)"
            @mouseover="() => nodeMouseOver(node)"
            @mouseleave="() => nodeMouseLeave(node)"
          >
            <!-- node -->

            <Node
              :x="getNodeX(node)"
              :y="getNodeY(node)"
              :isMouseInNode="isMouseInNode"
              :node="node"
              :hoverMeNode="hoverMeNode"
              :selectedNode="selectedNode"
              :live="live"
            ></Node>

            <!-- node icon -->

            <g v-if="!_.isEmpty(node.icon)">
              <circle
                v-if="node.icon !== null"
                :stroke="node.iconColor"
                stroke-width="1"
                fill="white"
                :r="iconSizeFunction(node).svg"
                :cx="
                  getNodeX(node) +
                    calculatePadding(
                      nodeAnchorPointsWithHeightAndWidth(node).width,
                      nodeAnchorPointsWithHeightAndWidth(node).height,
                      'top'
                    ).x
                "
                :cy="
                  getNodeY(node) +
                    calculatePadding(
                      nodeAnchorPointsWithHeightAndWidth(node).width,
                      nodeAnchorPointsWithHeightAndWidth(node).height,
                      'top'
                    ).y -
                    10
                "
              />
              <!-- node icon -->
              <foreignObject
                :x="
                  getNodeX(node) +
                    calculatePadding(
                      nodeAnchorPointsWithHeightAndWidth(node).width,
                      nodeAnchorPointsWithHeightAndWidth(node).height,
                      'top'
                    ).x -
                    9
                "
                :y="
                  getNodeY(node) +
                    calculatePadding(
                      nodeAnchorPointsWithHeightAndWidth(node).width,
                      nodeAnchorPointsWithHeightAndWidth(node).height,
                      'top'
                    ).y -
                    20
                "
                width="30"
                height="30"
              >
                <span
                  :STYLE="
                    `font-size:${iconSizeFunction(node).span}%; color:${
                      node.iconColor
                    }`
                  "
                  :class="node.icon"
                ></span>
              </foreignObject>
            </g>

            <g id="one" v-if="live && popovershowWhenOnHoverOrClick(node).show">
              <!-- title rectangle -->
              <svg
                height="33"
                fill="none"
                stroke-width="3"
                xmlns="http://www.w3.org/2000/svg"
                :x="popoverTextHolder(node).titleHolderX"
                :y="popoverTextHolder(node).titleHolderY"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  :width="popoverTextHolder(node).biggestWidth"
                  :height="popoverTextHolder(node).heightTitleHolder"
                  fill="#E4E4E4"
                  stroke="#CCCCCC"
                />
              </svg>

              <text
                font-size="1.1667em"
                :x="popoverTextHolder(node).titleX"
                :y="popoverTextHolder(node).titleY"
              >
                <tspan :x="popoverTextHolder(node).titleX" dy="0.5em">
                  {{ popoverTextHolder(node).splittedTitle[0] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).titleX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedTitle[1] }}
                </tspan>
              </text>

              <!-- text rectangle -->
              <!-- //TODO fix text on top of node -->
              <svg
                :x="popoverTextHolder(node).textHolderX"
                :y="popoverTextHolder(node).textHolderY"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  :width="popoverTextHolder(node).biggestWidth"
                  :height="popoverTextHolder(node).heightTextHolder"
                  fill="white"
                  stroke="#CCCCCC"
                  stroke-width="3"
                />
              </svg>

              <text
                font-size="1.1667em"
                :x="popoverTextHolder(node).textX"
                :y="popoverTextHolder(node).textY"
              >
                <tspan :x="popoverTextHolder(node).textX">
                  {{ popoverTextHolder(node).splittedText[0] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[1] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[2] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[3] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[4] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[5] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[6] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[7] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[8] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[9] }}
                </tspan>
                <tspan :x="popoverTextHolder(node).textX" dy="1.2em">
                  {{ popoverTextHolder(node).splittedText[10] }}
                </tspan>
              </text>

              <!-- pointer triangle -->

              <svg
                v-if="popoverTextHolder(node).isOneLine"
                :x="
                  getNodeX(node) +
                    calculatePadding(
                      nodeAnchorPointsWithHeightAndWidth(node).width,
                      nodeAnchorPointsWithHeightAndWidth(node).height,
                      'top'
                    ).x -
                    15
                "
                :y="
                  getNodeY(node) +
                    calculatePadding(
                      nodeAnchorPointsWithHeightAndWidth(node).width,
                      nodeAnchorPointsWithHeightAndWidth(node).height,
                      'top'
                    ).y -
                    18
                "
                width="18"
                height="16"
                fill="none"
                stroke-width="3"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.8415 0.519038L9.16542 14.0865L1.25368 0.655071L16.8415 0.519038Z"
                  fill="white"
                  stroke="#CCCCCC"
                />
              </svg>
            </g>

            <!-- </svg> -->
          </g>
        </template>

        <use xlink:href="#one" />
      </svg>
    </div>
  </div>
</template>

<script>
const API_URL_PUBLIC = process.env.VUE_APP_API_URL;
// EXPLAIN IMAGE
// import explainImage from "../../assets/images/SVG/liBuilder-Button-1-dark.svg";

// from jayh

import _ from "lodash";
import { connect } from "/src/JayhsWork/svg.js";
import Node from "/src/JayhsWork/Node.vue";

export default {
  name: "liBuilderDiagram",
  components: {
    Node,
  },
  data() {
    return {
      // work of dennis
      rtime: null,
      rezizeTimeout: false,
      delta: 400,
      apiPublicPath: API_URL_PUBLIC,
      // explainImage: explainImage,
      modalItemInit: false,
      diagramCanvas: [0, 0],
      // work of jayh

      //diagram
      // diagramCanvas: [400, 900],
      // standard values when border is present in settings
      // diagramBorder: ["10px", "solid", "#b6bdd2"],
      mouseCordinates: { x: 0, y: 0 },

      // new
      localValue: null,

      //nodes
      nodeMap: new Map(),
      targetNode: -1,
      isMouseInNode: null, //boolean
      hoverMeNode: null,
      selectedNode: null,
      isMoving: false,

      // Links
      isMouseInLink: false,
      selectedLink: null,
      hoverMeLink: [],

      // live version
      live: true,
    };
  },
  props: {
    block: null,
    componentStyle: null,
    componentClass: null,
  },
  mounted() {
    this.$nextTick(() => {
      this.init = false;
    });

    // height and width is solid testing on a 2.5K screen
    // setting gridstack 1
    // 11 width  6 height    995px  298px
    //  :data-gs-width="liveItem.width"
    // :data-gs-height="liveItem.height"

    this.localValue = this.block.value;

    this.calculateDiagramSize();
  },
  computed: {},
  methods: {
    // CANVAS METHODS from dennis
    canvasResize(e) {
      this.diagramCanvas = [e.detail.width, e.detail.height];
    },
    nodesFindIndex(id) {
      return this.block.value.widgetValue.nodes.findIndex((node) => {
        return id === node.id;
      });
    },
    btnClicked(button) {
      if (button.target == "_self") {
        let send = {
          properties: button,
        };
        this.$emit("btnClick", send);
      } //else if (button.target == "_blank") {
      // let url = button.url;
      // const win = window.open(url, "_blank");
      // win.focus();
      // // }
    },

    // END DENNIS

    // methods from jayh

    //!  still in the testing fase
    calculateDiagramSize() {
      let arrayXValues = [];
      let arrayYValues = [];
      let height = null;
      let width = null;

      this.localValue.widgetValue.nodes.map((node) => {
        arrayXValues.push(node.x);
        arrayYValues.push(node.y);
      });

      height = Math.max(...arrayYValues) + 250;
      width = Math.max(...arrayXValues) + 200;

      return {
        width: width,
        height: height,
      };
    },
    popoverTextHolder(node) {
      let isOneLine = true;

      // check which one is the biggest and get size, this will be the width-size of the holder
      let title = node.title;
      let text = node.text;

      // create newLines in text
      let splittedTitle = title.split(/((?:\w+ ){5})/g).filter(Boolean);
      let splittedText = text.split(/((?:\w+ ){5})/g).filter(Boolean);

      if (splittedTitle.length > 1 || splittedText.length > 1) {
        isOneLine = false;
      }

      // biggest width
      let biggestLen = Number;
      let titleWidth = Math.max(...splittedTitle.map((el) => el.length));
      let textWidth = Math.max(...splittedText.map((el) => el.length));

      if (titleWidth > textWidth) {
        biggestLen = titleWidth * 8;
      } else {
        biggestLen = textWidth * 8;
      }

      // check how tall the 5 words are in the splitted strings (height)
      let ammountOfLinesTitle = splittedTitle.length;
      if (ammountOfLinesTitle === 0) {
        ammountOfLinesTitle = 1;
      }

      let heightTitleHolder = ammountOfLinesTitle * 32; // each line is 32px high
      let ammountOfLinesText = splittedText.length;
      if (ammountOfLinesText === 0) {
        ammountOfLinesText = 1;
      }
      let heightTextHolder = ammountOfLinesText * 21;

      // check when position close to the border width and height
      let xChange = Number;
      let yChange = Number;

      let diagramWidth = 90.45454545454545 * this.block.width;
      let diagramHeight = 49.66666666666667 * this.block.height;

      // width guard
      if (node.x + biggestLen + 100 > diagramWidth) {
        xChange = node.x + biggestLen + 50 - diagramWidth;
      } else {
        xChange = 0;
      }
      // textholder height guard
      if (node.y - heightTextHolder < 0) {
        if (heightTextHolder < 280) {
          console.log("komt et hier");
          yChange = -heightTextHolder / 2.3;
        } else {
          yChange = -parseInt(node.y + heightTextHolder / 250);

          console.log(yChange);
        }
      } else if (node.y + heightTextHolder > diagramHeight) {
        console.log("voert die dit uit");
        yChange = node.y + heightTextHolder - diagramHeight;
      } else {
        console.log("komt die hier");
        yChange = 0;
      }

      // title positions

      let titleX =
        this.getNodeX(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).x -
        45 -
        xChange;

      let titleY =
        this.getNodeY(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).y -
        65 -
        yChange;

      // text positions
      let textX =
        this.getNodeX(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).x -
        45 -
        xChange;

      let textY =
        this.getNodeY(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).y -
        30 -
        yChange;

      // holder position text
      let textHolderX =
        this.getNodeX(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).x -
        50 -
        xChange;

      let textHolderY =
        this.getNodeY(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).y -
        50 -
        yChange;

      // titleholder
      let titleHolderX =
        this.getNodeX(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).x -
        50 -
        xChange;

      let titleHolderY =
        this.getNodeY(node) +
        this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          "top"
        ).y -
        80 -
        yChange;

      // for top only
      return {
        biggestWidth: biggestLen,
        heightTitleHolder: heightTitleHolder,
        heightTextHolder: heightTextHolder,
        splittedTitle: splittedTitle,
        splittedText: splittedText,
        textX: textX,
        textY: textY,
        isOneLine: isOneLine,
        titleX: titleX,
        titleY: titleY,
        textHolderX: textHolderX,
        textHolderY: textHolderY,
        titleHolderX: titleHolderX,
        titleHolderY: titleHolderY,
      };
    },

    popovershowWhenOnHoverOrClick(node) {
      if (
        this.selectedNode !== null &&
        node.popoverTrigger === "click" &&
        node.action === "popover" &&
        this.selectedNode.id === node.id
      ) {
        return { show: true, position: node.popoverPosition };
      } else if (
        this.hoverMeNode !== null &&
        node.popoverTrigger === "hover" &&
        node.action === "popover" &&
        this.hoverMeNode.id === node.id
      ) {
        return { show: true, position: node.popoverPosition };
      } else {
        return { show: false, position: null };
      }
    },

    midPointStraightLine(x1, y1, x2, y2) {
      return { x: (x1 + x2) / 2, y: (y1 + y2) / 2 };
    },

    // GET NODE CORDINATES
    getNodeX(node) {
      if (node.dx) return node.x + node.dx;
      return node.x;
    },
    getNodeY(node) {
      if (node.dy) return node.y + node.dy;
      return node.y;
    },

    //MOUSE DOWN
    nodeMouseDown(node) {
      this.$set(this, "targetNode", node.id);
      if (this.selectedNode === null) {
        this.$set(this, "selectedNode", node);
      } else {
        this.$set(this, "selectedNode", null);
      }
      if (node.action === "link" && !_.isEmpty(node.to)) this.btnClicked(node);
    },

    linkMouseDown(link) {
      this.$set(this, "selectedLink", link);
      if (!this.targetNode) {
        this.$set(this, "selectedNode", null);
      }
    },
    //MOUSE MOVE
    mouseMove(event) {
      // let boundingClientRect = event.currentTarget.getBoundingClientRect();
      this.$set(this.mouseCordinates, "x", event.offsetX);
      this.$set(this.mouseCordinates, "y", event.offsetY);

      // node dx dy
      if (!this.targetNode < 0) return;
      this.$set(this, "isMoving", true);
      const node = this.nodeMap.get(this.targetNode);
      if (!node) return;

      node.dx = event.offsetX - node.x;
      node.dy = event.offsetY - node.y;

      this.nodeMap.set(this.targetNode, node);
      this.$set(this.localValue.widgetValue, "nodes", [
        ...this.nodeMap.values(),
      ]);
    },

    //MOUSEUP
    mouseUp() {
      // link
      // if (this.hoverMeNode === null && this.isNewLinkMoving) {
      //   this.$set(this, "isNewLinkMoving", false);
      //   return;
      // }

      if (this.targetNode < 0 || this.selectedLink != null) {
        this.$set(this, "selectedNode", null);
      }
      if (!this.hoverMeLink) {
        this.$set(this, "selectedLink", null);
      }
      const node = this.nodeMap.get(this.targetNode);
      if (!node) return;

      if (node.dx === 0 && node.dy === 0) return;
      node.x = node.x + node.dx;
      node.y = node.y + node.dy;
      node.dx = 0;
      node.dy = 0;
      this.nodeMap.set(this.targetNode, node);
      this.$set(this.localValue.widgetValue, "nodes", [
        ...this.nodeMap.values(),
      ]);
      this.$set(this, "targetNode", -1);
      this.$set(this, "isMoving", false);
    },

    svgLinkStyle(link) {
      let style = "";

      if (this.isMouseInLink && link.id === this.hoverMeLink.id) {
        style += "filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));";
        style += `stroke: ${link.color};`;
      } else {
        style += `stroke: ${link.color};`;
      }
      style += "stroke-width:1;";
      style += "fill:none";

      return style;
    },

    nodeMouseOver(node) {
      this.$set(this, "isMouseInNode", true);
      this.$set(this, "hoverMeNode", node);
    },
    nodeMouseLeave() {
      this.$set(this, "isMouseInNode", false);
      this.$set(this, "hoverMeNode", null);
    },

    linkMouseOver(link) {
      this.$set(this, "isMouseInLink", true);

      let lodashIndex = _.findIndex(this.links, { id: link.id });

      this.$set(this, "hoverMeLink", link);
      this.$set(this.hoverMeLink, "index", lodashIndex);
    },
    linkMouseLeave() {
      this.$set(this, "isMouseInLink", false);
      this.$set(this, "hoverMeLink", null);
    },
    // markers for lineEnd and start
    markerEnd(link) {
      if (link.iconEnd === "arrow") {
        return {
          path: "M2,2 L10,6 L2,10 L6,6 L2,2",
          refX: 9,
          refY: 6,
          markerWidth: "12",
          markerHeight: "20",
          viewbox: "0 0 12 12",
        };
      }

      if (link.iconEnd === "many") {
        return {
          path: "M 11.018 0.028 L 0.031 6.001 L 10.979 12.019",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconEnd === "oneOrMany") {
        return {
          path:
            "M 11.018 0.028 L 0.031 6.001 L 10.979 12.019 M -0.014 -0.013 L 0.007 11.999",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconEnd === "one") {
        return {
          path: "M 11.103 -0.026 M -0.014 -0.013 L 0.007 11.999",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconEnd === "oneAndOnlyOne") {
        return {
          path: "M 11.103 -0.026 M -0.014 -0.013 L 0.007 11.999 M 5 0 L 5 12",
          refX: 11,
          refY: 6,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 20 20",
        };
      }

      if (link.iconEnd === "zeroOrMany") {
        return {
          path:
            "M 8 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 13 12 L 24 17 M 13 12 L 24 7 M 13 12 L 24 12",
          refX: 23,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 30 30",
        };
      }
      if (link.iconEnd === "zeroOrOne") {
        return {
          path:
            "M 5 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 15 7 L 15 17",
          refX: 22,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 40 40",
        };
      }
    },
    markerStart(link) {
      if (link.iconStart === "fork") {
        return {
          path: "M2,2 L10,6 L2,10 L6,6 L2,2",
          refX: 9,
          refY: 6,
          markerWidth: "12",
          markerHeight: "12",
          viewbox: "0 0 12 12",
        };
      }
      if (link.iconStart === "many") {
        return {
          path: "M 11.018 0.028 L 22.002 6.002 L 10.999 12.978",
          refX: 11,
          refY: 6,
          markerWidth: "20",
          markerHeight: "20",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "oneOrMany") {
        return {
          path:
            "M 11.018 0.028 L 22.002 6.002 L 10.999 12.978 M 22.004 0.015 L 21.992 13",
          refX: 11,
          refY: 6,
          markerWidth: "22",
          markerHeight: "22",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "one") {
        return {
          path: "M 22.004 0.015 L 21.992 13",
          refX: 11,
          refY: 6,
          markerWidth: "22",
          markerHeight: "22",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "oneAndOnlyOne") {
        return {
          path: "M 22.004 0.015 L 21.992 13 M 27 0 L 27 13",
          refX: 11,
          refY: 6,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 20 20",
        };
      }
      if (link.iconStart === "zeroOrMany") {
        return {
          path:
            "M 16 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 11 12 L 0 12 M 11 12 L 0 17 M 11 12 L 0 7",
          refX: 0,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 40 40",
        };
      }
      if (link.iconStart === "zeroOrOne") {
        return {
          path:
            "M 16 12 m -5 0 a 5 5 0 1 0 10 0 a 5 5 0 1 0 -10 0 M 5 7 L 5 17",
          refX: 0,
          refY: 12,
          markerWidth: "30",
          markerHeight: "30",
          viewBox: "0 0 40 40",
        };
      }
    },

    // CALCULATIONS for the 90 anchor point jumps AUTOMATED
    calcCordsFromNodeId(link, toOrFrom, linkShape) {
      if (this.localValue.widgetValue.links.size === 0) return { x: 0, y: 0 }; // empty linklist guard
      const nodeFrom = _.find(this.localValue.widgetValue.nodes, {
        id: link.fromNodeId,
      });
      const nodeTo = _.find(this.localValue.widgetValue.nodes, {
        id: link.toNodeId,
      });

      if (!nodeFrom.y || !nodeFrom.x) return { x: 0, y: 0 };

      let node = null;
      let position = null;

      if (toOrFrom === "from") {
        node = nodeFrom;
        if (linkShape === "straight") {
          position = this.calcPositionWithDegree(nodeFrom, nodeTo, toOrFrom);
        }
      } else {
        node = nodeTo;
        if (linkShape === "straight") {
          position = this.calcPositionWithDegree(nodeFrom, nodeTo);
        }
      }
      let alignmentPadding = null;

      // from
      if (toOrFrom === "from") {
        alignmentPadding = this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node).width,
          this.nodeAnchorPointsWithHeightAndWidth(node).height,
          position
        );
      } //to
      else {
        alignmentPadding = this.calculatePadding(
          this.nodeAnchorPointsWithHeightAndWidth(node, nodeTo).width,
          this.nodeAnchorPointsWithHeightAndWidth(node, nodeTo).height,
          position
        );
      }

      return {
        x: node.x + (node.dx ? node.dx : 0) + alignmentPadding.x,
        y: node.y + (node.dy ? node.dy : 0) + alignmentPadding.y,
      };
    },

    nodeAnchorPointsWithHeightAndWidth(node) {
      // rectangle kind of shapes
      if (
        node.shape === "rectangle" ||
        node.shape === "document" ||
        node.shape === "roundedrectangle" ||
        node.shape === "skewedrectangle" ||
        node.shape === "subroutine" ||
        node.shape === "container"
      ) {
        return { height: 30, width: 130 };
      }
      // square or cicle kind of shapes with same height and width
      if (
        node.shape === "circle" ||
        node.shape === "or" ||
        node.shape === "summing-junction" ||
        node.shape === "internal-storage"
      ) {
        return {
          height: 130 / 2,
          width: 130 / 2,
        };
      }
      if (node.shape === "diamond") {
        return {
          height: 130 / 1.5,
          width: 130 / 1.77,
        };
      }
      if (
        node.shape === "database" ||
        node.shape === "off-page" ||
        node.shape === "off-page-top"
      ) {
        return {
          height: 80,
          width: 80,
        };
      }
      // triangle shapes
      if (node.shape === "merge") {
        return {
          height: 65,
          width: 70,
        };
      }
    },

    // straight lines
    calcPositionWithDegree(nodeFrom, nodeTo, toOrFrom) {
      const midPointFromX =
        nodeFrom.x + (nodeFrom.dx ? nodeFrom.dx : 0) + nodeFrom.width / 2;
      const midPointFromY =
        nodeFrom.y + (nodeFrom.dy ? nodeFrom.dy : 0) + nodeFrom.height / 2;
      const midPointToX =
        nodeTo.x + (nodeTo.dx ? nodeTo.dx : 0) + nodeTo.width / 2;
      const midPointToY =
        nodeTo.y + (nodeTo.dy ? nodeTo.dy : 0) + nodeTo.height / 2;
      let degree = null;

      function inRange(x, min, max) {
        return (x - min) * (x - max) <= 0;
      }
      degree =
        (Math.atan2(midPointFromY - midPointToY, midPointFromX - midPointToX) *
          180) /
          Math.PI +
        180;

      // if degree is 44 it will be to the right if degree is 46 it will be to the left (steps of 45)
      if (inRange(degree, 0, 34)) {
        if (toOrFrom === "from") {
          return "right";
        } else return "left";
      }
      if (inRange(degree, 35, 144)) {
        if (toOrFrom === "from") {
          return "bottom";
        } else return "top";
      }
      if (inRange(degree, 145, 226)) {
        if (toOrFrom === "from") {
          return "left";
        } else {
          return "right";
        }
      }
      // if (inRange(degree, 227, 317)) {
      if (inRange(degree, 227, 317)) {
        if (toOrFrom === "from") {
          return "top";
        } else {
          return "bottom";
        }
      }
      if (inRange(degree, 318, 360)) {
        if (toOrFrom === "from") {
          return "right";
        } else {
          return "left";
        }
      }
    },

    calculatePadding(width, height, alignment) {
      if (!["top", "right", "bottom", "left"].includes(alignment)) return "top";
      const cases = {
        top: {
          x: width / 2,
          y: 0,
        },
        right: {
          x: width,
          y: height / 2,
        },
        bottom: {
          x: width / 2,
          y: height,
        },
        left: {
          x: 0,
          y: height / 2,
        },
      };

      return cases[alignment];
    },

    calcLinkWithHookSourceAndDestination(link) {
      const nodeFrom = _.find(this.localValue.widgetValue.nodes, {
        id: link.fromNodeId,
      });
      const nodeTo = _.find(this.localValue.widgetValue.nodes, {
        id: link.toNodeId,
      });
      if (!nodeFrom.y || !nodeFrom.x) return " ";
      if (!nodeTo.y || !nodeTo.x) return " ";

      let alignmentFrom = this.calcPositionWithDegree(nodeFrom, nodeTo, "from");
      let cordsFrom = this.calcCordsFromNodeId(link, "from", "straight");

      let alignmentTo = this.calcPositionWithDegree(nodeFrom, nodeTo, "to");
      let cordsTo = this.calcCordsFromNodeId(link, "to", "straight");
      let paths = connect(
        cordsFrom.x,
        cordsFrom.y,
        cordsTo.x,
        cordsTo.y,
        alignmentFrom,
        alignmentTo
      ).paths;

      return paths;
    },
    // TODO fix why round things and square nodes dont work properly
    calcMidPointOfHookedLineForText(paths) {
      // boolean when to display text
      let displayText = false;

      // when link is not straight but with 2 hooks
      let path = paths[2];
      // when the line is straight there will be less pathss
      if (paths.length === 3) {
        path = paths[1];
      }

      let stringX1 = path.substr(1, 3);
      let stringY1 = path.substr(5, 3);
      let stringX2 = path.substr(9, 3);
      let stringY2 = path.substr(13, 3);

      // check if strings contain letters inside of them so that when it does it will not place a text.
      const paragraph = stringX1 + stringY1 + stringX2 + stringY2;

      // any character that is not a word character or whitespace
      const regex = /[a-zA-Z]/;

      if (paragraph.search(regex) === -1) {
        displayText = true;
      }

      // TODO when a letter comes in remove the letter this comes because the substring is always 3 (can me more specific when automated)
      let x1 = parseInt(stringX1);
      let y1 = parseInt(stringY1);
      let x2 = parseInt(stringX2);
      let y2 = parseInt(stringY2);

      return {
        point: this.midPointStraightLine(x1, y1, x2, y2),
        display: displayText,
      };
    },

    newLineFromNodeType(fromNodeId) {
      const nodeFrom = _.find(this.localValue.widgetValue.nodes, {
        id: fromNodeId,
      });

      if (
        nodeFrom.shape === "rectangle" ||
        nodeFrom.shape === "document" ||
        nodeFrom.shape === "roundedrectangle" ||
        nodeFrom.shape === "skewedrectangle" ||
        nodeFrom.shape === "subroutine"
      ) {
        return {
          x: nodeFrom.x + nodeFrom.width / 2,
          y: nodeFrom.y + nodeFrom.height,
        };
      }

      if (nodeFrom.shape === "diamond") {
        return { x: nodeFrom.x + 20, y: nodeFrom.y + 90 };
      }

      if (nodeFrom.shape === "database") {
        return {
          x: nodeFrom.x + 80 / 2,
          y: nodeFrom.y + 80,
        };
      }
      if (
        nodeFrom.shape === "circle" ||
        nodeFrom.shape === "or" ||
        nodeFrom.shape === "summing-junction" ||
        nodeFrom.shape === "internal-storage"
      ) {
        return {
          x: nodeFrom.x + 80 / 2,
          y: nodeFrom.y + 70,
        };
      }
    },
    iconSizeFunction(node) {
      if (node.iconSize === "s") {
        return { svg: 15, span: 100 };
      }
      if (node.iconSize === "m") {
        return { svg: 20, span: 150 };
      }
      if (node.iconSize === "l") {
        return { svg: 25, span: 200 };
      }
    },
  },
};
</script>
