/* Clear Button */

.vs__clear {
  fill: $vs-controls-color;
  padding: 0;
  border: 0;
  // background-color: transparent;
  cursor: pointer;
  // margin-right: 8px;

  position: absolute;
  top: 3px;
  right: 25px;
  background: $white;
  border: 1px solid $gray-300;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  line-height: 1;
}
