<template>
  <div class="liColorFieldSmall" :class="size">
    <div class="color-picker mb-0" ref="colorpicker">
      <!-- ACTUAL VALUE -->
      <input type="text" class="form-control colorPicker" v-model="colorValue" @focus="showPicker()" @input="updateFromInput" hidden />
      <div class="color-picker-container cursor-pointer" :class="containerClass" @click.prevent="showPicker()">
        <!-- LABEL -->
        <label class="mr-3 my-0 ml-1 p-0" v-if="label != null">{{ label }}</label>
        <!-- CLEAR BUTTON -->
        <div v-if="showRemove !=0 && !_.isEmpty(colorValue)" variant="light" @click.prevent="clear" class="clear border">
          <b-icon-x />
        </div>
        <!-- PREVIEW -->
        <span class="current-color" :style="'background-color: ' + value+';'" />
        <!-- COLOR PICKER -->
        <compactColorPicker :value="colorValue" @input="updateFromPicker" v-if="displayPicker && type === 'compact'" />
        <sketchColorPicker :preset-colors="presetColors" :value="colorValue" @input="updateFromPicker" v-if="displayPicker && type === 'sketch'" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "liColorFieldSmall",
  data() {
    return {
      colors: {
        hex: "",
      },
      displayPicker: false,
      init:true,
    };
  },
  mounted() {
    this.updateColors(this.colorValue);
  },
  props: {
    presetColors:{
      default: () => [],
      type: Array,
      required: false,
    },
    initialValue:{
      default: "",
      type: String,
      required: false,
    },
    value: null,
    label: null,
    type:{
      default: "compact",
      type: String,
      required: false,
    },
    size: {
      default: "",
      type: String,
      required: false,
    },
    border: {
      default: true,
      type: Boolean,
      required: false
    },
    containerClass: {
      default: '',
      type: String,
      required: false
    },
    showRemove: null,
  },
  computed: {
    colorValue: {
      cache: false,
      get() {
        if (this.value == null ){
          return '';
        } else {
          return this.value;
        }
      },
      set(newValue) {
        if (this.init == true){
          this.init = false;
          this.$emit("input", newValue);
        } else {
          this.$emit("input", newValue);
          if (this.type != 'sketch'){
            this.$emit("changeColor");
          }

        }
        return newValue;
      },
    },
  },
  methods: {
    clear() {
        this.colorValue = "";
    },
    updateColors(color) {
      let _color = color;
      if (color == undefined || color == "") {
        _color = "";
      }
      if (_color.slice(0, 1) == "#") {
        this.colorValue = _color;
      } else if (_color.slice(0, 4) == "rgba") {
        console.log("not hex but RGBA");
         
      } else {
        this.colorValue = "";
        this.colors = {
          hex: "",
        };
      }
    },
    showPicker() {
      document.addEventListener("click", this.documentClick);
      this.displayPicker = true;
    },
    hidePicker() {
      
      if (this.type == 'sketch'){
        console.log('hide?');
        this.$emit("changeColor");
      }
      document.removeEventListener("click", this.documentClick);
      this.displayPicker = false;
    },
    togglePicker() {
      this.displayPicker ? this.hidePicker() : this.showPicker();
    },
    updateFromInput() {
      this.updateColors(this.value);
    },
    updateFromPicker(color) {
      this.colors = color;
      if (color.rgba.a == 1) {
        this.colorValue = color.hex;
      } else {
        this.colorValue =
          "rgba(" +
          color.rgba.r +
          ", " +
          color.rgba.g +
          ", " +
          color.rgba.b +
          ", " +
          color.rgba.a +
          ")";
      }
    },
    documentClick(e) {
      var el = this.$refs.colorpicker,
        target = e.target;
      if (el != undefined && el !== target && !el.contains(target)) {
        this.hidePicker();
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.colorPicker {
  width: 0% !important;
}
.current-color {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.color-picker-container {
  height: 32px;
  max-height: 39px;
  border-radius: 50px;
  padding: 4px;
}
.sm {
  .color-picker-container {
    height: 33px;
    max-height: 33px;
    width: 33px;
    max-width: 33px;
    padding: 4px;
    .current-color {
      width: 23px;
      height: 23px;
      border-radius: 50px;
    }
  }
}
.xs {
  .color-picker-container {
    height: 25px;
    max-height: 25px;
    width: 25px;
    max-width: 25px;
    padding: 3px 3px;
    .current-color {
      width: 17px;
      height: 17px;
      border-radius: 50px;
    }
   .vc-compact {
    top:25px;
    }
  }
}
.left {
  .vc-compact {
    right: unset;
    left: 0;
  }
}
.clear {
  position: absolute !important;
  z-index: 3;
  right: -8px;
  top: -8px;
  background-color: #fff;
  border-radius: 20px!important;
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 0;
  padding-top:1px;
  .b-icon {
    font-size: 10px !important;
    vertical-align: text-top !important;
  }
}
</style>
