<template>
  <div class="liIconPicker" :class="containerClass">
    <div
      class="icon-picker"
      v-on-clickaway="hide"
      ref="iconpicker"
      :class="size"
    >
      <!-- ACTUAL VALUE -->
      <input
        ref="picker"
        v-model="value"
        @blur="blur"
        @focus="focus"
        type="text"
        class="iconPicker"
        hidden
      />
      <div @click.prevent="focus" class="cursor-pointer icon-picker-container">
        <!-- LABEL -->
        <label class="mr-3 my-0 ml-1" v-if="label != null">{{ label }}</label>
        <!-- CLEAR BUTTON -->
        <div
          v-if="showRemove != 0 && !_.isEmpty(value)"
          variant="light"
          @click.prevent="clear"
          class="clear border"
        >
          <b-icon-x />
        </div>
        <!-- PREVIEW -->

        <span
          :class="value != '' && value != null ? value : ''"
          class="icon"
        ></span>
      </div>
      <!-- ICON PICKER -->
      <div v-if="focusOn" class="preview-container">
        <input
          v-model="search"
          type="search"
          class="form-control search"
          placeholder="Type to search"
        />
        <div @click="select(undefined)" class="previewer">
          <div
            v-for="(i, index) in iconsFiltered"
            :key="index"
            class="icon-preview"
          >
            <div
              @click.prevent.stop="select(i)"
              :class="['icon-wrapper', { selected: i.title == selected }]"
            >
              <i :class="i.title" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mixin as clickaway } from "vue-clickaway";
import iconList from "../../assets/js/static/iconList";

const icons = iconList.icons;
export default {
  mixins: [clickaway],
  data() {
    return {
      focusOn: false, // <- set this to false
      icons: icons,
      hoverPanel: false,
      search: "",
      beforeSelect: "",
      selected: "",
    };
  },
  props: {
    value: null,
    label: null,
    position: null,
    size: {
      default: "",
      type: String,
      required: false,
    },
    containerClass: {
      default: "",
      type: String,
      required: false,
    },
    showRemove: null,
  },
  mounted() {
    this.search = this.value == null ? "" : this.value;
  },
  watch: {
    search: function(newValue) {
      this.$emit("input", newValue);
      console.log(newValue, "newValue");
    },
  },
  methods: {
    clear() {
      this.$emit("input", "");
      this.search = "";
      this.$emit("changeIcon");
    },
    hide() {
      this.focusOn = false;
    },
    blur() {
      this.focusOn = false;
    },
    focus() {
      this.search = this.value == null ? "" : this.value;
      this.focusOn = true;
      this.hoverPanel = true;
    },
    select(icon) {
      if (icon) {
        if (this.search != this.selected) {
          this.beforeSelect = this.search;
        }
        this.$emit("input", icon.title);
        this.search = icon.title;
      }
      this.$emit("changeIcon");
      this.focusOn = false;
    },
  },
  computed: {
    iconsFiltered: function() {
      //   const search = this.value == null ? "" : this.value;
      const search = this.search;
      return this.icons.filter(
        (i) =>
          i.title.indexOf(search) !== -1 ||
          i.searchTerms.some((t) => t.indexOf(search) !== -1)
      );
    },
  },
};
</script>
<style lang="scss" scoped>
.search {
  position: absolute;
  right: 0;
  z-index: 501;
  min-width: 200px !important;
  background-color: #fff;
}
.iconPicker {
  width: 0% !important;
}
.previewer {
  padding-top: 35px;
  min-width: 200px;
}
.left {
  .previewer {
    right: unset;
    left: 0;
  }
  .search {
    right: unset;
    left: 0;
  }
}
.icon-picker-container {
  min-height: 39px;
  max-height: 39px;
  border-radius: 50px;
  min-width: 32px;
  span {
    min-width: 16px;
    text-align: center;
    width: 100%;
  }
}
.sm {
  .icon-picker-container {
    min-height: 33px;
    max-height: 33px;
    padding: 8px 8px;
    span {
      font-size: 15px;
    }
  }
}
.xs {
  .icon-picker-container {
    min-width: 25px;
    min-height: 25px;
    height: 25px;
    max-height: 25px;
    width: 25px;
    max-width: 25px;
    padding: 4px 0;
    text-align: center;
    font-size: 50%;
    .icon {
      font-size: 15px;
    }
  }
}
.clear {
  position: absolute !important;
  z-index: 3;
  right: -8px;
  top: -8px;
  background-color: #fff;
  border-radius: 20px !important;
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 0;
  padding-top: 1px;
  .b-icon {
    font-size: 10px !important;
    vertical-align: text-top !important;
  }
}
</style>
