<template>
  <div class="textAreaWithBuilderLive">
    <!-- <textarea class="form-control" v-model="builderContent" @input="emitter" :hidden="options.textArea"/> -->
    <textarea class="form-control" v-model="builderContent" @input="emitter" :hidden="options.textArea" />
    <b-button 
    class="btn-block border"
      :variant="options.variant" 
      :size="options.size" 
      @click.prevent="openBuilder"
      >
      <b-icon v-if="options.icon != ''" :icon="options.icon"/>
      {{options.label}}
    </b-button>
    <portal to="builderPortal">
      <template v-if="showBuilder">
        <aside class="liBuilderContainer">
          <liGridStack 
            v-if="builderContentJSON !=null" 
            v-model="builderContentJSON" 
            :currentNode="currentNode" 
            :currentProject="currentProject" 
            :processNodes="processNodes" 
            @closeBuilder="closeBuilder" />
        </aside>
      </template>
    </portal>
  </div>
</template>
<script>
export default {
  name: "textAreaWithBuilderLive",
  data() {
    return {
      showBuilder: false,
      builderContent: null,
      builderContentJSON: null,
    };
  },
  props: {
    value: null,
    options:{
      size: '',
      icon:'',
      label:'',
      variant:'light',
      textArea:'',
    },
    processNodes:null,
    currentNode: null,
    currentProject: null,
  },
  mounted() {
    if (!this._.isEmpty(this.value)){
      this.builderContent = this._.cloneDeep(this.value)
    } else {
      this.builderContent = JSON.stringify([]);
      this.emitter();
    }
  },
  methods: {
     openBuilder() {
      this.liLoading = true;
      this.loadBuilderContent();  
    },
    loadBuilderContent(){
      this.builderContentJSON =
        this._.isEmpty(this.builderContent)
          ? this.builderContent
          : JSON.parse(this.builderContent);
    },
    closeBuilder(commit) {
      if(commit === true){
        this.builderContent = this._.cloneDeep(this.builderContentJSON);
      }
      this.builderActive = false;
      this.builderContentJSON = null;
      this.emitter();
      this.showBuilder = false;
      // this.$root.$emit('bv::hide::popover', 'nodeCustomContent');
    },
    emitter() {
      this.$emit("input", this.builderContent);
    },
  },
  watch: {
    builderContent: function (newValue) {
      // console.log(newValue);
      this.value = newValue;
    },
    showBuilder() {
      document.body.style.overflow = this.showBuilder ? "hidden" : ""; 
    },
    builderContentJSON(val){
      if (val != null){
        let timeOut = setTimeout(() => {
          clearTimeout(timeOut);
          this.liLoading = false;  
          this.showBuilder = true;
      }, 600);
      }
    }
  },
};
</script>

